.crop-sizes__item_current {
  position: relative;

  &:before {
    content: '';
    display: block;

    position: absolute;
    top: 100%;
    left: 50%;

    width: 6px;
    height: 6px;

    background: #157cfc;
    border-radius: 50%;

    transform: translateX(-50%);
  }
}
