.crop-sizes__icon_free {
  width: 30px;
  height: 30px;

  border-color: transparent !important;
  background-color: transparent;
  background-image: svg-load('icon-crop-free.svg', fill=var(--color-base));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (max-width: 400px), (max-width: 600px) and (orientation: landscape) {
    & {
      transform: scale(.8);
    }
  }
}
