.crop-sizes__icon_free {
  width: 30px;
  height: 30px;

  border-color: transparent !important;
  background-color: transparent;
  background-image: svg-load('icons-crop-free.svg', fill=#454545);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
