.button_overlay {
  background: rgba(var(--color-base), 0.5);
  border-color: transparent;
  color: #fff;

  &:hover,
  &:focus {
    background: rgba(var(--color-base-light), 0.5);
    border-color: transparent;
    color: #fff;
  }

  &:active {
    background: rgba(var(--color-base-dark), 0.5);
  }
}
