.button_overlay {
  background: color(var(--color-base) a(50%));
  border-color: transparent;
  color: #fff;

  &:hover,
  &:focus {
    background: color(var(--color-base-light) a(50%));
    border-color: transparent;
    color: #fff;
  }

  &:active {
    background: color(var(--color-base-dark) a(50%));
  }
}
