.media__video {
  all: initial;

  width: auto;
  max-width: 100%;
  height: auto;
  min-height: 100px;
  max-height: 100%;

  @media (--mobile) and (max-height: 379px) {
    max-height: 120px;
  }

  @media (--mobile) and (min-height: 380px) and (max-height: 499px) {
    max-height: 160px;
  }

  @media (--mobile) and (min-height: 500px), (--desktop) {
    max-height: 300px;
  }
}
