.widget__progress {
  --size: calc(1em + (2 * var(--widget-padding-v)));

  display: inline-block;

  width: var(--size);
  height: var(--size);
  margin: 0 var(--widget-margin-right) 0 0;
  padding: 0;

  line-height: 0;

  vertical-align: middle;
}
