{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "modules": false,
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "h"
    }]
  ]
}
