{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "modules": false,
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "h"
    }]
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-flow",
        [
          "@babel/preset-env",
          {
            "useBuiltIns": false,
            "modules": "commonjs",
            "targets": {
              "esmodules": true
            }
          }
        ]
      ]
    }
  }
}
