.sass-cache
.idea/
node_modules/
log/
tmp/
pkg/
.vagrant
src/**/*.css

src/templates/icons.jst.ejs
src/templates/styles.jst.ejs

*.log

uploadcare.api.js
uploadcare.api.min.js
uploadcare.full.js
uploadcare.full.min.js
uploadcare.js
uploadcare.min.js
uploadcare.lang.en.js
uploadcare.lang.en.min.js
