.sass-cache
.idea/
node_modules/
log/
tmp/
pkg/
.vagrant
app/**/*.css

app/assets/javascripts/uploadcare/templates/icons.jst.ejs
app/assets/javascripts/uploadcare/templates/styles.jst.ejs

*.log
dist
