src/vendor/*

node_modules

uploadcare.api.js
uploadcare.api.min.js
uploadcare.full.js
uploadcare.full.min.js
uploadcare.js
uploadcare.min.js
uploadcare.lang.en.js
uploadcare.lang.en.min.js
public
dist
