.button_muted {
  border-color: transparent;
  border-radius: 0;

  &,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active,
  &[aria-disabled=true]:hover,
  &[aria-disabled=true]:focus,
  &[aria-disabled=true]:active {
    color: var(--fill-main-color);
  }

  &:hover, &:focus {
    color: var(--color-primary);
  }
}
