.button_overlay-secondary {
  background: color(#353535 a(50%));
  color: #fff;

  &:hover, &:focus {
    background: color(#5b5b5b a(50%));
    color: #fff;
  }

  &:active {
    background: color(#282828 a(50%));
    color: #fff;
  }
}
