.button_outline-secondary {
  background: #fff;
  border-color: #454545;
  color: #454545;

  &:hover, &:focus {
    background: #5b5b5b;
    border-color: #5b5b5b;
    color: #fff;
  }

  &:active {
    background: #282828;
    border-color: #282828;
    color: #fff;
  }
}
