.button_muted {
  border-color: transparent;

  &,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active {
    color: var(--fill-main-color);
  }

  &:hover, &:focus {
    color: var(--color-primary);
  }
}
