@import '_config.pcss';

.button {
	display: inline-block;

	box-sizing: border-box;

	white-space: nowrap;

	cursor: default;

	padding: 10px 20px;

	border: 1px solid transparent;
	border-radius: 4px;

	background: buttonface;
	color: buttontext;

	font-family: var(--font-family);
	font-size: 16px;
	line-height: 20px;

	transition: background .3s;

	&:active {
		outline: 0;
	}

	&[aria-disabled=true] {
		cursor: not-allowed;
		opacity: .65;
	}
}
