.button_outline-primary {
  background: #fff;
  border-color: currentColor;

  &,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active {
    color: var(--color-primary);
  }

  &:hover, &:focus {
    color: var(--color-primary-light);
  }

  &:active {
    color: var(--color-primary-dark);
  }
}
