.button_outline-primary {
  background: #fff;
  border-color: #3787ec;
  color: #3787ec;

  &:hover, &:focus {
    background: #34a3ff;
    border-color: #34a3ff;
    color: #fff;
  }

  &:active {
    background: #3274e7;
    border-color: #3274e7;
    color: #fff;
  }
}
