.button_outline-primary {
  background: #fff;
  color: var(--color-primary);
  border-color: currentColor;

  &:hover, &:focus {
    color: var(--color-primary-light);
  }

  &:active {
    color: var(--color-primary-dark);
  }
}
