.button_icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  color: #d7d7d7;

  min-width: auto;
  width: 60px;
  height: 60px;

  &:hover, &:focus {
    color: var(--color-primary);
  }

  &:focus {
    outline: color(var(--color-primary) a(50%)) 2px solid;
    outline-offset: 1px;
  }

  &:active {
    color: var(--color-primary-dark);
  }
}
