.button_secondary {
  background: var(--color-base);
  color: #fff;

  &:hover, &:focus {
    background: var(--color-base-light);
    color: #fff;
  }

  &:active {
    background: var(--color-base-dark);
    color: #fff;
  }
}
