.button_outline-secondary {
  background: #fff;
  border-color: currentColor;

  &,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active {
    color: var(--color-base);
  }

  &:hover, &:focus {
    color: var(--color-base-light);
  }

  &:active {
    color: var(--color-base-dark);
  }
}
