.button_outline-secondary {
  background: #fff;
  color: var(--color-base);
  border-color: currentColor;

  &:hover, &:focus {
    color: var(--color-base-light);
  }

  &:active {
    color: var(--color-base-dark);
  }
}
