.button_overlay-secondary {
  &,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active {
    background: color(var(--color-base) a(50%));
    color: #fff;
  }

  &:hover, &:focus {
    background: color(var(--color-base-light) a(50%));
    color: #fff;
  }

  &:active {
    background: color(var(--color-base-dark) a(50%));
    color: #fff;
  }
}
