.button_primary {
	background: #3787ec;
	color: #fff;

	&:hover, &:focus {
		background: #34a3ff;
		color: #fff;
	}

	&:active {
		background: #3274e7;
		color: #fff;
	}

	&[aria-disabled=true] {
		background: #d2d2d2;
		color: #f3f3f3;
	}
}
