.button_icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  color: var(--fill-main-color);

  min-width: auto;
  width: 60px;
  height: 60px;

  &:hover, &:focus {
    color: var(--color-primary);
  }

  &:focus {
    outline: var(--focus-outline);
    outline-offset: 1px;
  }

  &:active {
    color: var(--color-primary-dark);
  }
}
