$dialog-background-color: #fff;
$dialog-color: #9b9b9b;
$dialog-title-color: #2d2d2d;
$dialog-button-background-color: #454545;
$dialog-button-color: #fff;
$panel-background-color: #fff;
$panel-color: $dialog-color;
$tabs-opened-background-color: #454545;
$tabs-opened-color: #fff;
$tabs-opened-current-background-color: #fff;
$tabs-opened-current-color: #5d5d5d;
$tab-file-source-border-color: #9b9b9b;
$input-background-color: #f8f8f8;
$input-color: #9b9b9b;
