@import "_icons";
@import "_colors";
$font-family-helvetica-neue: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-helvetica-neue-thin: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Arial", sans-serif;
$dialog-desktop-min-width: 750px;
$dialog-header-height: 60px;
$dialog-gutter-x: 30px;
$dialog-gutter-y: 3vh;
$dialog-font-base-size: 16px;
$dialog-font-small-size: 13px;
$dialog-font-medium-size: 18px;
$dialog-font-large-size: 20px;
