@import "_icons";

.uploadcare-dialog-close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-indent: -9999px;

  background-image: $close-icon;
  background-repeat: no-repeat;
}