@import "_settings";

.uploadcare-dialog-close {
  position: absolute;
  z-index: 1001;
  top: 0;
  right: 0;

  width: $dialog-header-height;
  height: $dialog-header-height;

  cursor: pointer;
  text-indent: -9999px;

  background-image: $close-icon;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
