@import "_settings";
@import "dialog-buttons";
@import "dialog-close";
@import "dialog-footer";
@import "panel/dialog-panel";
@import "tabs/tabs";

.uploadcare-dialog {
  font-family: $font-family-helvetica-neue;
  font-size: $dialog-font-base-size;
  font-weight: 400;
  font-stretch: normal;
  line-height: 1;

  position: fixed;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background: $dialog-background-color;
  color: $dialog-color;

  * {
    box-sizing: border-box;
  }

  &-opened {
    overflow: hidden;

    width: auto !important;
  }

  &-inner-wrap {
    position: relative;

    overflow: auto;

    height: 100%;
  }
}

.uploadcare-dialog-title {
  font-family: $font-family-helvetica-neue-thin;
  font-size: $dialog-font-large-size;
  font-weight: 200;
  font-stretch: normal;
  line-height: 1.2;
  color: $dialog-title-color;
}

.uploadcare-dialog-normal-text {
  line-height: 1.2;
}

.uploadcare-dialog-title,
.uploadcare-dialog-normal-text {
  margin-bottom: $dialog-gutter-y * 2;
  padding-right: $dialog-gutter-x;
  padding-left: $dialog-gutter-x;
}

.uploadcare-dialog-input {
  font-size: $dialog-font-medium-size;

  border: none;
  background-color: $input-background-color;
  color: $input-color;
}
