@import "_settings";
$button-font-size: $dialog-font-medium-size;

.uploadcare-dialog-button {
  font-size: $button-font-size;

  display: inline-block;

  min-width: 150px;
  padding: ($button-font-size * 0.8) $dialog-gutter-x;

  cursor: pointer;

  border: none;
  border-radius: $dialog-gutter-x;
  background-color: $dialog-button-background-color;
  color: $dialog-button-color;

  &[disabled] {
    cursor: default;

    background-color: lighten($dialog-button-background-color, 50%);
  }
}

.uploadcare-dialog-big-button {
  @extend .uploadcare-dialog-button;
}
