@import "buttons";
@import "close";
@import "footer";
@import "panel/index";
@import "tabs/index";
$desktop-min-width: 750px;

.uploadcare-dialog {
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 400;
  font-stretch: normal;

  position: fixed;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background: $dialog-background-color;

  * {
    box-sizing: border-box;
  }

  &-opened {
    overflow: hidden;

    width: auto !important;
  }

  &-inner-wrap {
    overflow: auto;

    height: 100%;
  }
}
