.text {
  margin: 0 0 10px;
  padding: 0;

  font-size: 17.5px;
  line-height: 25px;

  &:empty {
    display: none;
  }
}

.text_muted {
  color: var(--color-gray);
}

.text_pre {
  box-sizing: border-box;

  overflow-x: auto;

  padding: 20px;

  max-width: 100%;

  background: var(--back-main-color);

  font-family: monospace;
  white-space: pre;
  text-align: left;
}

.text_size_small {
  font-size: 15px;
  line-height: 20px;
}

.text_size_medium {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
}

.text_size_large {
  font-size: 22px;
  font-weight: bold;
  line-height: 25px;
}

.text_size_extra {
  font-size: 35px;
  line-height: 45px;

  @media (--desktop) {
    font-size: 42.5px;
    line-height: 50px;
  }
}
