<div class="uploadcare--link uploadcare--widget__file-name"
     tabindex="0" role="link"><%- ext.utils.fitText(ext.name, 20) %></div><!--
--><div class="uploadcare--widget__file-size">,
    <%- ext.utils.readableFileSize(ext.size) %>
</div>
