<div class="uploadcare-crop-widget">
  <div class="uploadcare-crop-widget__image-wrap"></div>
  <div class="uploadcare-crop-widget__controls">
    <button class="uploadcare-crop-widget__done-button">done</button>
  </div>
</div>