<!DOCTYPE html>
<html>
<head>
    <meta name="uploadcare-public-key" content="demopublickey">
    <meta name="uploadcare-url-base" content="https://upload.staging0.uploadcare.com">
    <meta name="uploadcare-pusher-key" content="a2dfe15c549a403f58ee">
    <meta name="uploadcare-social-base" content="http://social.staging0.uploadcare.com/">
    <meta name="uploadcare-cdn-base" content="http://staging0.ucarecdn.com/">
    <title>Dummy</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
