@import 'widget.pcss';
@import 'widget__text.pcss';
@import 'widget__button.pcss';
@import 'widget__button_type_open.pcss';
@import 'widget__button_type_cancel.pcss';
@import 'widget__button_type_remove.pcss';
@import 'widget__dragndrop-area.pcss';
@import 'widget__file-name.pcss';
@import 'widget__file-size.pcss';
@import 'widget__progress.pcss';
