.widget {
  line-height: 2;

  position: relative;

  display: inline-block;

  vertical-align: baseline;

  &:focus {
    outline: #65a2dc auto 2px;
    outline-offset: 0;
  }

  &:active {
    outline: none;
  }
}
