.widget {
  line-height: 2;

  position: relative;

  display: inline-block;

  vertical-align: baseline;

  &:focus {
    outline: 2px dotted var(--widget-focus-outline-color);
  }

  &:active {
    outline: none;
  }
}
