.widget__progress {
  display: none;

  width: 1.8em;
  height: 1.8em;
  margin: -1em 0;
  margin-right: 1ex;
  line-height: 0;
  vertical-align: middle;

  .widget_status_started & {
    display: inline-block;
  }
}
