.widget__button_type_open {
  display: none;

  padding: .5em .8em;

  background: #65a2dc;

  &:hover, &:focus {
    background: #68b2f8;
  }

  &:active {
    background: #4a91d4;
  }

  .widget_status_error:not(.widget_option_clearable) &,
  .widget_status_ready & {
    display: inline-block;
  }
}
