.widget__button {
  display: inline-block;

  line-height: 1;

  margin: -1em 0;
  margin-right: .5ex;
  padding: .4em .6em;

  cursor: default;
  white-space: nowrap;

  border-radius: 4px;
  background: buttonface;
  color: buttontext;

  &[disabled],
  &[aria-disabled=true] {
    cursor: not-allowed;
    opacity: .65;
  }

  &:focus {
    outline: color(#157cfc a(50%)) 2px solid;
    outline-offset: 1px;
  }
}
