.widget__file-name {
  display: inline;

  cursor: pointer;

  color: #65a2dc;

  text-decoration: underline;

  &:hover, &:focus {
    color: #68b2f8;
    text-decoration: none;
  }

  &:active {
    color: #4a91d4;
  }
}
