.widget__button_type_open {
  display: none;

  padding: .5em .8em;

  background: #18a5d0;

  &:hover {
    background: #0094c0;
  }

  .widget_status_error:not(.widget_option_clearable) &,
  .widget_status_ready & {
    display: inline-block;
  }
}
