.crop-sizes__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  padding: 0;
  height: 65px;

  background: transparent;
  border-color: transparent;
  color: var(--color-base);

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background: transparent;
    border-color: transparent;
    color: var(--color-primary);
  }

  &:active {
    background: transparent;
    border-color: transparent;
    color: var(--color-primary-dark);
  }

  &:disabled,
  &[aria-disabled=true] {
    border-color: transparent !important;
  }
}

.crop-sizes__item::after {
  content: attr(data-caption);

  display: block;

  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;

  @media (max-width: 400px), (max-width: 600px) and (orientation: landscape) {
    font-size: 12px;
  }
}

.crop-sizes__item::before {
  content: '';
  display: block;

  order: 1;

  margin: 1px 0;
  width: 6px;
  height: 6px;

  background: transparent;
  border-radius: 50%;
}

.crop-sizes__item_current {
  &:hover,
  &:focus,
  &:active {
    color: var(--color-base);
  }
}

.crop-sizes__item_current::before {
  background: var(--color-primary);
}

.crop-sizes__icon {
  box-sizing: border-box;

  width: 30px;
  height: 30px;

  border: 2px solid;
  border-radius: 2px;

  color: inherit;

  transform: scale(.666);
}

.crop-sizes__icon_free {
  border: none;
  border-radius: 0;
  transform: none;
}
