@import '_config.pcss';

.files {
	flex: 1;

	display: flex;
	flex-direction: column;

	box-sizing: border-box;

	overflow-y: auto;

	width: 100%;

	@media (--desktop) {
		& {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}
