.preview[class*=preview_status_error] {
  color: red;
}

.preview:not(.preview_status_with-sizes) {
  .crop-sizes {
    display: none;
  }
}

.preview:not(.preview_status_loaded) {
  .crop-sizes {
    visibility: hidden;
  }
}
