@import "../../_settings";

.uploadcare-dialog-tabs-panel-camera {
  padding-top: 10px;
  padding-bottom: 40px;
}

.uploadcare-dialog-camera-video {
  display: none;

  width: 100%;
}

.uploadcare-dialog-camera-message {
  display: none;

  .uploadcare-dialog-camera-requested & {
    display: block;
  }
}

.uploadcare-dialog-camera-start-record,
.uploadcare-dialog-camera-stop-record,
.uploadcare-dialog-camera-cancel-record,
.uploadcare-dialog-camera-capture,
.uploadcare-dialog-camera-retry,
.uploadcare-dialog-camera-mirror {
  display: none;
}

.uploadcare-dialog-camera-requested {
  .uploadcare-dialog-camera-message {
    display: inline-block;
  }
}

.uploadcare-dialog-camera-not-found {
  display: none;
}

.uploadcare-dialog-camera-not-founded {
  .uploadcare-dialog-camera-please-allow {
    display: none;
  }
  .uploadcare-dialog-camera-not-found {
    display: block;
  }
}

.uploadcare-dialog-camera-denied {
  .uploadcare-dialog-camera-message,
  .uploadcare-dialog-camera-retry {
    display: inline-block;
  }
}

.uploadcare-dialog-camera-ready {
  .uploadcare-dialog-camera-video,
  .uploadcare-dialog-camera-capture,
  .uploadcare-dialog-camera-mirror,
  .uploadcare-dialog-camera-start-record {
    display: inline-block;
  }
}

.uploadcare-dialog-camera-recording {
  .uploadcare-dialog-camera-video,
  .uploadcare-dialog-camera-stop-record,
  .uploadcare-dialog-camera-cancel-record {
    display: inline-block;
  }
}
