@import "../../_icons";
@import "../_colors";

.uploadcare-dialog-tabs-panel-file {
  padding-top: 150px;

  background-image: $files-image;
  background-repeat: no-repeat;
  background-position: 50% 5px;
  background-size: 138px 106px;
}

.uploadcare-dialog-file {
  &-or {
    font-size: 13px;
    line-height: 1;

    margin: 18px 0 14px;

    letter-spacing: 2px;
  }

  &-sources {
    display: flex;

    width: 240px;
    margin: 0 auto;

    flex-wrap: wrap;
    justify-content: center;
  }

  &-source {
    position: relative;

    width: 50px;
    height: 50px;
    margin: 0 7px 14px;

    cursor: pointer;
    text-indent: -9999px;

    border: 1px solid $file-source-border-color;
    border-radius: 50%;

    &::before {
      position: absolute;
      top: 8px;
      left: 9px;

      width: 30px;
      height: 30px;

      content: "";

      opacity: 0.4;
      border-radius: 50%;

      @include tab-icon;
    }

    @each $tab in $tabs {
      &[data-tab=#{$tab}]::before {
        background-position: get-tab-icon-position("dark", $tab);
      }
    }
  }
}

/* TODO: its hack! remove these blocks form html */
.uploadcare-dialog-file-or.uploadcare-if-draganddrop,
.uploadcare-dialog-file-title,
.uploadcare-clouds-tip {
  display: none;
}
