@import "../../_settings";
@import "file";
@import "camera";
@import "url";

$panel-height: calc(100vh - #{$dialog-header-height});
.uploadcare-dialog-tabs-panel {
  display: none;

  min-height: $panel-height;

  text-align: center;

  &_current {
    display: block;
  }
}

.uploadcare-dialog-remote-iframe {
  display: block;

  width: 100%;
  height: $panel-height;
}
