@import 'dialog/_config.pcss';

.uploadcare-dialog-tabs-panel-url {
	padding-top: 10px;
	padding-bottom: 40px;

	.uploadcare-dialog-input {
		display: block;

		width: 100%;
		margin-bottom: calc(var(--dialog-gutter-y) * 2);
		padding: var(--dialog-gutter-y) var(--dialog-gutter-x) calc(var(--dialog-gutter-y) * 5);
	}
}
