@import "../../_settings";

.uploadcare-dialog-tabs-panel-url {
  padding-top: 10px;
  padding-bottom: 40px;

  .uploadcare-dialog-input {
    display: block;

    width: 100%;
    margin-bottom: $dialog-gutter-y * 2;
    padding: $dialog-gutter-y $dialog-gutter-x $dialog-gutter-y * 5;
  }
}
