<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<pre>

</pre>

<script>
    // var $ = uploadcare.jQuery();

    $(function() {
        var myButton = $('#some-button');
        var uploader = new uploadcare.uploader.Uploader();
        var circle = new uploadcare.ui.progress.Circle('#circle');

        myButton.click(function() {
            uploadcare.widget.showDialog().pipe(function(file) {
                var upload = uploader.upload(file);

                circle.listen(upload);

                return upload;

            }).fail(function(error){
                alert(['error', error])
            }).done(function(file) {
                alert(['file', JSON.stringify(file)]);
            });
        });
    });
</script>

<button id="some-button">hey</button>
<div id="circle"></div>
