:root {
	/* Colors */
	--widget-dragndrop-background-color: #f0f0f0;
	--widget-dragndrop-border-color: #b3b5b6;
	--widget-dragndrop-text-color: #707478;
	--widget-dragndrop-hover-background-color: #f2f7fe;
	--widget-dragndrop-hover-border-color: #438ae7;
	--widget-dragndrop-hover-text-color: #438ae7;

	--widget-focus-outline-color: #0094c0;

	--widget-circle-border-color: #e1e5e7;
	--widget-circle-color: #d0bf26;

	--widget-button-background-color: #c3c3c3;
	--widget-button-color: #fff;
	--widget-button-hover-background-color: #b3b3b3;

	--widget-button-open-background-color: #18a5d0;
	--widget-button-open-hover-background-color: #0094c0;
}
