:root {
  /* Colors */
  --gray-69: #454545;
  --gray-93: #5d5d5d;
  --gray-155: #9b9b9b;

  /* Font */
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;

  /* Helpers */
  --z-index: 2147483600;
}

@custom-media --desktop (min-width: 760px);
@custom-media --mobile (max-width: 759px);
