$dragndrop-background-color: #f0f0f0;
$dragndrop-border-color: #b3b5b6;
$dragndrop-text-color: #707478;
$dragndrop-hover-background-color: #f2f7fe;
$dragndrop-hover-border-color: #438ae7;
$dragndrop-hover-text-color: #438ae7;
