.uploadcare-mouse-focused:focus {
  outline: none;
}
.uploadcare-link,
.uploadcare-link:link,
.uploadcare-link:visited {
  cursor: pointer;
  text-decoration: none;

  border-color: initial;
  border-bottom: 1px dotted #1a85ad;
  color: #1a85ad;
}

.uploadcare-link:hover {
  color: #176e8f;
}