@import 'jCrop';

.uploadcare-crop-widget {
  @include vertical-centered;

  .jcrop-handle:before {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    margin: -9px;
  }

  > div:first-child {
    -webkit-transform: translateZ(0);  // Create rendering layer for webkit.
  }

  > img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'.5\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(50%);
  }
}


.uploadcare-crop-sizes {
  display: none;
  visibility: hidden;
  position: relative;
  top: y(.5);
  text-align: center;

  .uploadcare-dialog-preview--with-sizes & {
    display: block;
  }
  .uploadcare-dialog-preview--loaded & {
    visibility: visible;
  }
}
.uploadcare-crop-size {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 20px;

  font-size: .55em;
  cursor: pointer;
  color: #444;

  div {
    @include prefix(box-sizing, border-box);
    width: 40px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
  }
  &:after {
    content: attr(data-caption);
    position: absolute;
    top: 1px; left: 0;
    width: 100%;
    // For ie8
    text-align: center;
    margin: 0;
  }
}
.uploadcare-crop-size--current div {
  background: white;
}
