@import 'jCrop';

.uploadcare-crop-widget {
  margin: 0 auto;
  -webkit-transform: translateZ(0);  // Create rendering layer for webkit.

  .jcrop-handle:before {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    margin: -9px;
  }
}
