@media screen and (max-width: $switch-to-mobile-width) {
  .uploadcare-dialog-opened {
    overflow: visible !important;
    position: static !important;
    width: auto !important;
    height: auto !important;
    min-width: 0 !important;
  }
  // hide anything else on the page
  body.uploadcare-dialog-opened > :not(.uploadcare-dialog) {
    display: none !important;
  }

  .uploadcare-dialog {
    position: absolute;
    overflow: visible;
    background: $dialog-body-background-color;

    &:before {
      display: none;
    }
  }

  .uploadcare-dialog-inner-wrap {
    padding: 0;
    min-width: 0;
    height: 100%;
    background: $dialog-body-background-color;
  }

  .uploadcare-dialog-close {
    position: fixed;
    z-index: 2;
    color: #000;
    width: $frame-size;
    height: $frame-size;
    line-height: $frame-size*.9;
  }

  .uploadcare-dialog-footer {
    display: none;
  }

  // § Panels

  .uploadcare-dialog {
    .uploadcare-dialog-panel {
      overflow: visible;
      height: 100%;
      border-radius: 0;
      @include prefix(box-shadow, none);
    }
      .uploadcare-dialog-tabs-panel {
        padding: $frame-size 0 0;
        margin: 0;
        height: 100%;
      }
        .uploadcare-dialog-source-base-wrap {
          height: auto;
        }
        .uploadcare-dialog-remote-iframe-wrap {
          overflow: visible;
          height: 100%;
        }


    .uploadcare-dpm-file-list {
      height: auto;
    }

    // § Computer tab

    .uploadcare-dialog-file-sources,
    .uploadcare-dialog-file-or {
      display: none;
    }

    .uploadcare-dialog-file-title {
      font-size: 30px;
      margin: y(2) 0;
    }
    .uploadcare-dialog-file-drop-area {
      padding-top: 0;
    }
  }

  // § Tabs

  .uploadcare-dialog {
    .uploadcare-dialog-tabs {
      position: fixed;
      width: 100%;
      height: auto;
      float: none;
      z-index: 1;
    }
      .uploadcare-dialog-tab {
        display: none;
        height: $frame-size;
        white-space: nowrap;

        .uploadcare-dialog-icon,
        &:before {
          position: static;
          margin: 0 6px;
          vertical-align: middle;
          opacity: 1;
        }
      }
      .uploadcare-dialog-tab_current {
        display: block;
      }
      .uploadcare-dialog-tab:after {
        content: attr(title);
        font-size: 20px;
        vertical-align: middle;
      }

    .uploadcare-dialog-opened-tabs {
      .uploadcare-dialog-tabs-panel_current {
        display: none;
      }
      .uploadcare-dialog-tabs {
        position: relative;
        // overlap close icon
        z-index: 3;
      }
        .uploadcare-dialog-tab {
          display: block;
        }
    }
    .uploadcare-dialog-panel:not(.uploadcare-dialog-opened-tabs) {
      .uploadcare-dialog-tab_current {
        text-align: center;
        &:after {
          content: '';
          position: absolute;
          top: 16px; left: 14px;
          display: block;
          width: 22px;
          height: 18px;
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAOCAQAAAD+6Ta3AAAARklEQVR4Ae3SsRFEIQhAwW1IR2s3s6zTGUN+AxdK5tucAIBmOuKSY2pQbHHZVhgiweAnEixW1uC0VdSU41Xo19+te73+9AGOg1FzTMH13gAAAABJRU5ErkJggg==);
          background-size: 22px;
        }
      }
    }
  }
}
