@import "colors";

$dialog-tab-width: 70px;
$dialog-body-height: y(28);

$dialog-corner-radius: 0;
$dialog-button-text-color: #fff;
$dialog-body-background-color: #fff;
$dialog-body-shadow-color: #454545;
$dialog-body-field-color: #fff;
$dialog-body-border-color: #7c7c7c;
$dialog-body-text-color: #000;
$dialog-body-text-color-lighter: #545454;
$dialog-body-font-size: 16px;
$dialog-body-font-size-smaller: 13px;
$dialog-footer-height: y(3);
$dialog-crop-options-height: 40px;

$dialog-close-button-size: y(1.5);
$switch-to-mobile-width: 760px; // iPhone max side is 568px

html.uploadcare-dialog-opened {
  overflow: hidden;
}

.uploadcare-dialog {
  @extend %dialog-overlay-image;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  overflow: auto;
  @include vertical-centered-wrap;
  font-family: $font-family;
  text-align: center;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .uploadcare-dialog-panel {
    border-radius: $dialog-corner-radius;
    box-shadow: 0 1px 2px rgba(black, 0.35);
  }
}

.uploadcare-dialog {
  transition: opacity .33s cubic-bezier(0.05, .7, .25, 1);
  opacity: 0;
  .uploadcare-dialog-inner-wrap {
    transition: transform .33s cubic-bezier(0.05, .7, .25, 1);
    transform: scale(.8);
    transform-origin: 50% 100%;
  }
}

.uploadcare-dialog.uploadcare-active {
  opacity: 1;
  .uploadcare-dialog-inner-wrap {
    transform: none;
  }
}

.uploadcare-dialog-inner-wrap {
  @include vertical-centered;

  // We need width 100% and paddings.
  $paddings: $dialog-close-button-size + y(.5);
  position: relative;
  width: 100%;

  // 720 <= min-width <= 768.
  // 720 — when iframe size is 601
  // 768 — ipad size
  min-width: 760px;
  max-width: x(36) + $paddings; // x(36) = 900px — old widget size
  padding: 0 $dialog-close-button-size 0 y(.5);
}

.uploadcare-dialog-close {
  width: $dialog-close-button-size;
  height: $dialog-close-button-size;
  line-height: $dialog-close-button-size;
  font-size: $dialog-close-button-size * .9;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.uploadcare-dialog-panel {
  overflow: hidden;
  position: relative;
  background: $dialog-body-background-color;
  font-weight: normal;
  padding-left: $dialog-tab-width;

  :focus {
    outline: 2px dotted #0094c0;
  }
  :active,
  .uploadcare-mouse-focused:focus {
    outline: none;
  }

  &.uploadcare-panel-hide-tabs {
    padding-left: 0;
  }
}

.uploadcare-dialog-tabs {
  width: $dialog-tab-width;
  height: $dialog-body-height;
  margin-left: -$dialog-tab-width;
  float: left;
  background: $dialog-body-shadow-color;

  .uploadcare-panel-hide-tabs & {
    display: none;
  }
}

$frame-size: 60px;
.uploadcare-dialog-tab {
  height: 70px;
  position: relative;
  border-bottom: 1px solid $dialog-body-border-color;
  cursor: pointer;

  // Geometry
  .uploadcare-dialog-icon,
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: $frame-size;
    height: $frame-size;
    margin: $frame-size / -2;
  }

  // Builtin icons
  &:before {
    @extend %tab-icons-image;
    content: '';
  }

  &:hover {
    background-color: #e5e7e8;

    &:before {
      -webkit-filter: brightness(45%);
      filter: brightness(45%);
    }
  }
}

.uploadcare-dialog-tab_current {
  margin-right: -1px;
  border-bottom: none;
  &,
  &:hover {
    background-color: $dialog-body-background-color;
    &:before {
      -webkit-filter: brightness(45%);
      filter: brightness(45%);
    }
  }
}

.uploadcare-dialog-tab_hidden {
  display: none !important;
}

.uploadcare-dialog-disabled-tab {
  cursor: default;
  &:hover {
    background-color: $dialog-body-shadow-color;
    &:before {
      @extend %tab-icons-image;
    }
  }
}

.uploadcare-dialog-tab-preview {
  .uploadcare-widget-circle {
    padding: 10px;
  }
  .uploadcare-widget-circle--canvas {
    color: #828689;
    border-color: #bfbfbf;
  }
  &.uploadcare-dialog-tab_current .uploadcare-widget-circle--canvas {
    color: #d0bf26;
    border-color: #e1e5e7;
  }

  &:before {
    display: none;
  }
}

.uploadcare-dialog-tab-file:before {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2224%22%20viewBox%3D%220%200%2020%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3EFCB2FFB5-DBBF-4053-B2F5-E219F773DC69%3C%2Ftitle%3E%3Cg%20fill%3D%22%23454545%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M13.577.861v4.023c0%20.84.68%201.52%201.52%201.52h4.151L13.577.861z%22%2F%3E%3Cpath%20d%3D%22M19.248%208.175h-5.005a2.438%202.438%200%200%201-2.439-2.437V.861H2.189C1.337.86.647%201.552.647%202.404v21.392h18.6V8.176z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}

.uploadcare-dialog-tab-url:before {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2225%22%20viewBox%3D%220%200%2025%2025%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3E2145F791-0BB7-4000-8DCE-A2C1E09E1A8A%3C%2Ftitle%3E%3Cg%20fill%3D%22%23C9C9CE%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M14.36%2011.397a1.11%201.11%200%200%201-.785-1.896l1.063-1.063c-.21-.075-.431-.13-.662-.13-.521%200-1.012.203-1.378.567L9.03%2012.444a1.932%201.932%200%200%200-.566%201.378c0%20.23.053.451.128.662l.898-.898a1.11%201.11%200%201%201%201.57%201.571l-.886.888c.689.23%201.5.099%202.029-.428l3.568-3.568c.366-.366.566-.857.566-1.378%200-.231-.053-.452-.128-.662l-1.063%201.064a1.1%201.1%200%200%201-.785.324%22%2F%3E%3Cpath%20d%3D%22M19.122%207.096l-1.26%201.26a4.176%204.176%200%200%201-.52%205.263l-3.568%203.568a4.137%204.137%200%200%201-2.95%201.22%204.152%204.152%200%200%201-2.315-.698l-1.426%201.424a1.1%201.1%200%200%201-.785.325%201.11%201.11%200%200%201-.785-1.896l1.425-1.424a4.152%204.152%200%200%201-.698-2.315c0-1.117.433-2.165%201.22-2.952l3.568-3.566c1.374-1.376%203.657-1.547%205.259-.516l1.264-1.264a1.11%201.11%200%201%201%201.57%201.571M12.318.011C5.515.011%200%205.527%200%2012.33c0%206.801%205.515%2012.317%2012.317%2012.317%206.803%200%2012.319-5.516%2012.319-12.317C24.636%205.527%2019.12.01%2012.316.01%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}

.uploadcare-dialog-tab-facebook:before {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2225%22%20viewBox%3D%220%200%2014%2025%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3ED5EB8D79-7776-4952-809D-A4C1F71EDFCE%3C%2Ftitle%3E%3Cpath%20d%3D%22M12.625.005L9.478%200c-3.535%200-5.82%202.365-5.82%206.025v2.779H.494A.496.496%200%200%200%200%209.302v4.026c0%20.275.222.499.494.499h3.164v10.157c0%20.274.222.498.496.498H8.28a.497.497%200%200%200%20.496-.498V13.827h3.699a.497.497%200%200%200%20.494-.499l.002-4.026a.506.506%200%200%200-.145-.353.492.492%200%200%200-.35-.145h-3.7V6.448c0-1.131.267-1.706%201.728-1.706l2.12-.001a.496.496%200%200%200%20.494-.499V.505a.497.497%200%200%200-.493-.5z%22%20fill%3D%22%23C9C9CE%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}

.uploadcare-dialog-tab-dropbox:before {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2229%22%20height%3D%2226%22%20viewBox%3D%220%200%2029%2026%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3EBF670EB7-E2B5-4D4F-B509-9A223E8F6CC2%3C%2Ftitle%3E%3Cg%20fill%3D%22%23C9C9CE%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M8.435.17l-8.2%205.148%205.67%204.365%208.268-4.909L8.435.17M.235%2014.05l8.2%205.147%205.738-4.605-8.268-4.909-5.67%204.366M14.173%2014.592l5.739%204.605%208.2-5.148-5.67-4.366-8.269%204.909%22%2F%3E%3Cpath%20d%3D%22M28.112%205.318L19.912.17l-5.739%204.604%208.269%204.91%205.67-4.366M14.19%2015.583l-5.755%204.591-2.462-1.546v1.733L14.19%2025.1l8.218-4.738v-1.733l-2.463%201.546-5.755-4.591%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}

.uploadcare-dialog-tab-gdrive:before {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2222%22%20viewBox%3D%220%200%2025%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3E7C63AAE4-4801-4860-811B-F3B1D59527C1%3C%2Ftitle%3E%3Cg%20fill%3D%22%23C9C9CE%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M23.972%2013.607L16.133%200H8.411l7.839%2013.607zM9.659%2014.736l-3.867%206.803h14.885l3.867-6.803zM7.384%201.699L0%2014.736l3.862%206.803%207.5-13.036z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}

.uploadcare-dialog-tab-instagram:before {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3E6D51EC73-37EB-4EE2-B0C3-E9EF04F55E6D%3C%2Ftitle%3E%3Cpath%20d%3D%22M2.807%200h16.26c1.544%200%202.807%201.143%202.807%202.808v16.26c0%201.664-1.263%202.807-2.808%202.807H2.807C1.263%2021.875%200%2020.732%200%2019.067V2.807C0%201.144%201.263%200%202.807%200zm13.127%202.43a.988.988%200%200%200-.984.985v2.358c0%20.542.443.985.984.985h2.473c.541%200%20.984-.443.984-.985V3.415a.987.987%200%200%200-.984-.985h-2.473zm3.468%206.82h-1.926c.182.595.281%201.226.281%201.877%200%203.64-3.044%206.59-6.8%206.59-3.754%200-6.799-2.95-6.799-6.59%200-.651.1-1.282.281-1.876H2.431v9.24c0%20.479.39.87.87.87h15.231c.48%200%20.87-.391.87-.87v-9.24zm-8.444-2.617c-2.426%200-4.393%201.906-4.393%204.257%200%202.352%201.967%204.258%204.393%204.258%202.426%200%204.393-1.906%204.393-4.258%200-2.351-1.966-4.257-4.393-4.257z%22%20fill%3D%22%23C9C9CE%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}

.uploadcare-dialog-tab-vk:before {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2217%22%20viewBox%3D%220%200%2028%2017%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3ECFC39882-83C2-444D-8FD2-2B49CA65945D%3C%2Ftitle%3E%3Cpath%20d%3D%22M27.215%2014.471c-.476-.889-1.387-1.98-2.73-3.273l-.043-.044c-.638-.617-1.024-1.022-1.186-1.23-.296-.395-.362-.794-.2-1.2.114-.305.543-.952%201.286-1.94.39-.523.7-.942.929-1.258%201.648-2.27%202.363-3.722%202.144-4.354l-.085-.148c-.057-.089-.205-.17-.443-.244-.239-.074-.543-.086-.915-.037l-4.117.03a.516.516%200%200%200-.286.007l-.186.044-.071.037-.057.045a.645.645%200%200%200-.157.155c-.057.074-.105.16-.143.26a24.58%2024.58%200%200%201-1.53%203.332%2031.73%2031.73%200%200%201-.972%201.592c-.295.449-.543.78-.743.992-.2.212-.38.382-.543.51-.162.13-.286.184-.372.164l-.243-.06a.973.973%200%200%201-.321-.362%201.668%201.668%200%200%201-.165-.578%206.592%206.592%200%200%201-.05-.6c-.004-.168-.002-.405.008-.71.01-.307.014-.514.014-.623%200-.375.007-.782.021-1.222.015-.439.026-.787.036-1.044.01-.256.014-.528.014-.814%200-.287-.017-.511-.05-.674a2.364%202.364%200%200%200-.15-.474.79.79%200%200%200-.293-.355%201.62%201.62%200%200%200-.478-.2c-.506-.119-1.149-.183-1.93-.193-1.773-.02-2.911.099-3.417.356-.2.108-.38.256-.543.444-.171.217-.195.336-.071.355.572.089.976.301%201.215.637l.086.178c.066.128.133.355.2.681.066.326.11.686.128%201.08.048.722.048%201.339%200%201.852-.047.514-.092.914-.135%201.2a2.468%202.468%200%200%201-.193.696%202.97%202.97%200%200%201-.172.326.25.25%200%200%201-.071.074c-.124.049-.253.074-.386.074-.134%200-.296-.07-.486-.208a3.479%203.479%200%200%201-.594-.57%207.625%207.625%200%200%201-.693-1.014%2017.918%2017.918%200%200%201-.8-1.54l-.229-.43a37.483%2037.483%200%200%201-.586-1.207%2023.705%2023.705%200%200%201-.658-1.533.973.973%200%200%200-.343-.474L5.39.935A.968.968%200%200%200%205.16.809a1.476%201.476%200%200%200-.328-.096L.915.743c-.4%200-.672.093-.815.28l-.057.09A.494.494%200%200%200%200%201.348c0%20.11.029.242.086.4A49.668%2049.668%200%200%200%201.95%205.778c.672%201.293%201.256%202.335%201.751%203.124.495.79%201%201.536%201.515%202.236.515.702.855%201.15%201.022%201.348.167.198.298.346.393.444l.358.356c.228.237.564.52%201.007.851.444.331.934.657%201.473.978a7.83%207.83%200%200%200%201.88.785c.714.202%201.41.284%202.086.244h1.644c.334-.03.586-.138.758-.326l.057-.074c.038-.059.074-.15.107-.273.033-.124.05-.26.05-.408-.01-.424.021-.807.093-1.147.07-.34.152-.598.243-.77a1.891%201.891%200%200%201%20.55-.652.916.916%200%200%201%20.114-.052c.23-.079.498-.002.808.23.31.232.6.519.872.859.272.34.598.723.98%201.148.38.424.714.74%201%20.948l.286.177c.19.119.438.227.743.326s.571.124.8.074l3.66-.059c.361%200%20.643-.062.843-.185.2-.124.319-.26.357-.407.039-.149.04-.316.008-.504a1.912%201.912%200%200%200-.101-.393%201.974%201.974%200%200%200-.093-.185z%22%20fill%3D%22%23C9C9CE%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}

.uploadcare-dialog-tab-evernote:before {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2228%22%20viewBox%3D%220%200%2024%2028%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3E53D202DB-6AE1-4261-BC21-917E3FC1181C%3C%2Ftitle%3E%3Cpath%20d%3D%22M2.34%205.411h2.63c.15%200%20.271-.122.271-.27%200-.002-.032-2.25-.032-2.874v-.008c0-.513.108-.96.296-1.335l.09-.169a.058.058%200%200%200-.03.016L.459%205.824a.057.057%200%200%200-.019.03c.106-.052.25-.124.27-.132.445-.2.984-.31%201.63-.31m20.447-.55c-.209-1.116-.873-1.665-1.474-1.881-.648-.234-1.962-.476-3.613-.67-1.328-.156-2.89-.144-3.832-.115-.113-.773-.657-1.48-1.266-1.725-1.62-.65-4.125-.493-4.768-.314-.511.143-1.077.435-1.391.885-.211.3-.348.686-.35%201.224%200%20.304.01%201.022.017%201.66l.017%201.214c0%20.57-.463%201.032-1.036%201.033H2.463c-.56%200-.99.094-1.317.243-.327.148-.56.348-.735.585-.351.47-.412%201.05-.411%201.643%200%200%20.005.484.122%201.42.097.725.885%205.788%201.633%207.328.29.598.483.848%201.053%201.112%201.27.543%204.17%201.146%205.529%201.319%201.356.173%202.208.537%202.715-.525.002-.003.102-.263.24-.648.44-1.332.502-2.514.502-3.37%200-.086.127-.09.127%200%200%20.605-.115%202.742%201.502%203.315.64.226%201.964.428%203.31.585%201.217.14%202.1.618%202.1%203.734%200%201.896-.398%202.156-2.484%202.156-1.692%200-2.336.043-2.336-1.297%200-1.084%201.074-.97%201.87-.97.355%200%20.097-.264.097-.932%200-.666.417-1.05.023-1.06-2.752-.076-4.372-.003-4.372%203.432%200%203.118%201.196%203.697%205.102%203.697%203.063%200%204.142-.1%205.407-4.015.25-.773.856-3.132%201.222-7.093.231-2.504-.219-10.063-.575-11.97m-5.34%208.354a5.597%205.597%200%200%200-1.081.065c.096-.77.414-1.714%201.542-1.675%201.249.043%201.423%201.22%201.428%202.018-.527-.234-1.178-.383-1.888-.408%22%20fill%3D%22%23C9C9CE%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}

.uploadcare-dialog-tab-box:before {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2227%22%20height%3D%2215%22%20viewBox%3D%220%200%2027%2015%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3E305E19B4-C91D-4B0C-991D-530B5BEF4027%3C%2Ftitle%3E%3Cg%20fill%3D%22%23C9C9CE%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M14.52%204.447a5.245%205.245%200%200%200-4.635%202.787%205.245%205.245%200%200%200-7.782-1.739V1.076a1.05%201.05%200%200%200-2.1%200V9.78h.002a5.246%205.246%200%200%200%209.88%202.372%205.247%205.247%200%201%200%204.635-7.706zM5.25%2012.84a3.147%203.147%200%201%201%200-6.294%203.147%203.147%200%200%201%200%206.294zm9.27%200a3.147%203.147%200%201%201%200-6.294%203.147%203.147%200%200%201%200%206.294z%22%2F%3E%3Cpath%20d%3D%22M26.824%2013.289l-2.687-3.592%202.687-3.591a1.05%201.05%200%200%200-1.678-1.261l-2.32%203.1-2.319-3.1a1.05%201.05%200%200%200-1.678%201.26l2.686%203.592-2.687%203.592a1.05%201.05%200%200%200%201.679%201.26v.001l2.32-3.1%202.318%203.1a1.05%201.05%200%200%200%201.679-1.26v-.001%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}

.uploadcare-dialog-tab-skydrive:before {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2226%22%20height%3D%2215%22%20viewBox%3D%220%200%2026%2015%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Ctitle%3E9601F4BE-534F-4C5B-992A-31BCFEABCA93%3C%2Ftitle%3E%3Cdefs%3E%3Cpath%20d%3D%22M13.203%2023.86c-1.525-.38-2.374-1.59-2.377-3.387%200-.574.04-.85.184-1.218.352-.906%201.283-1.589%202.509-1.84.61-.126.797-.26.797-.57%200-.098.073-.389.161-.646.403-1.17%201.15-2.146%201.947-2.545.834-.418%201.255-.512%202.264-.506%201.434.007%202.149.318%203.15%201.367l.55.577.492-.17c2.385-.824%204.763.58%204.954%202.925l.053.642.47.168c1.34.48%201.971%201.488%201.857%202.97-.075.97-.528%201.743-1.247%202.127l-.338.18-7.507.015c-5.769.011-7.602-.009-7.92-.088%22%20id%3D%22a%22%2F%3E%3Cmask%20id%3D%22c%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2219.401%22%20height%3D%2210.805%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fmask%3E%3Cpath%20d%3D%22M7.575%2022.825c-.89-.211-1.833-.997-2.275-1.895-.251-.51-.265-.584-.265-1.485%200-.858.022-.995.222-1.42.42-.898%201.227-1.546%202.239-1.801.214-.054.414-.14.446-.19.032-.052.067-.33.078-.619.07-1.795%201.25-3.377%202.896-3.885.89-.274%202.007-.207%202.974.18.307.122.273.149.921-.701.384-.503%201.16-1.128%201.794-1.446.685-.344%201.397-.502%202.249-.5%202.38.006%204.432%201.493%205.19%203.764.243.725.23.928-.055.934-.125.003-.482.071-.794.153l-.568.148-.518-.518c-1.46-1.459-3.844-1.774-5.87-.776a4.87%204.87%200%200%200-1.95%201.716c-.351.532-.798%201.523-.798%201.77%200%20.174-.141.262-.746.46-1.872.613-2.965%202.03-2.964%203.842%200%20.66.17%201.467.407%201.93.089.173.138.34.11.367-.073.073-2.401.048-2.723-.028%22%20id%3D%22b%22%2F%3E%3Cmask%20id%3D%22d%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2219.18%22%20height%3D%2213.834%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23b%22%2F%3E%3C%2Fmask%3E%3C%2Fdefs%3E%3Cg%20transform%3D%22translate%28-5%20-9%29%22%20stroke%3D%22%23C9C9CE%22%20stroke-width%3D%222%22%20fill%3D%22%23C9C9CE%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20mask%3D%22url%28%23c%29%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cuse%20mask%3D%22url%28%23d%29%22%20xlink%3Ahref%3D%22%23b%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}

.uploadcare-dialog-tab-flickr:before {
}

.uploadcare-dialog-tab-camera:before {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2227%22%20height%3D%2220%22%20viewBox%3D%220%200%2027%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Ctitle%3EB227DFA3-1B6C-4284-B624-785B46709318%3C%2Ftitle%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M5%208.127h26.166v19.69H5z%22%2F%3E%3C%2Fdefs%3E%3Cg%20transform%3D%22translate%28-5%20-8%29%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M18.082%2015.818a3.219%203.219%200%200%200-3.213%203.215%203.217%203.217%200%200%200%203.213%203.214%203.217%203.217%200%200%200%203.214-3.214%203.219%203.219%200%200%200-3.214-3.215%22%20fill%3D%22%23C9C9CE%22%2F%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fmask%3E%3Cpath%20d%3D%22M18.082%2024.394a5.366%205.366%200%200%201-5.36-5.361%205.368%205.368%200%200%201%205.36-5.362%205.368%205.368%200%200%201%205.361%205.362%205.366%205.366%200%200%201-5.36%205.36zm6.613-13.006V9.856c0-.955-.773-1.728-1.727-1.728H13.05c-.954%200-1.727.773-1.727%201.728v1.68H4.999v16.281h26.167V11.388h-6.471z%22%20fill%3D%22%23C9C9CE%22%20mask%3D%22url%28%23b%29%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}

.uploadcare-dialog-tab-huddle:before {
}

.uploadcare-dialog-tabs-panel {
  position: relative;
  display: none;
  box-sizing: border-box;
  height: $dialog-body-height;
  line-height: y(1);
  font-size: $dialog-body-font-size;
  color: $dialog-body-text-color;

  .uploadcare-dialog-multiple & {
    height: $dialog-body-height - $dialog-footer-height;
  }

  .uploadcare-dialog-input {
    box-sizing: border-box;
    width: 100%;
    height: y(2);
    margin-bottom: y(1);
    padding: y(0.5) x(0.5);
    font-family: inherit;
    font-size: $dialog-body-font-size;
    border: 1px solid $dialog-body-border-color;
    background: $dialog-body-field-color;
    color: $dialog-body-text-color;
  }
}

.uploadcare-dialog-tabs-panel_current {
  display: block;
}

.uploadcare-pre {
  white-space: pre;
  font-family: monospace;
  margin: y(1) auto;
  padding: y(1) x(1);
  background-color: $dialog-body-field-color;
  border: 1px solid $dialog-body-border-color;
  border-radius: 3px;
  text-align: left;
  font-size: 15px;
  line-height: y(1);
}

.uploadcare-dialog-footer {
  font-size: $dialog-body-font-size-smaller;
  line-height: 1.4em;
  color: white;
  margin: x(.6);
  .uploadcare-dialog & svg {
    vertical-align: middle;
    padding: 0 2px;
  }
  .uploadcare-dialog & a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// § Common tab elements

.uploadcare-dialog-title {
  font-size: y(1);
  line-height: 1;
  margin-bottom: y(1);
  &.uploadcare-error {
    color: red;
  }
}

.uploadcare-dialog-title2 {
  font-size: 20px;
  line-height: 1;
  padding-bottom: y(.5);
}

.uploadcare-dialog-big-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: x(2);
}

.uploadcare-dialog-label {
  font-size: 15px;
  line-height: x(1);
  margin-bottom: x(.5);
  word-wrap: break-word;
}

.uploadcare-dialog-large-text {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5em;
  .uploadcare-pre {
    display: inline-block;
    font-size: 18px;
  }
}

.uploadcare-dialog-section {
  margin-bottom: y(1);
}

.uploadcare-dialog-normal-text {
  font-size: $dialog-body-font-size-smaller;
  color: $dialog-body-text-color-lighter;
}

$dialog-button-height: 32px;
@mixin dialog-button-constructor(
  $default-a, $default-b,
  $hover-a, $hover-b,
  $active-a, $active-b,
  $text-color,
  $border-color
) {
  display: inline-block;
  font-size: $dialog-body-font-size-smaller;
  line-height: $dialog-button-height - 2;
  padding: 0 x(.5);
  margin-right: .5em;
  border: solid 1px;
  border-radius: 3px;
  cursor: pointer;
  color: $text-color;

  &,
  &[disabled]:active,
  &.uploadcare-disabled-el:active,
  &[disabled]:hover,
  &.uploadcare-disabled-el:hover {
    @include gradient($default-a, $default-b);
    box-shadow: none;
    border-color: $border-color;
  }

  &:hover {
    @include gradient($hover-a, $hover-b);
    box-shadow: inset 0 -1px 3px rgba(black, .05);
  }

  &:active {
    @include gradient($active-a, $active-b);
    box-shadow: inset 0 2px 2px rgba(black, .05);
  }

  &[disabled], &.uploadcare-disabled-el {
    cursor: default;
    opacity: .6;
  }
}

.uploadcare-dialog-button {
  @include dialog-button-constructor(
                  #f5f5f5, #f1f1f1,
                  #fbfbfb, #f6f6f6,
                  #f5f5f5, #f1f1f1,
                  #444444,
                  #dcdcdc
  );
  &:active, &:hover {
    border-color: #cbcbcb;
  }
}

.uploadcare-dialog-button-success {
  @include dialog-button-constructor(
                  #3b8df7, #347fdf,
                  #3986ea, #2c6dc2,
                  #3680e1, #2c6fc5,
                  #fff,
                  #266fcb
  );
  &:active, &:hover {
    border-color: #266eca #1f62b7 #1753a1;
  }
  &:hover {
    box-shadow: inset 0 -1px 3px rgba(#1652a0, .5);
  }
  &:active {
    box-shadow: inset 0 1px 3px rgba(#1652a0, .4);
  }
}

.uploadcare-dialog-big-button {
  border-radius: 100px;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
  line-height: y(1.5);
  border: solid 1px #276fcb;
  text-shadow: 0 -1px #2a7ce5;
  display: inline-block;
  padding: y(0.75) 2em;
  cursor: pointer;
  box-shadow: inset 0 -2px #1f66c1;
  @include gradient(#4892f6, #4289e6);

  &:hover {
    box-shadow: inset 0 -2px #1652a0;
    @include gradient(#3986eb, #2c6dc2);
  }

  &:active {
    box-shadow: inset 0 2px #2561b9;
    @include gradient(#2c6ec3, #2c6ec3);
  }
}

// § Preview tab

$dialog-preview-container-height: $dialog-body-height - y(2) - y(2) - $dialog-footer-height;

.uploadcare-dialog-preview-image-wrap,
.uploadcare-dialog-preview-video-wrap {
  @include vertical-centered-wrap;
  width: 100%;
  height: $dialog-preview-container-height;

  .uploadcare-dialog-preview--with-sizes & {
    position: relative;
    top: -$dialog-crop-options-height;
    height: $dialog-preview-container-height - $dialog-crop-options-height;
  }
}

.uploadcare-dialog-preview-image,
.uploadcare-dialog-preview-video {
  @include vertical-centered;
  max-width: 100%;
  max-height: 100%;
}

.uploadcare-dialog-tabs-panel-preview.uploadcare-dialog-tabs-panel_current
~ .uploadcare-panel-footer {
  display: none;
}

.uploadcare-panel-footer {
  box-sizing: border-box;
  background: #fff3be;
  border-top: 1px solid #efe2a9;
  height: $dialog-footer-height;
  padding: ($dialog-footer-height - $dialog-button-height) / 2 x(1) 0;
  .uploadcare-dialog-button-success {
    float: right;
  }
  .uploadcare-dialog-button {
    float: left;
  }
  .uploadcare-dialog-button-success,
  .uploadcare-dialog-button {
    min-width: x(4);
    margin-right: 0;
  }
  .uploadcare-error {
    color: red;
  }
}

.uploadcare-panel-footer-text {
  color: #85732c;
  font-size: 15px;
  line-height: $dialog-button-height;
}

.uploadcare-dialog-message-center {
  padding-top: y(5);
}

.uploadcare-dialog-preview-center {
  padding-top: y(8);
}

.uploadcare-dialog-preview-circle {
  width: y(3);
  height: y(3);
  display: inline-block;
  margin-bottom: y(1);
}

// § Errors in preview tab

.uploadcare-dialog-error-tab-wrap {
  height: 100%;
  @include vertical-centered-wrap;
  .uploadcare-dialog-title {
    margin-bottom: 12px;
  }
  .uploadcare-dialog-normal-text {
    margin-bottom: 38px;
  }
  .uploadcare-dialog-button-success {
    margin: 0;
  }
}

.uploadcare-dialog-error-tab-wrap2 {
  @include vertical-centered;
  margin-top: y(-1); // more visually centered
}

.uploadcare-dialog-error-tab-illustration {
  @extend %error-default-image;
  display: inline-block;
  width: 170px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 38px;
  .uploadcare-dialog-camera-holder &,
  .uploadcare-dialog-error-tab-image & {
    @extend %error-image-image;
  }
}

// § Computer tab

.uploadcare-if-draganddrop {
  display: none
}

.uploadcare-draganddrop {
  .uploadcare-if-no-draganddrop {
    display: none
  }
  .uploadcare-if-draganddrop {
    display: block
  }

  .uploadcare-dialog-file-drop-area {
    border: dashed 3px #c5cacd;
    background: rgba(255, 255, 255, .64);
  }
  .uploadcare-dialog-file-title {
    color: #dee0e1;
    text-shadow: 0 1px white;
    margin-top: 0;
  }
}

.uploadcare-dialog-file-drop-area {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  padding-top: 70px;
  .uploadcare-dialog-big-button {
    margin-top: y(.5);
    margin-bottom: y(2.5);
  }
}

.uploadcare-dialog-file-title {
  font-size: 40px;
  line-height: 1;
  color: black;
  font-weight: bold;
  margin: y(3) 0;
}

.uploadcare-dialog-file-or {
  font-size: $dialog-body-font-size-smaller;
  color: #8f9498;
  margin-bottom: y(1.5);
}

.uploadcare-dialog-file-sources {
  position: relative;
  display: inline-block;
  padding: 0 80px 0 100px;
  line-height: 2em;
  &:before {
    @extend %arrow-image;
    background-repeat: no-repeat;
    content: '';
    display: block;
    position: absolute;
    width: 67px;
    height: 44px;
    padding: 0; // ie8 inherates pading from parent element
    top: -30px;
    left: 10px;
  }
}

.uploadcare-dialog-file-source {
  display: inline;
  font-size: 15px;
  margin-right: .2em;
  cursor: pointer;
  font-weight: 300;
  white-space: nowrap;
  &:after {
    content: '\00B7';
    color: #b7babc;
    margin-left: .5em;
  }
  &:last-child:after {
    display: none;
  }
}

.uploadcare-dragging {

  .uploadcare-dialog-file-or,
  .uploadcare-dialog-file-sources,
  .uploadcare-dialog-file-drop-area .uploadcare-dialog-big-button {
    display: none;
  }

  .uploadcare-dialog-file-drop-area {
    background-color: $dragndrop-background-color;
    border-color: $dragndrop-border-color;
    padding-top: y(12);
  }

  .uploadcare-dialog-file-title {
    color: $dragndrop-text-color;
  }
}

.uploadcare-dragging.uploadcare-dialog-file-drop-area {
  background-color: $dragndrop-hover-background-color;
  border-color: $dragndrop-hover-border-color;

  .uploadcare-dialog-file-title {
    color: $dragndrop-hover-text-color;
  }
}

// § Camera tab

$dialog-camera-video-height: $dialog-body-height - y(1) - $dialog-footer-height;

.uploadcare-dialog-camera-holder {
  @include vertical-centered-wrap;
  height: $dialog-camera-video-height;

  .uploadcare-dialog-normal-text {
    margin-bottom: 38px;
  }

  .uploadcare-dialog-multiple & {
    height: $dialog-camera-video-height - $dialog-footer-height;
  }
}

.uploadcare-dialog-camera-video {
  @include vertical-centered;
  display: none;
  max-width: 100%;
  max-height: $dialog-camera-video-height;
  transition: transform .8s cubic-bezier(0.23, 1, 0.32, 1);

  .uploadcare-dialog-multiple & {
    max-height: $dialog-camera-video-height - $dialog-footer-height;
  }
}

.uploadcare-dialog-camera--mirrored {
  transform: scale(-1, 1);
}

.uploadcare-dialog-camera-message {
  @include vertical-centered;
  display: none;
  max-width: 450px;
}

.uploadcare-dialog-camera-controls {
  margin-top: ($dialog-footer-height - $dialog-button-height) / 2;
}

.uploadcare-dialog-camera-mirror {
  position: absolute;
  margin-right: 0;
  right: x(1);
}

.uploadcare-dialog-camera-start-record,
.uploadcare-dialog-camera-stop-record,
.uploadcare-dialog-camera-cancel-record,
.uploadcare-dialog-camera-capture,
.uploadcare-dialog-camera-retry,
.uploadcare-dialog-camera-mirror {
  display: none;
}

.uploadcare-dialog-camera-requested {
  .uploadcare-dialog-camera-message {
    display: inline-block;
  }
}

.uploadcare-dialog-camera-not-found {
  display: none;
}

.uploadcare-dialog-camera-not-founded {
  .uploadcare-dialog-camera-please-allow {
    display: none;
  }
  .uploadcare-dialog-camera-not-found {
    display: block;
  }
}

.uploadcare-dialog-camera-denied {
  .uploadcare-dialog-camera-message,
  .uploadcare-dialog-camera-retry {
    display: inline-block;
  }
}

.uploadcare-dialog-camera-ready {
  .uploadcare-dialog-camera-video,
  .uploadcare-dialog-camera-capture,
  .uploadcare-dialog-camera-mirror,
  .uploadcare-dialog-camera-start-record {
    display: inline-block;
  }
}

.uploadcare-dialog-camera-recording {
  .uploadcare-dialog-camera-video,
  .uploadcare-dialog-camera-stop-record,
  .uploadcare-dialog-camera-cancel-record {
    display: inline-block;
  }
}

// § Multiple preview

// Files list
.uploadcare-file-list {
  height: $dialog-body-height - y(3);
  overflow: auto;
  position: relative;
  margin: 0 x(-1) y(-1) 0;
  .uploadcare-dialog-multiple & {
    height: $dialog-preview-container-height + y(1);
  }
}

.uploadcare-file-list_table {
  .uploadcare-file-item {
    $border: 1px solid #e3e3e3;
    border-top: $border;
    border-bottom: $border;
    margin-bottom: -1px;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 10px 0;
    min-height: 20px;

    // for each columns
    > * {
      box-sizing: content-box;
      display: table-cell;
      vertical-align: middle;
      padding-right: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      background: #ececec;
    }
  }
  .uploadcare-file-item__preview {
    width: 55px;
    padding-right: 10px;
  }
  .uploadcare-file-item__preview > img {
    height: 55px;
  }
  .uploadcare-file-item__size {
    width: 3.5em;
  }
  .uploadcare-file-item__progressbar {
    width: 80px;
  }
  .uploadcare-zoomable-icon:after {
    width: 55px;
  }
}

.uploadcare-file-list_tiles {
  .uploadcare-file-item {
    text-align: left;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 170px;
    min-height: 170px;
    padding: 0 20px 10px 0;

    > * {
      padding-bottom: 10px;
    }
  }
  .uploadcare-file-item__name {
    padding-top: 10px;
  }
  .uploadcare-file-item__remove {
    position: absolute;
    top: 0;
    right: 10px;
  }
  .uploadcare-file-item__preview {
    @include vertical-centered-wrap;
    width: 170px;
    height: 170px;
    padding-bottom: 0;
  }
  .uploadcare-file-item__preview img {
    @include vertical-centered;
  }
  .uploadcare-file-item_uploading,
  .uploadcare-file-item_error {
    .uploadcare-file-item__preview {
      display: none;
    }
  }
  .uploadcare-file-item_uploaded {
    .uploadcare-file-item__size,
    .uploadcare-file-item__name {
      display: none;
    }
  }
}

%file-inline-icon {
  $height: 20px;
  $margin: ($height - $dialog-body-font-size-smaller) / -2;
  content: '';
  display: inline-block;
  width: $height;
  height: $height;
  margin: $margin .7em $margin 0;
}

// File item
.uploadcare-file-item {
  font-size: $dialog-body-font-size-smaller;
  line-height: 1.2;

  &:hover {
    .uploadcare-file-item__remove {
      visibility: visible
    }
    .uploadcare-zoomable-icon:after {
      display: block
    }
  }
}

// States
.uploadcare-file-item_uploading {
  .uploadcare-file-item__error {
    display: none
  }
}

.uploadcare-file-item_uploaded {
  .uploadcare-file-item__progressbar,
  .uploadcare-file-item__error {
    display: none
  }
}

.uploadcare-file-item_error {
  .uploadcare-file-item__size,
  .uploadcare-file-item__progressbar {
    display: none
  }
}

// Elements
.uploadcare-file-item__preview {
  line-height: 0;
}

.uploadcare-file-item__preview > img {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.uploadcare-file-item__name {
  width: 100%;
  word-wrap: break-word;
}

.uploadcare-file-item__error {
  width: 200px;
  color: #f5444b;
  &:before {
    @extend %file-inline-icon, %error-icon-image;
  }
}

.uploadcare-file-item__remove {
  visibility: hidden;
  width: 20px;
  text-align: right;
  line-height: 0;
}

.uploadcare-remove {
  @extend %remove-button-image;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.uploadcare-zoomable-icon {
  position: relative;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
    @extend %zoom-icon-image;
  }
}

.uploadcare-progressbar {
  width: 100%;
  height: 8px;
  background: #e0e0e0;
  border-radius: 100px;
}

.uploadcare-progressbar__value {
  height: 100%;
  background: #d6b849;
  border-radius: 100px;
}

.uploadcare-file-icon {
  @extend %file-inline-icon, %file-icon-image;
  margin: 0;
}

// § Base source tab

.uploadcare-dialog-padding {
  padding: y(1) x(1);
}

.uploadcare-dialog-remote-iframe-wrap {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.uploadcare-dialog-remote-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  opacity: 0;
}

.uploadcare-panel-footer__summary {
  display: none;
  .uploadcare-dialog-multiple & {
    display: block;
  }
}

.uploadcare-panel-footer-counter {
  display: none;
}

.uploadcare-hidden {
  display: none;
}
