$dialog-mobile-footer-height: 50px;
$dialog-mobile-min-width: 310px;

.uploadcare-if-mobile {
  display: none
}

@media screen and (max-width: $switch-to-mobile-width) {
  .uploadcare-dialog-opened {
    overflow: visible !important;
    position: static !important;
    width: auto !important;
    height: auto !important;
    min-width: 0 !important;
    background: $dialog-body-background-color !important;
  }
  // hide anything else on the page
  body.uploadcare-dialog-opened > .uploadcare-inactive,
  body.uploadcare-dialog-opened > :not(.uploadcare-dialog) {
    display: none !important;
  }

  .uploadcare-if-mobile {
    display: block;
  }
  .uploadcare-if-no-mobile {
    display: none;
  }

  .uploadcare-dialog {
    position: absolute;
    overflow: visible;
    -webkit-text-size-adjust: 100%;

    &:before {
      display: none;
    }
  }

  .uploadcare-dialog-inner-wrap {
    padding: 0;
    min-width: $dialog-mobile-min-width;
    height: 100%;
  }

  .uploadcare-dialog-close {
    position: fixed;
    z-index: 2;
    color: #000;
    width: $frame-size;
    height: $frame-size;
    line-height: $frame-size*.9;
  }

  .uploadcare-dialog-footer {
    display: none;
  }

  .uploadcare-responsive-panel {

    // § Panels

    .uploadcare-dialog-panel {
      overflow: visible;
      height: 100%;
      padding: $frame-size 0 0;
      border-radius: 0;
      box-shadow: none;

      &.uploadcare-panel-hide-tabs {
        padding-top: 0;
      }
    }
    .uploadcare-dialog-tabs-panel {
      height: auto;
    }
    .uploadcare-dialog-remote-iframe-wrap {
      overflow: visible;
      height: 100%;
    }
    .uploadcare-dialog-padding {
      padding: y(1) 15px;
    }

    // § Preview tabs

    .uploadcare-dialog-preview-image-wrap,
    .uploadcare-dialog-preview-video-wrap {
      top: auto;
      height: auto;
      padding-bottom: $dialog-mobile-footer-height;
    }
    .uploadcare-dialog-preview-image,
    .uploadcare-dialog-preview-video {
      max-height: 450px;
    }

    .uploadcare-file-list {
      height: auto;
      margin: 0 -15px 0 0;
    }
    .uploadcare-file-list_table {
      .uploadcare-file-item > * {
        padding-right: 10px;
      }
      .uploadcare-file-item__progressbar {
        width: 40px;
      }
    }
    .uploadcare-file-list_tiles {
      .uploadcare-file-item {
        width: 140px;
        min-height: 140px;
        padding-right: 10px;
      }
      .uploadcare-file-item__preview {
        width: 140px;
        height: 140px;
      }
      .uploadcare-file-item__remove {
        right: 10px;
      }
    }
    .uploadcare-file-item__remove {
      visibility: visible;
    }

    // § Computer tab

    .uploadcare-dialog-file-sources,
    .uploadcare-dialog-file-or {
      display: none;
    }

    .uploadcare-dialog-file-title {
      display: none;
    }
    .uploadcare-dialog-file-drop-area {
      padding-top: 0;
      border: 0;
      background: transparent;
    }

    .uploadcare-dialog-big-button {
      margin: y(5) 0 0;
    }

    .uploadcare-clouds-tip {
      color: #909498;
      font-size: .75em;
      line-height: 1.4;
      text-align: left;
      padding: 10px 0 0 50px;
    }
    .uploadcare-clouds-tip:before {
      background-image: url("<%= settings.scriptBase %>/images/arrow.png");
      background-repeat: no-repeat;
      background-size: 51px 33px;
      content: '';
      position: absolute;
      margin: -20px -36px;
      display: block;
      width: 28px;
      height: 30px;
    }

    // § Camera tab

    // enhance selector specificity
    .uploadcare-dialog-opened-tabs
    .uploadcare-dialog-tab.uploadcare-dialog-tab-camera {
      display: none;
    }
    .uploadcare-dialog-camera-holder {
      height: auto;
    }
    .uploadcare-dialog-camera-mirror {
      right: 15px;
    }

    // § Multiple

    .uploadcare-panel-footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      min-width: $dialog-mobile-min-width;
      height: $dialog-mobile-footer-height;
      padding: ($dialog-mobile-footer-height - $dialog-button-height) / 2 15px 0;
      background: rgba(255, 243, 190, 0.95);
    }
    .uploadcare-panel-footer-text {
      display: none;
    }
    .uploadcare-panel-footer-counter {
      display: inline;
    }
    .uploadcare-dialog-multiple {
      &.uploadcare-dialog-panel {
        padding-bottom: $dialog-mobile-footer-height;
      }
      .uploadcare-dialog-remote-iframe-wrap:after {
        content: '';
        display: block;
        height: $dialog-mobile-footer-height;
      }
      .uploadcare-dialog-padding {
        padding-bottom: y(1) + $dialog-mobile-footer-height;
      }
    }

    // § Tabs

    .uploadcare-dialog-tabs {
      position: fixed;
      // Fixes bug in Chrome with resizing.
      top: 0;
      left: 0;
      width: 100%;
      min-width: $dialog-mobile-min-width;
      height: auto;
      float: none;
      margin: 0;
      z-index: 1;
    }
    .uploadcare-dialog-tab {
      display: none;
      height: $frame-size;
      white-space: nowrap;
      border-bottom: none;

      .uploadcare-dialog-icon,
      &:before {
        margin: 0;
        vertical-align: middle;
        top: 13px;
        left: 17px;
        width: 35px;
        height: 35px;
      }
    }
    .uploadcare-dialog-tab_current {
      display: block;
      background: rgba($dialog-body-background-color, 0.95);
    }
    .uploadcare-dialog-tab:after {
      content: attr(title);
      font-size: 17px;
      vertical-align: middle;
      position: absolute;
      top: 21px;
      left: 96px;
      color: #fff;
      font-family: $font-family;
    }

    .uploadcare-dialog-opened-tabs {
      .uploadcare-dialog-tabs-panel_current,
      .uploadcare-panel-footer {
        display: none;
      }
      .uploadcare-dialog-tabs {
        position: absolute;
        // overlap close icon
        z-index: 3;
      }
      .uploadcare-dialog-tab {
        display: block;
      }
      .uploadcare-dialog-tab_current {
        background: $dialog-body-background-color;
      }
    }
    .uploadcare-dialog-panel:not(.uploadcare-dialog-opened-tabs) {
      .uploadcare-dialog-tab_current {
        text-align: center;
        &:after {
          content: '';
          position: absolute;
          top: 16px;
          left: 14px;
          display: block;
          width: 22px;
          height: 18px;
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAOCAQAAAD+6Ta3AAAARklEQVR4Ae3SsRFEIQhAwW1IR2s3s6zTGUN+AxdK5tucAIBmOuKSY2pQbHHZVhgiweAnEixW1uC0VdSU41Xo19+te73+9AGOg1FzTMH13gAAAABJRU5ErkJggg==);
          background-size: 22px;
        }
      }
    }

    .uploadcare-crop-sizes {
      top: auto;
      margin-bottom: 15px;
    }
    .uploadcare-crop-size {
      margin: 0 10px;
    }
  }
}
