@import "colors";

$dialog-tab-width: x(3);
$dialog-body-height: y(28);

$dialog-corner-radius: 8px;
$dialog-button-text-color: #fff;
$dialog-body-background-color: #efefef;
$dialog-body-shadow-color: #dee0e1;
$dialog-body-field-color: #fff;
$dialog-body-border-color: #c5cace;
$dialog-body-text-color: #000;
$dialog-body-text-color-lighter: #545454;
$dialog-body-font-size: 16px;
$dialog-body-font-size-smaller: 13px;
$dialog-footer-height: y(3);
$dialog-crop-options-height: 40px;

$dialog-close-button-size: y(1.5);
$switch-to-mobile-width: 760px; // iPhone max side is 568px

html.uploadcare-dialog-opened {
  overflow: hidden;
}

.uploadcare-dialog {
  @extend %dialog-overlay-image;
  font-family: $font-family;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  overflow: auto;

  @include vertical-centered-wrap;
  text-align: center;

  * {
    margin: 0;
    padding: 0;
  }

  .uploadcare-dialog-panel {
    border-radius: $dialog-corner-radius;
    box-shadow: 0 1px 2px rgba(black, 0.35);
  }
}

.uploadcare-dialog {
  transition: opacity .33s cubic-bezier(0.05,.7,.25,1);
  opacity: 0;
  .uploadcare-dialog-inner-wrap {
    transition: transform .33s cubic-bezier(0.05,.7,.25,1);
    transform: scale(.8);
    transform-origin: 50% 100%;
  }
}
.uploadcare-dialog.uploadcare-active {
  opacity: 1;
  .uploadcare-dialog-inner-wrap {
    transform: none;
  }
}

.uploadcare-dialog-inner-wrap {
  @include vertical-centered;
  text-align: left;

  // We need width 100% and paddings.
  box-sizing: border-box;
  $paddings: $dialog-close-button-size + y(.5);
  position: relative;
  width: 100%;

  // 720 <= min-width <= 768.
  // 720 — when iframe size is 601
  // 768 — ipad size
  min-width: 760px;
  max-width: x(36) + $paddings; // x(36) = 900px — old widget size
  padding: 0 $dialog-close-button-size 0 y(.5);
}

.uploadcare-dialog-close {
  width: $dialog-close-button-size;
  height: $dialog-close-button-size;
  line-height: $dialog-close-button-size;
  font-size: $dialog-close-button-size * .9;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  position: absolute;
  text-align: center;
  right: 0;
}


.uploadcare-dialog-panel {
  overflow: hidden;
  position: relative;
  background: $dialog-body-background-color;
  font-weight: normal;
  padding-left: $dialog-tab-width;
  box-sizing: border-box;

  :focus {
    outline: 2px dotted #0094c0;
  }
  :active,
  .uploadcare-mouse-focused:focus {
    outline: none;
  }

  &.uploadcare-panel-hide-tabs {
    padding-left: 0;
  }
}

.uploadcare-dialog-tabs {
  box-sizing: border-box;
  width: $dialog-tab-width;
  height: $dialog-body-height;
  margin-left: -$dialog-tab-width;
  float: left;
  background: $dialog-body-shadow-color;
  border-right: 1px solid $dialog-body-border-color;

  .uploadcare-panel-hide-tabs & {
    display: none;
  }
}

  $frame-size: 50px;
  .uploadcare-dialog-tab {
    box-sizing: border-box;
    height: 56px;
    position: relative;
    border-bottom: 1px solid $dialog-body-border-color;
    cursor: pointer;

    // Geometry
    .uploadcare-dialog-icon,
    &:before {
      box-sizing: border-box;

      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      width: $frame-size;
      height: $frame-size;
      margin: $frame-size / -2;

      opacity: .66;
    }

    // Builtin icons
    &:before {
      @extend %tab-icons-image;
      content: '';
    }

    &:hover {
      background-color: #e5e7e8;

      .uploadcare-dialog-icon {
        opacity: 1;
      }
      &:before {
        @extend %tab-icons-image;
        opacity: 1;
      }
    }
  }
    .uploadcare-dialog-tab_current {
      margin-right: -1px;
      border-right: 1px solid $dialog-body-background-color;
      &,
      &:hover {
        background-color: $dialog-body-background-color;
        &:before {
          @extend %tab-icons-active-image;
        }
      }
      .uploadcare-dialog-icon {
        opacity: 1;
      }
      &:before {
        @extend %tab-icons-active-image;
        opacity: 1;
      }
    }
    .uploadcare-dialog-tab_hidden {
      display: none !important;
    }

    .uploadcare-dialog-disabled-tab {
      cursor: default;
      &:hover {
        background-color: $dialog-body-shadow-color;
        &:before {
          @extend %tab-icons-image;
        }
      }
    }

    .uploadcare-dialog-tab-preview {
      .uploadcare-widget-circle {
        padding: 10px;
      }
      .uploadcare-widget-circle--canvas {
        color: #828689;
        border-color: #bfbfbf;
      }
      &.uploadcare-dialog-tab_current .uploadcare-widget-circle--canvas {
        color: #d0bf26;
        border-color: #e1e5e7;
      }

      &:before {
        display: none;
      }
    }

    .uploadcare-dialog-tab-file:before {
      background-position: 0 ($frame-size * -1);
    }
    .uploadcare-dialog-tab-url:before {
      background-position: 0 ($frame-size * -2);
    }
    .uploadcare-dialog-tab-facebook:before {
      background-position: 0 ($frame-size * -3);
    }
    .uploadcare-dialog-tab-dropbox:before {
      background-position: 0 ($frame-size * -4);
    }
    .uploadcare-dialog-tab-gdrive:before {
      background-position: 0 ($frame-size * -5);
    }
    .uploadcare-dialog-tab-instagram:before {
      background-position: 0 ($frame-size * -6);
    }
    .uploadcare-dialog-tab-vk:before {
      background-position: 0 ($frame-size * -7);
    }
    .uploadcare-dialog-tab-evernote:before {
      background-position: 0 ($frame-size * -8);
    }
    .uploadcare-dialog-tab-box:before {
      background-position: 0 ($frame-size * -9);
    }
    .uploadcare-dialog-tab-skydrive:before {
      background-position: 0 ($frame-size * -10);
    }
    .uploadcare-dialog-tab-flickr:before {
      background-position: 0 ($frame-size * -11);
    }
    .uploadcare-dialog-tab-camera:before {
      background-position: 0 ($frame-size * -12);
    }
    .uploadcare-dialog-tab-huddle:before {
      background-position: 0 ($frame-size * -13);
    }


.uploadcare-dialog-tabs-panel {
  position: relative;
  display: none;
  box-sizing: border-box;
  height: $dialog-body-height;
  line-height: y(1);
  font-size: $dialog-body-font-size;
  color: $dialog-body-text-color;

  .uploadcare-dialog-multiple & {
    height: $dialog-body-height - $dialog-footer-height;
  }

  .uploadcare-dialog-input {
    box-sizing: border-box;
    width: 100%;
    height: y(2);
    margin-bottom: y(1);
    padding: y(0.5) x(0.5);
    font-family: inherit;
    font-size: $dialog-body-font-size;
    border: 1px solid $dialog-body-border-color;
    background: $dialog-body-field-color;
    color: $dialog-body-text-color;
  }
}

.uploadcare-dialog-tabs-panel_current {
  display: block;
}

.uploadcare-pre {
  white-space: pre;
  font-family: monospace;
  margin: y(1) auto;
  padding: y(1) x(1);
  background-color: $dialog-body-field-color;
  border: 1px solid $dialog-body-border-color;
  border-radius: 3px;
  text-align: left;
  font-size: 15px;
  line-height: y(1);
}

.uploadcare-dialog-footer {
  font-size: $dialog-body-font-size-smaller;
  line-height: 1.4em;
  text-align: center;
  color: white;
  margin: x(.6);
  .uploadcare-dialog & svg {
    vertical-align: middle;
  }
  .uploadcare-dialog & a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}


// § Common tab elements

.uploadcare-dialog-title {
  font-size: y(1);
  line-height: 1;
  margin-bottom: y(1);
  &.uploadcare-error {
    color: red;
  }
}

.uploadcare-dialog-title2 {
  font-size: 20px;
  line-height: 1;
  padding-bottom: y(.5);
}

.uploadcare-dialog-big-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: x(2);
}

.uploadcare-dialog-label {
  font-size: 15px;
  line-height: x(1);
  margin-bottom: x(.5);
  word-wrap: break-word;
}

.uploadcare-dialog-large-text {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5em;
  .uploadcare-pre {
    display: inline-block;
    font-size: 18px;
  }
}

.uploadcare-dialog-section {
  margin-bottom: y(1);
}

.uploadcare-dialog-normal-text {
  font-size: $dialog-body-font-size-smaller;
  color: $dialog-body-text-color-lighter;
}

$dialog-button-height: 32px;
@mixin dialog-button-constructor (
  $default-a, $default-b,
  $hover-a, $hover-b,
  $active-a, $active-b,
  $text-color,
  $border-color
) {
  display: inline-block;
  font-size: $dialog-body-font-size-smaller;
  line-height: $dialog-button-height - 2;
  padding: 0 x(.5);
  margin-right: .5em;
  border: solid 1px;
  border-radius: 3px;
  cursor: pointer;
  color: $text-color;

  &,
  &[disabled]:active,
  &.uploadcare-disabled-el:active,
  &[disabled]:hover,
  &.uploadcare-disabled-el:hover {
    @include gradient($default-a, $default-b);
    box-shadow: none;
    border-color: $border-color;
  }

  &:hover {
    @include gradient($hover-a, $hover-b);
    box-shadow: inset 0 -1px 3px rgba(black, .05);
  }

  &:active {
    @include gradient($active-a, $active-b);
    box-shadow: inset 0 2px 2px rgba(black, .05);
  }

  &[disabled], &.uploadcare-disabled-el {
    cursor: default;
    opacity: .6;
  }
}

.uploadcare-dialog-button {
  @include dialog-button-constructor(
    #f5f5f5, #f1f1f1,
    #fbfbfb, #f6f6f6,
    #f5f5f5, #f1f1f1,
    #444444,
    #dcdcdc
  );
  &:active, &:hover {
    border-color: #cbcbcb;
  }
}

.uploadcare-dialog-button-success {
  @include dialog-button-constructor(
    #3b8df7, #347fdf,
    #3986ea, #2c6dc2,
    #3680e1, #2c6fc5,
    #fff,
    #266fcb
  );
  &:active, &:hover {
    border-color: #266eca #1f62b7 #1753a1;
  }
  &:hover {
    box-shadow: inset 0 -1px 3px rgba(#1652a0, .5);
  }
  &:active {
    box-shadow: inset 0 1px 3px rgba(#1652a0, .4);
  }
}

.uploadcare-dialog-big-button {
  border-radius: 100px;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
  line-height: y(1.5);
  border: solid 1px #276fcb;
  text-shadow: 0 -1px #2a7ce5;
  display: inline-block;
  padding: y(0.75) 2em;
  cursor: pointer;
  box-shadow: inset 0 -2px #1f66c1;
  @include gradient(#4892f6, #4289e6);

  &:hover {
    box-shadow: inset 0 -2px #1652a0;
    @include gradient(#3986eb, #2c6dc2);
  }

  &:active {
    box-shadow: inset 0 2px #2561b9;
    @include gradient(#2c6ec3, #2c6ec3);
  }
}


// § Preview tab

$dialog-preview-container-height: $dialog-body-height - y(2) - y(2) - $dialog-footer-height;

.uploadcare-dialog-preview-image-wrap {
  @include vertical-centered-wrap;
  text-align: center;
  width: 100%;
  height: $dialog-preview-container-height;

  .uploadcare-dialog-preview--with-sizes & {
    position: relative;
    top: -$dialog-crop-options-height;
    height: $dialog-preview-container-height - $dialog-crop-options-height;
  }
}
.uploadcare-dialog-preview-image {
  @include vertical-centered;
  max-width: 100%;
  max-height: 100%;
}


.uploadcare-dialog-tabs-panel-preview.uploadcare-dialog-tabs-panel_current
~ .uploadcare-panel-footer {
  display: none;
}

.uploadcare-panel-footer {
  box-sizing: border-box;
  background: #fff3be;
  border-top: 1px solid #efe2a9;
  height: $dialog-footer-height;
  padding: ($dialog-footer-height - $dialog-button-height) / 2 x(1) 0;
  .uploadcare-dialog-button-success {
    float: right;
  }
  .uploadcare-dialog-button {
    float: left;
  }
  .uploadcare-dialog-button-success,
  .uploadcare-dialog-button {
    min-width: x(4);
    text-align: center;
    margin-right: 0;
  }
  .uploadcare-error {
    color: red;
  }
}
  .uploadcare-panel-footer-text {
    text-align: center;
    color: #85732c;
    font-size: 15px;
    line-height: $dialog-button-height;
  }

.uploadcare-dialog-message-center {
  text-align: center;
  padding-top: y(5);
}

.uploadcare-dialog-preview-center {
  text-align: center;
  padding-top: y(8);
}

.uploadcare-dialog-preview-circle {
  width: y(3);
  height: y(3);
  display: inline-block;
  margin-bottom: y(1);
}


// § Errors in preview tab

.uploadcare-dialog-error-tab-wrap {
  height: 100%;
  text-align: center;
  @include vertical-centered-wrap;
  .uploadcare-dialog-title {
    margin-bottom: 12px;
  }
  .uploadcare-dialog-normal-text {
    margin-bottom: 38px;
  }
  .uploadcare-dialog-button-success {
    margin: 0;
  }
}
  .uploadcare-dialog-error-tab-wrap2 {
    @include vertical-centered;
    margin-top: y(-1); // more visually centered
  }
    .uploadcare-dialog-error-tab-illustration {
      @extend %error-default-image;
      display: inline-block;
      width: 170px;
      height: 120px;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 38px;
      .uploadcare-dialog-camera-holder &,
      .uploadcare-dialog-error-tab-image & {
        @extend %error-image-image;
      }
    }


// § Computer tab

.uploadcare-if-draganddrop {display: none}

.uploadcare-draganddrop {
  .uploadcare-if-no-draganddrop {display: none}
  .uploadcare-if-draganddrop {display: block}

  .uploadcare-dialog-file-drop-area {
    border: dashed 3px #c5cacd;
    background: rgba(255,255,255,.64);
  }
  .uploadcare-dialog-file-title {
    color: #dee0e1;
    text-shadow: 0 1px white;
    margin-top: 0;
  }
}

.uploadcare-dialog-file-drop-area {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  text-align: center;
  border-radius: 3px;
  padding-top: 70px;
  .uploadcare-dialog-big-button {
    margin-top: y(.5);
    margin-bottom: y(2.5);
  }
}
  .uploadcare-dialog-file-title {
    font-size: 40px;
    line-height: 1;
    color: black;
    font-weight: bold;
    margin: y(3) 0;
  }
  .uploadcare-dialog-file-or {
    font-size: $dialog-body-font-size-smaller;
    color: #8f9498;
    margin-bottom: y(1.5);
  }
  .uploadcare-dialog-file-sources {
    position: relative;
    display: inline-block;
    padding: 0 80px 0 100px;
    line-height: 2em;
    &:before {
      @extend %arrow-image;
      background-repeat: no-repeat;
      content: '';
      display: block;
      position: absolute;
      width: 67px;
      height: 44px;
      padding: 0;  // ie8 inherates pading from parent element
      top: -30px;
      left: 10px;
    }
  }
    .uploadcare-dialog-file-source {
      display: inline;
      font-size: 15px;
      margin-right: .2em;
      cursor: pointer;
      font-weight: 300;
      white-space: nowrap;
      &:after {
        content: '\00B7';
        color: #b7babc;
        margin-left: .5em;
      }
      &:last-child:after {
        display: none;
      }
    }

.uploadcare-dragging {

  .uploadcare-dialog-file-or,
  .uploadcare-dialog-file-sources,
  .uploadcare-dialog-file-drop-area .uploadcare-dialog-big-button {
    display: none;
  }

  .uploadcare-dialog-file-drop-area {
    background-color: $dragndrop-background-color;
    border-color: $dragndrop-border-color;
    padding-top: y(12);
  }

  .uploadcare-dialog-file-title {
    color: $dragndrop-text-color;
  }
}
.uploadcare-dragging.uploadcare-dialog-file-drop-area {
  background-color: $dragndrop-hover-background-color;
  border-color: $dragndrop-hover-border-color;

  .uploadcare-dialog-file-title {
    color: $dragndrop-hover-text-color;
  }
}


// § Camera tab

$dialog-camera-video-height: $dialog-body-height - y(1) - $dialog-footer-height;

.uploadcare-dialog-camera-holder {
  @include vertical-centered-wrap;
  text-align: center;
  height: $dialog-camera-video-height;

  .uploadcare-dialog-normal-text {
    margin-bottom: 38px;
  }

  .uploadcare-dialog-multiple & {
    height: $dialog-camera-video-height - $dialog-footer-height;
  }
}
.uploadcare-dialog-camera-video {
  @include vertical-centered;
  display: none;
  max-width: 100%;
  max-height: $dialog-camera-video-height;
  transition: transform .8s cubic-bezier(0.23, 1, 0.32, 1);

  .uploadcare-dialog-multiple & {
    max-height: $dialog-camera-video-height - $dialog-footer-height;
  }
}
.uploadcare-dialog-camera--mirrored {
  transform: scale(-1, 1);
}
.uploadcare-dialog-camera-message {
  @include vertical-centered;
  display: none;
  max-width: 450px;
}
.uploadcare-dialog-camera-controls {
  margin-top: ($dialog-footer-height - $dialog-button-height) / 2;
  text-align: center;
}
.uploadcare-dialog-camera-mirror {
  position: absolute;
  margin-right: 0;
  right: x(1);
}
.uploadcare-dialog-camera-capture,
.uploadcare-dialog-camera-retry,
.uploadcare-dialog-camera-mirror {
  display: none;
}
.uploadcare-dialog-camera-requested {
  .uploadcare-dialog-camera-message {
    display: inline-block;
  }
}
.uploadcare-dialog-camera-not-found {
  display: none;
}
.uploadcare-dialog-camera-not-founded {
  .uploadcare-dialog-camera-please-allow {
    display: none;
  }
  .uploadcare-dialog-camera-not-found {
    display: block;
  }
}
.uploadcare-dialog-camera-denied {
  .uploadcare-dialog-camera-retry {
    display: inline-block;
  }
}
.uploadcare-dialog-camera-ready {
  .uploadcare-dialog-camera-video,
  .uploadcare-dialog-camera-capture,
  .uploadcare-dialog-camera-mirror {
    display: inline-block;
  }
}


// § Multiple preview

// Files list
.uploadcare-file-list {
  height: $dialog-body-height - y(3);
  overflow: auto;
  position: relative;
  margin: 0 x(-1) y(-1) 0;
  .uploadcare-dialog-multiple & {
    height: $dialog-preview-container-height + y(1);
  }
}
  .uploadcare-file-list_table {
    .uploadcare-file-item {
      $border: 1px solid #e3e3e3;
      border-top: $border;
      border-bottom: $border;
      margin-bottom: -1px;
      display: table;
      table-layout: fixed;
      width: 100%;
      padding: 10px 0;
      min-height: 20px;

      // for each columns
      > * {
        box-sizing: content-box;
        display: table-cell;
        vertical-align: middle;
        padding-right: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        background: #ececec;
      }
    }
    .uploadcare-file-item__preview {
      width: 55px;
      padding-right: 10px;
    }
    .uploadcare-file-item__preview > img {
      height: 55px;
    }
    .uploadcare-file-item__size {
      width: 3.5em;
    }
    .uploadcare-file-item__progressbar {
      width: 80px;
    }
    .uploadcare-zoomable-icon:after {
      width: 55px;
    }
  }

  .uploadcare-file-list_tiles {
    .uploadcare-file-item {
      text-align: left;
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 170px;
      min-height: 170px;
      padding: 0 20px 10px 0;

      > * {
        padding-bottom: 10px;
      }
    }
    .uploadcare-file-item__name {
      padding-top: 10px;
    }
    .uploadcare-file-item__remove {
      position: absolute;
      top: 0; right: 10px;
    }
    .uploadcare-file-item__preview {
      @include vertical-centered-wrap;
      width: 170px;
      height: 170px;
      padding-bottom: 0;
    }
    .uploadcare-file-item__preview img {
      @include vertical-centered;
    }
    .uploadcare-file-item_uploading,
    .uploadcare-file-item_error {
      .uploadcare-file-item__preview {
        display: none;
      }
    }
    .uploadcare-file-item_uploaded {
      .uploadcare-file-item__size,
      .uploadcare-file-item__name {
        display: none;
      }
    }
  }

%file-inline-icon {
  $height: 20px;
  $margin: ($height - $dialog-body-font-size-smaller) / -2;
  content: '';
  display: inline-block;
  width: $height;
  height: $height;
  margin: $margin .7em $margin 0;
}

// File item
.uploadcare-file-item {
  font-size: $dialog-body-font-size-smaller;
  line-height: 1.2;

  &:hover {
    .uploadcare-file-item__remove {visibility: visible}
    .uploadcare-zoomable-icon:after {display: block}
  }
}
  // States
  .uploadcare-file-item_uploading {
    .uploadcare-file-item__error {display: none}
  }
  .uploadcare-file-item_uploaded {
    .uploadcare-file-item__progressbar,
    .uploadcare-file-item__error {display: none}
  }
  .uploadcare-file-item_error {
    .uploadcare-file-item__size,
    .uploadcare-file-item__progressbar {display: none}
  }
  // Elements
  .uploadcare-file-item__preview {
    text-align: center;
    line-height: 0;
  }
  .uploadcare-file-item__preview > img {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .uploadcare-file-item__name {
    width: 100%;
    word-wrap: break-word;
  }
  .uploadcare-file-item__error {
    width: 200px;
    color: #f5444b;
    &:before {
      @extend %file-inline-icon, %error-icon-image;
    }
  }
  .uploadcare-file-item__remove {
    visibility: hidden;
    width: 20px;
    text-align: right;
    line-height: 0;
  }

.uploadcare-remove {
  @extend %remove-button-image;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.uploadcare-zoomable-icon {
  position: relative;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    display: none;
    width: 100%; height: 100%;
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
    @extend %zoom-icon-image;
  }
}

.uploadcare-progressbar {
  width: 100%;
  height: 8px;
  background: #e0e0e0;
  border-radius: 100px;
}
  .uploadcare-progressbar__value {
    height: 100%;
    background: #d6b849;
    border-radius: 100px;
  }

.uploadcare-file-icon {
  @extend %file-inline-icon, %file-icon-image;
  margin: 0;
}

// § Base source tab

.uploadcare-dialog-padding {
    padding: y(1) x(1);
}

.uploadcare-dialog-remote-iframe-wrap {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.uploadcare-dialog-remote-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  opacity: 0;
}

.uploadcare-panel-footer__summary {
  display: none;
  .uploadcare-dialog-multiple & {
    display: block;
  }
}
.uploadcare-panel-footer-counter {
  display: none;
}

.uploadcare-hidden {
  display: none;
}
