$dialog-tab-width: x(3);
$dialog-tab-height: y(3);
$dialog-body-height: y(28);

$dialog-width: x(36);
$dialog-height: $dialog-body-height;

$dialog-corner-radius: 8px;
$dialog-link-color: #1a85ad;
$dialog-link-active-color: #252525;
$dialog-button-text-color: #fff;
$dialog-body-background-color: #efefef;
$dialog-body-shadow-color: #dee0e1;
$dialog-body-field-color: #fff;
$dialog-body-border-color: #c5cace;
$dialog-body-text-color: #000;
$dialog-body-text-color-lighter: #545454;
$dialog-body-font-size: 16px;
$dialog-body-font-size-smaller: 13px;

$dialog-free-space-for-close-button: y(2);

.uploadcare-dialog {
  @extend %dialog-overlay-image;
  font-family: $font-family;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  overflow: auto;

  * {
    margin: 0;
    padding: 0;
  }
}

.uploadcare-dialog-inner-wrap1 {
  display: table;
  width: 100%;
  height: 100%;
}
.uploadcare-dialog-inner-wrap2 {
  display: table-cell;
  vertical-align: middle;
}

.uploadcare-dialog-close {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  min-width: $dialog-width + $dialog-free-space-for-close-button * 2;
  > div {
    $size: y(1.5);
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    width: $size;
    height: $size;
    line-height: $size;
    font-size: $size * .9;
    font-weight: bold;
    color: #1d1d1d;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.uploadcare-dialog-panel-wrap {
  margin: 0 auto;
  width: $dialog-width;
  padding: 0 $dialog-free-space-for-close-button;
}

.uploadcare-dialog-panel {
  width: $dialog-width;
  height: $dialog-height;
  overflow: hidden;
  border-radius: $dialog-corner-radius;
  background: #fff;
  @include prefix(box-shadow, 0 1px 2px rgba(black, 0.35));
  font-weight: normal;

  a {
    text-decoration: none;
    border-bottom: 1px dotted;
    &:link, &:visited {
      color: $dialog-link-color;
      border-bottom-color: $dialog-link-color;
    }
    &:hover, &:active {
      color: $dialog-link-active-color;
      border-bottom-color: $dialog-link-active-color;
    }
  }
}

.uploadcare-dialog-body {
  .uploadcare-dialog-tabs {
    @include prefix(box-sizing, border-box);
    width: $dialog-tab-width;
    height: $dialog-body-height;
    float: left;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: $dialog-body-shadow-color;
    border-bottom-left-radius: $dialog-corner-radius;
    border-top-left-radius: $dialog-corner-radius;
    overflow: hidden;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0;
      width: 0;
      border-left: 1px solid $dialog-body-border-color;
    }

    .uploadcare-dialog-tab {
      @include prefix(box-sizing, border-box);
      width: $dialog-tab-width;
      height: $dialog-tab-height;
      border-bottom: 1px solid $dialog-body-border-color;
      border-right: 1px solid $dialog-body-border-color;
      cursor: pointer;

      $frame-size: 50px;
      position: relative;
      &:after {
        @extend %tab-icons-image;
        content: '';
        display: block;
        position: absolute;
        width: $frame-size;
        height: $frame-size;
        top: 50%;
        left: 50%;
        margin-top: $frame-size / -2;
        margin-left: $frame-size / -2;
        border: none;
      }

      &:hover {
        background-color: #e5e7e8;
        &:after {
          @extend %tab-icons-hover-image;
        }
      }

      &.uploadcare-dialog-selected-tab {
        margin-right: -1px;
        border-right: 1px solid $dialog-body-background-color;
        &, &:hover {
          background-color: $dialog-body-background-color;
        }
        &:after {
          @extend %tab-icons-active-image;
        }
      }

      &.uploadcare-dialog-disabled-tab {
        cursor: default;
        &:hover {
          background-color: $dialog-body-shadow-color;
          &:after {
            @extend %tab-icons-image;
          }
        }
      }

      &.uploadcare-dialog-tab-preview:after {
        display: none;
      }
      &.uploadcare-dialog-tab-file:after {
        background-position: 0 ($frame-size * -1);
      }
      &.uploadcare-dialog-tab-url:after {
        background-position: 0 ($frame-size * -2);
      }
      &.uploadcare-dialog-tab-facebook:after {
        background-position: 0 ($frame-size * -3);
      }
      &.uploadcare-dialog-tab-dropbox:after {
        background-position: 0 ($frame-size * -4);
      }
      &.uploadcare-dialog-tab-gdrive:after {
        background-position: 0 ($frame-size * -5);
      }
      &.uploadcare-dialog-tab-instagram:after {
        background-position: 0 ($frame-size * -6);
      }

      &.uploadcare-dialog-first-tab {
        border-top-left-radius: $dialog-corner-radius;
      }
    }
  }

  .uploadcare-dialog-tabs-panel {
    position: relative;
    @include prefix(box-sizing, border-box);
    margin-left: $dialog-tab-width;
    padding: y(1) x(1);
    width: $dialog-width - $dialog-tab-width;
    height: $dialog-body-height;
    line-height: y(1);
    background: $dialog-body-background-color;
    border-bottom-right-radius: $dialog-corner-radius;
    border-top-right-radius: $dialog-corner-radius;
    font-size: $dialog-body-font-size;
    color: $dialog-body-text-color;

    input {
      @include prefix(box-sizing, border-box);
      width: 100%;
      height: y(2);
      margin-bottom: y(1);
      padding: y(0.5) x(0.5);
      font-family: inherit;
      font-size: $dialog-body-font-size;
      border: 1px solid $dialog-body-border-color;
      background: $dialog-body-field-color;
      color: $dialog-body-text-color;
    }

    .uploadcare-dialog-drop-file {
      background: $dialog-body-field-color;
      border: 1px dashed $dialog-body-border-color;
      border-radius: 3px;
      height: y(4.5);
      padding-top: y(3.5);
      text-align: center;
      color: $dialog-body-text-color-lighter;
    }
  }

  .uploadcare-pre {
    white-space: pre;
    font-family: monospace;
    margin: y(1) auto;
    padding: y(1) x(1);
    background-color: $dialog-body-field-color;
    border: 1px solid $dialog-body-border-color;
    border-radius: 3px;
    text-align: left;
    font-size: 15px;
    line-height: y(1);
  }
}

.uploadcare-dialog-footer {
  font-size: $dialog-body-font-size-smaller;
  text-align: center;
  color: #888888;
  margin-top: x(.6);
  a {
    color: #c2c2c2;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}


// § Common tab elements

.uploadcare-dialog-title {
  font-size: 25px;
  line-height: 1;
  margin-bottom: x(1);
}

.uploadcare-dialog-title2 {
  font-size: 20px;
  line-height: 1;
  padding-bottom: y(.5);
}

.uploadcare-dialog-big-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: x(2);
}

.uploadcare-dialog-label {
  font-size: 15px;
  line-height: x(1);
  margin-bottom: x(.5);
}

.uploadcare-dialog-large-text {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5em;
  .uploadcare-pre {
    display: inline-block;
    font-size: 18px;
  }
}

.uploadcare-dialog-section {
  margin-bottom: y(1);
}

.uploadcare-dialog-normal-text {
  font-size: $dialog-body-font-size-smaller;
  color: $dialog-body-text-color-lighter;
}

$dialog-button-height: 33px;
@mixin dialog-button-constructor (
  $default-a, $default-b,
  $hover-a, $hover-b,
  $active-a, $active-b,
  $text-color,
  $border-color
) {
  display: inline-block;
  font-size: $dialog-body-font-size-smaller;
  line-height: $dialog-button-height - 2;
  padding: 0 y(1);
  margin-right: .5em;
  border: solid 1px;
  border-radius: 3px;
  cursor: pointer;
  color: $text-color;

  &,
  &[disabled]:active,
  &.uploadcare-disabled-el:active,
  &[disabled]:hover,
  &.uploadcare-disabled-el:hover {
    @include gradient($default-a, $default-b);
    @include prefix(box-shadow, none);
    border-color: $border-color;
  }

  &:hover {
    @include gradient($hover-a, $hover-b);
    @include prefix(box-shadow, inset 0 -1px 3px rgba(black, .05));
  }

  &:active {
    @include gradient($active-a, $active-b);
    @include prefix(box-shadow, inset 0 2px 2px rgba(black, .05));
  }

  &[disabled], &.uploadcare-disabled-el {
    cursor: default;
    opacity: .6;
  }
}

.uploadcare-dialog-button {
  @include dialog-button-constructor(
    #f5f5f5, #f1f1f1,
    #fbfbfb, #f6f6f6,
    #f5f5f5, #f1f1f1,
    #444444,
    #dcdcdc
  );
  &:active, &:hover {
    border-color: #cbcbcb;
  }
}

.uploadcare-dialog-button-success {
  @include dialog-button-constructor(
    #3b8df7, #347fdf,
    #3986ea, #2c6dc2,
    #3680e1, #2c6fc5,
    #fff,
    #266fcb
  );
  &:active, &:hover {
    border-color: #266eca #1f62b7 #1753a1;
  }
  &:hover {
    @include prefix(box-shadow, inset 0 -1px 3px rgba(#1652a0, .5));
  }
  &:active {
    @include prefix(box-shadow, inset 0 1px 3px rgba(#1652a0, .4));
  }
}

.uploadcare-dialog-big-button {
  border-radius: 100px;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
  line-height: y(3) - 2px;
  border: solid 1px #276fcb;
  text-shadow: 0 -1px #2a7ce5;
  display: inline-block;
  padding: 0 2em;
  cursor: pointer;
  @include prefix(box-shadow, inset 0 -2px #1f66c1);
  @include gradient(#4892f6, #4289e6);

  &:hover {
    @include prefix(box-shadow, inset 0 -2px #1652a0);
    @include gradient(#3986eb, #2c6dc2);
  }

  &:active {
    border: none;
    line-height: y(3);
    @include prefix(box-shadow, inset 0 2px #2561b9);
    @include gradient(#2c6ec3, #2c6ec3);
  }
}


// § Preview tab

$dialog-preview-container-height: 456px;
$dialog-preview-container-width: 775px;
.uploadcare-dialog-preview-image-wrap1 {
  width: 100%;
  height: $dialog-preview-container-height;
  margin-bottom: y(1);
  display: table;
}
.uploadcare-dialog-preview-image-wrap2 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  img {
    max-width: $dialog-preview-container-width;
    max-height: $dialog-preview-container-height;
    display: block;
    margin: 0 auto;
  }
}

$dialog-footer-height: y(3);
.uploadcare-dialog-inner-footer {
  background: #fff3be;
  border-top: 1px solid #efe2a9;
  height: $dialog-button-height;
  padding: 16px 30px;
  margin: 0 x(-1) y(-1);
  border-bottom-right-radius: $dialog-corner-radius;
  .uploadcare-dialog-button-success {
    float: right;
  }
  .uploadcare-dialog-button {
    float: left;
  }
  .uploadcare-dialog-button-success,
  .uploadcare-dialog-button {
    width: x(4.5);
    padding: 0;
    text-align: center;
    margin-right: 0;
  }
}
  .uploadcare-dialog-inner-footer-text {
    text-align: center;
    color: #85732c;
    font-size: 15px;
    line-height: $dialog-button-height;
    &.uploadcare-error {
      color: red;
    }
  }

.uploadcare-dialog-message-center {
  text-align: center;
  padding-top: y(5);
}

.uploadcare-dialog-preview-center {
  text-align: center;
  padding-top: y(8);
}

.uploadcare-dialog-preview-circle {
  width: y(3);
  height: y(3);
  display: inline-block;
  margin-bottom: y(1);
}


// § Errors in preview tab

.uloadcare-dialog-error-tab-wrap {
  height: 100%;
  text-align: center;
  @include vertical-centered-wrap;
  .uploadcare-dialog-title {
    margin-bottom: 12px;
  }
  .uloadcare-dialog-error-tab-illustration,
  .uploadcare-dialog-normal-text {
    margin-bottom: 38px;
  }
  .uploadcare-dialog-button-success {
    margin: 0;
  }
}
  .uloadcare-dialog-error-tab-wrap2 {
    @include vertical-centered;
    margin-top: y(-1); // more visually centered
  }
    .uloadcare-dialog-error-tab-illustration {
      @extend %error-default-image;
      display: inline-block;
      width: 170px;
      height: 120px;
      background-position: center;
      background-repeat: no-repeat;
      .uloadcare-dialog-error-tab-image & {
        @extend %error-image-image;
      }
    }


// § Computer tab

.uploadcare-no-draganddrop .uploadcare-if-draganddrop {display: none}
.uploadcare-draganddrop .uploadcare-if-no-draganddrop {display: none}

.uploadcare-dialog-file-drop-area {
  $padding-top: 70px;
  $border-width: 3px;

  width: 100%;
  height: 100%;
  @include prefix(box-sizing, border-box);
  background: #f8f8f8;
  border: dashed $border-width #c5cacd;
  text-align: center;
  border-radius: 3px;
  padding-top: $padding-top;
  .uploadcare-dialog-big-button {
    margin-top: y(.5);
    margin-bottom: y(2.5);
  }
  .uploadcare-no-draganddrop & {
    border: none;
    padding-top: $padding-top + $border-width;
    background: transparent;
  }
}
  .uploadcare-dialog-file-title {
    font-size: 40px;
    line-height: 1;
    color: #dee0e1;
    font-weight: bold;
    margin-bottom: y(3);
    text-shadow: 0 1px white;
    .uploadcare-no-draganddrop & {
      text-shadow: none;
      color: black;
      margin-top: y(3);
    }
  }
  .uploadcare-dialog-file-or {
    font-size: $dialog-body-font-size-smaller;
    color: #8f9498;
    margin-bottom: y(2);
  }
  .uploadcare-dialog-file-sources {
    position: relative;
    display: inline-block;
    &:before {
      @extend %arrow-image;
      content: '';
      display: block;
      position: absolute;
      width: 67px;
      height: 44px;
      top: -32px;
      left: -90px;
    }
  }
    .uploadcare-dialog-file-source {
      display: inline;
      font-size: 15px;
      margin-right: .2em;
      cursor: pointer;
      font-weight: 300;
      &:after {
        content: '\00B7';
        color: #b7babc;
        margin-left: .5em;
      }
      &:last-child:after {
        display: none;
      }
    }

.uploadcare-draging {

  .uploadcare-dialog-file-or,
  .uploadcare-dialog-file-sources,
  .uploadcare-dialog-file-drop-area .uploadcare-dialog-big-button {
    display: none;
  }

  .uploadcare-dialog-file-drop-area {
    background: #f2f7fe;
    border-color: #438ae7;
    padding-top: y(12);
  }

  .uploadcare-dialog-file-title {
    color: #438ae7;
  }
}


// § Multiple preview

$dpm-columns: 8%, 60%, 10%, 14%, 8%;

.uploadcare-dpm-file-list {
  height: $dialog-preview-container-height + y(1);
  overflow: auto;
  margin: 0 x(-1);
  padding: 0 x(1);
}
  .uploadcare-dpm-file-item {
    $border: 1px solid #e3e3e3;
    border-top: $border;
    border-bottom: $border;
    margin-bottom: -1px;
    padding: 10px 0;
    font-size: $dialog-body-font-size-smaller;
    line-height: 1;
    word-wrap: break-word;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover, &.ui-sortable-helper {
      background: #ececec;
      .uploadcare-dpm-file-remove {display: inline-block}
    }
    &.ui-sortable-helper {
      cursor: move;
    }
    &.uploadcare-dpm-image {
      .uploadcare-dpm-file-preview-wrap {display: inline-block}
      .uploadcare-dpm-file-name {
        width: nth($dpm-columns, 2);
        &:before {display: none}
      }
    }
    &.uploadcare-dpm-uploaded {
      .uploadcare-dpm-file-progressbar-value {background: #8ac54c}
    }
    &.uploadcare-dpm-error {
      .uploadcare-dpm-file-error {display: inline-block}
      .uploadcare-dpm-file-size,
      .uploadcare-dpm-file-progressbar-wrap {display: none}
    }
  }
  %file-row-part {
    @include vertical-centered;
    @include prefix(box-sizing, border-box);
    padding: 0 10px;
  }
  .uploadcare-dpm-file-preview-wrap {
    @extend %file-row-part;
    text-align: center;
    width: nth($dpm-columns, 1);
    display: none;
    padding: 0;
    line-height: 0;
  }
    .uploadcare-dpm-file-preview-wrap2 {
      display: inline-block;
      width: 45px;
      height: 45px;
    }
  .uploadcare-dpm-file-name,
  .uploadcare-dpm-file-size,
  .uploadcare-dpm-file-error {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  %file-inline-icon {
    $height: 20px;
    $margin: ($height - $dialog-body-font-size-smaller) / -2;
    content: '';
    display: inline-block;
    width: $height;
    height: $height;
    margin: $margin .7em $margin 0;
  }
  .uploadcare-dpm-file-name {
    @extend %file-row-part;
    width: nth($dpm-columns, 2) + nth($dpm-columns, 1);
    &:before {
      @extend %file-inline-icon, %file-icon-image;
      width: 16px;
    }
  }
  .uploadcare-dpm-file-size {
    @extend %file-row-part;
    width: nth($dpm-columns, 3);
    padding-right: 0;
    text-align: left;
  }
  .uploadcare-dpm-file-progressbar-wrap {
    @extend %file-row-part;
    width: nth($dpm-columns, 4);
  }
    .uploadcare-dpm-file-progressbar {
      width: 80px;
      height: 8px;
      background: #e0e0e0;
      border-radius: 100px;
    }
      .uploadcare-dpm-file-progressbar-value {
        height: 100%;
        background: #d6b849;
        border-radius: 100px;
      }
  .uploadcare-dpm-file-error {
    @extend %file-row-part;
    width: nth($dpm-columns, 3) + nth($dpm-columns, 4);
    display: none;
    color: #f5444b;
    &:before {
      @extend %file-inline-icon, %error-icon-image;
    }
  }
  .uploadcare-dpm-file-remove-wrap {
    @extend %file-row-part;
    padding: 0;
    padding-right: 10px;
    width: nth($dpm-columns, 5);
    text-align: right;
    line-height: 0;
  }
    .uploadcare-dpm-file-remove {
      @extend %remove-button-image;
      display: none;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }


// § Base source tab

.uploadcare-dialog-source-base-wrap {
  height: $dialog-body-height;
  margin: y(-1) x(-1);
  padding: y(1) x(1);
  @include prefix(box-sizing, border-box);

  &.uploadcare-dialog-remote-iframe-wrap {
    padding: 0;
    iframe {
      border-top-right-radius: $dialog-corner-radius;
      border-bottom-right-radius: $dialog-corner-radius;
      .uploadcare-dialog-multiple & {
        border-bottom-right-radius: 0;
      }
    }
  }

  .uploadcare-dialog-multiple & {
    height: $dialog-body-height - $dialog-footer-height;
    margin: y(-1) x(-1) 0;
  }
}

.uploadcare-dialog-source-base-footer {
  display: none;
  .uploadcare-dialog-multiple & {
    display: block;
  }
}
