%tab-icons-image {
  background-image: asset-data-url('uploadcare/tab-icons.png');
}

%tab-icons-hover-image {
  background-image: asset-data-url('uploadcare/tab-icons-hover.png');
}

%tab-icons-active-image {
  background-image: asset-data-url('uploadcare/tab-icons-active.png');
}

%widget-buttons-image {
  background-image: asset-data-url('uploadcare/buttons.png');
}

%crop-border-image {
  background-image: asset-data-url('uploadcare/crop-border-bg.gif');
}

%arrow-image {
  background-image: asset-data-url('uploadcare/arrow.png');
}