%tab-icons-image {
  background-image: url("<%= settings.scriptBase %>/images/tab-icons.png");
  background-size: 50px;
}

%tab-icons-active-image {
  background-image: url("<%= settings.scriptBase %>/images/tab-icons-active.png");
  background-size: 50px;
}

%crop-border-image {
  background-image: url(data:image/gif;base64,R0lGODlhCAAIAPABAAAAAKqqqiH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgABACwAAAAACAAIAAACDYQRGadrzVRMB9FZ5SwAIfkECQoAAQAsAAAAAAgACAAAAg8MDqGYaudeW9ChyOyltQAAIfkECQoAAQAsAAAAAAgACAAAAg9MgGCXm+rQYtC0WGl9oQAAIfkECQoAAQAsAAAAAAgACAAAAg+MgWCRernaYmjCWLF7qAAAIfkECQoAAQAsAAAAAAgACAAAAg2MAwmna81UTAfRWeUsACH5BAkKAAEALAAAAAAIAAgAAAIPRB6gmGrnXlvQocjspbUAACH5BAkKAAEALAAAAAAIAAgAAAIPBIJhl5vq0GLQtFhpfaAAACH5BAUKAAEALAAAAAAIAAgAAAIPhINhkHq52mJowlixe6gAADs=);
}

%arrow-image {
  background-image: url("<%= settings.scriptBase %>/images/arrow.png");
}

%remove-button-image {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAABM0lEQVQoz5VTvW7CMBC2kHivQsjrZGRjaB6lXWCJbWScIT8PYN0GQ7s6FUUKL8CA2suR2C4FlfqkyL77cuf7/B1jbp3GdmIW1VIVKq9ezMI+ncbs92omNeeQgYQ1msQdh5o30x+g82ibCAysr4yDgG1yHjngLhkyXVuXeZcMRSNJMI4mAwinGl2siaiFWncOAW/QgO4vwCGHD/QI2tca27LxEDrAF7QE5fg94ungfrMxM89ZXyqnYAsbtG53RM/lKhmYlJUr6XrUPbQlmHY8SChXTBUhHRsCXfKGdKmCKe2PApQDKmokAJavD5b2zei+hTvNDPQI+HR5PD3C0+MJf4c95vCE79ETEI5POPvzCWf/EwXJbH5XZvNAZqSh6U3hRjc0jqMQmxRHoVRltTSpjcNR+AZwwvykEau0BgAAAABJRU5ErkJggg==);
}

%error-icon-image {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABIklEQVR42q3Vv2rCUBTHcaEQH825TdLl9hl0FsFdV7s5uXSpb+DoEziV6JCgATdR02D9E09/R64KF3NPbQx84BJOvgRyuSktK5VbHHiFDwhhCwl86Xu+nimZbsWeYQIkmMCLLfgELaA7tfSzRlCISVEz6AEV5J2DDszyBtNGg7L5/CSt123BGBwOKqA8WRzT+cqmU+kt3zj4aQ0myTW4WEjBPgcj29B+NLoE98OhFIw4+GMb2vR6l+Cm25WCWw6ubUPftRrR8XiSVKt/CgZADxKJH2XlurQbDBivxY8ibpu02SR98VrcNuLGXitFh/GYDkHAa2ljlznIfKCCfPNwaBeItfOOr84/Yu/m8WVy7zhgPfHE1hxQ0IcQdlqo76m8X8Avwkyxg4iIuCEAAAAASUVORK5CYII=);
}

%file-icon-image {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAABD0lEQVQoFQXBPa5OARQF0LXPvfKS9wo/hegMQUzEJESiUIpOoxOlRKJDIgqVUZiNqPGdba0AAPLj48Mn/8ApgEcPOAGArx/uPVvrEFVRA04A+PTu+vk1BlSwLuAE4Pubvy+vHGAFxABOgC+v/ryO24oYUVUDGODzi+PtjfuuXBBUxG8XASd8e3rz/o5rY60YwVjXKAj8/HXrblDFIAKCehxOOHcxCggWUTHghJYqIqIigoqCEyCKEcXFgAjghCAWi1EDIlgwABWxoIhYaxUMsIo4BEHBRR1ggMMogoqq4jCAgVo1VhGMgFjACQUjCKIqIigYqKiLILiogFULBkbUWhSDqKpYMFAFwaJGUVUH+A8ToG9OM8KqQQAAAABJRU5ErkJggg==);
}

%zoom-icon-image {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAQAAAAkGDomAAACsElEQVR4Ae2aSYH0IBBG5xYB7QAPmMAEMrCBhbiIh9dIwAPH3GblMgszYT7S9L9Q56ZfrVQKHnrX9YLFE0kUdjIrHodJy8O8VcFcxXr8QkpFNVPgsEQyjweksOFvak0cGzuPXZIJ18ttLLfx+EtJ+FPh0kKg8CjJelpMYqrtVMm4c1ybeRwkO2F8WhQeh0qYgDcJEfsj3k5iJeCrBCIb5SaImB9iLxEwaWmcM+u3mDtOLizfZu6GO6Bg/KaoF7HoENpbHz++sKS2kmk5I/oSttMT8YRIbLp3u15kb+huxnXgaYhxpP2S0pMQh9kQ29jKjqwKQhyynlNaMV8mXk5LbzOfv3Jvexs5Et2IBPE6XlP5qAdzdYO+CLJ3SGc2SBj2L85lIwaylr8HDOC0EpNHfpMRJQ/hvzo/NKQD/7Bq+sWhgFYygZIiQpqk4z/fbwBYhEJz/4B5DqDWKMxMkgllxmllxgknsVDItAjZhx51m9QrpUWthIIBhDRJwwCDHEJ4vevt9M8qOKEjk0Xl9Y9Of1LDX5s5/askN/pe9Wsx6pGiD3va7i2YcZs9sgrnxy6P1Q/Y8JGYluGD5A075MSssvYGNZ79hNk/a3O7hOvI3KgP1ttFoa3xijkQKJ4szv6FGX9hxbUiEoMnnX49gf9xy3qFjcW8isUT2hcR4xHD4SuuQmknw3xEXSRH7/eO6Mj3jmjY7hqxujrfOeL1QvgFZCFLiP2QHSU4EzE43Yq93Y5tPOupUl8hueul0R0JiH2p4+oV9kZ6la1eb9u0tLuj8xCFRfyPOBVxx907Yr5e7h1Rm1PqiPNtqCPac7l0RD+eREfUBwc64vw00RFVF+uI85NER0yTXmfrw5GZiPqzovGI8rOiCYgF9zB/ESj6FPbUhWWlTHlm3/mds7FTiLiPcE+3cn9UTvsNCQAAAABJRU5ErkJggg==);
}

%error-default-image {
  background-image: url("<%= settings.scriptBase %>/images/error-default.png");
}

%error-image-image {
  background-image: url("<%= settings.scriptBase %>/images/error-image.png");
}

%dialog-overlay-image {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQIHWMw/AQAAVcBJCiBozgAAAAASUVORK5CYII=);
  background: rgba(48, 48, 48, .70);
}


@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
  %tab-icons-image {
    background-image: url("<%= settings.scriptBase %>/images/tab-icons@2x.png");
  }

  %tab-icons-active-image {
    background-image: url("<%= settings.scriptBase %>/images/tab-icons-active@2x.png");
  }
}
