%tab-icons-image {
  background-image: url("<%= utils.imagePath('tab-icons.png') %>");
}

%tab-icons-active-image {
  background-image: url("<%= utils.imagePath('tab-icons-active.png') %>");
}

%widget-buttons-image {
  background-image: url("<%= utils.imagePath('buttons.png') %>");
}

%crop-border-image {
  background-image: url("<%= utils.imagePath('crop-border-bg.gif') %>");
}

%arrow-image {
  background-image: url("<%= utils.imagePath('arrow.png') %>");
}

%loading-image {
  background-image: url("<%= utils.imagePath('loading-spinner.gif') %>");
}

%remove-button-image {
  background-image: url("<%= utils.imagePath('remove-button.png') %>");
}

%error-icon-image {
  background-image: url("<%= utils.imagePath('error-icon.png') %>");
}

%file-icon-image {
  background-image: url("<%= utils.imagePath('file-icon.png') %>");
}

%error-default-image {
  background-image: url("<%= utils.imagePath('error-default.png') %>");
}

%error-image-image {
  background-image: url("<%= utils.imagePath('error-image.png') %>");
}

%dialog-overlay-image {
  background-image: url("<%= utils.imagePath('dialog-overlay.png') %>");
}
