/* jquery.Jcrop.css v0.9.10 - MIT License */

/*
  The outer-most container in a typical Jcrop instance
  If you are having difficulty with formatting related to styles
  on a parent element, place any fixes here or in a like selector

  You can also style this element if you want to add a border, etc
  A better method for styling can be seen below with .jcrop-light
  (Add a class to the holder and style elements for that extended class)
*/
.uploadcare-crop-widget {

&.jcrop-holder {
  direction: ltr;
  text-align: left;
  z-index: 0;
}


/* These styles define the border lines */
.jcrop-vline,
.jcrop-hline,
.jcrop-handle {
  position: absolute;
  font-size: 0;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
  z-index: 320;
}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-vline.right{right:0;}
.jcrop-hline.bottom{bottom:0;}

/* This style is used for invisible click targets */
.jcrop-tracker
{
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
  -webkit-touch-callout: none;              /* disable callout, image save panel */
  -webkit-user-select: none;                /* disable cut copy paste */
}


/* Handle style - size is set by Jcrop handleSize option (currently) */
.jcrop-handle {
  border-radius: 50%;
  width: 13px;
  height: 13px;
  z-index: 330;
}
.jcrop-handle:before,
.jcrop-handle:after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  background: white;
}
.jcrop-handle:before {width: 3px; top: 6px;}
.jcrop-handle:after {height: 3px; left: 6px;}
.jcrop-handle.ord-nw:before,
.jcrop-handle.ord-sw:before {left: 12px}
.jcrop-handle.ord-ne:before,
.jcrop-handle.ord-se:before {left: -2px}
.jcrop-handle.ord-nw:after,
.jcrop-handle.ord-ne:after {top: 12px}
.jcrop-handle.ord-sw:after,
.jcrop-handle.ord-se:after {top: -2px}
/* Positioning of handles and drag bars */
.jcrop-handle.ord-nw{left:0;margin-left:-6px;margin-top:-6px;top:0;}
.jcrop-handle.ord-ne{margin-right:-6px;margin-top:-6px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-6px;margin-right:-6px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-6px;margin-left:-6px;}


/* Fix for twitter bootstrap et al. */
&.jcrop-holder img,
img.jcrop-preview{
  max-width: none;
}

}
