@mixin prefix($prop, $value) {
  -ms-#{$prop}: $value;
  -moz-#{$prop}: $value;
  -webkit-#{$prop}: $value;
  -o-#{$prop}: $value;
  #{$prop}: $value;
}

@mixin gradient($from, $to) {
  background: mix($from, $to);
  background: -webkit-linear-gradient($from, $to);
  background: -moz-linear-gradient($from, $to);
  background: -o-linear-gradient($from, $to);
  background: linear-gradient($from, $to);
}

@function x($count) {
  @return $count * 25px;
}

@function y($count) {
  @return $count * 22px;
}

$font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

// https://coderwall.com/p/oo2bqg
@mixin vertical-centered {
  vertical-align: middle;
  display: inline-block;
}
@mixin vertical-centered-wrap {
  &:before {
    @include vertical-centered;
    content: '';
    height: 100%;
  }
}
