@mixin gradient($from, $to) {
  background: mix($from, $to);
  background: linear-gradient($from, $to);
}

@function x($count) {
  @return $count * 25px;
}

@function y($count) {
  @return $count * 22px;
}

$font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// https://coderwall.com/p/oo2bqg
@mixin vertical-centered {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

@mixin vertical-centered-wrap {
  white-space: nowrap;
  &:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 100%;

    // IE8 applies styles from parent, so we need reset them.
    position: static;
    width: 0;
  }
}
