@import "crop-widget";

@mixin prefix($prop, $value) {
  -ms-#{$prop}: $value;
  -moz-#{$prop}: $value;
  -webkit-#{$prop}: $value;
  -o-#{$prop}: $value;
  #{$prop}: $value;
}

@function x($count) {
  @return $count * 25px;
}

@function y($count) {
  @return $count * 22px;
}

$widget-height: 25px;
$circle-background-color: #e1e5e7;
$button-text-color: #8f9295;
$circle-center-color: white;
$circle-center-width: 15%;
$circle-active-background: #d0bf26;
$dragndrop-background-color: #f0f0f0;
$dragndrop-border-color: #b3b5b6;
$dragndrop-text-color: #707478;

.uploadcare-widget {
  display: inline-block !important;
  position: relative;
  vertical-align: middle;
  padding: 0 5px;

  &[data-status=loaded], &[data-status=started] {
    .uploadcare-widget-buttons > li { display: none; }
  }
  &[data-status=started] .uploadcare-widget-buttons .uploadcare-widget-buttons-cancel,
  &[data-status=loaded] .uploadcare-widget-buttons .uploadcare-widget-buttons-remove {
    display: inline-block;
  }

  .uploadcare-widget-circle {
    width: $widget-height;
    height: $widget-height;
  }
}

.uploadcare-widget-circle {
  position: relative;
  top: -1px;
  float: left;
  font-size: 0;
  position: relative;
  margin-right: 1ex;
  .uploadcare-widget-circle-back {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: $circle-background-color;
    &.uploadcare-widget-circle-active {
      background: $circle-active-background;
    }
  }
  .uploadcare-widget-circle-center {
    position: absolute;
    background: $circle-center-color;
    width: $circle-center-width;
    height: $circle-center-width;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    margin-top: -$circle-center-width / 2;
    margin-left: -$circle-center-width / 2;
  }
}

.uploadcare-widget-buttons {
  position: relative;
  top: -1px;
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  > li {
    $height: 24px;
    height: $height;
    float: left;
    font-size: 11px;
    color: $button-text-color;
    line-height: $widget-height;
    min-width: 36px;
    padding: 0 6px;
    margin: 0 3px ($widget-height - 24) 0;
    @include prefix(box-sizing, border-box);
    border-radius: 2px;
    background: $circle-background-color;
    cursor: default;

    $frame: -$height;
    &.uploadcare-widget-buttons-dialog,
    &.uploadcare-widget-buttons-file,
    &.uploadcare-widget-buttons-url {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAB4CAYAAACaTFAUAAADn0lEQVR42u3bS2wNURjA8aLaEBp0IV5NPGJBkJBSEl1UtB5hQW0JXSIsxGMjFsRjQ9AHQtJiwUpUaVJExELi3US5JZ7FlajiJlQfPv/cfKQ5uVNuO2em9Cx+Se/MSe8/M3PnnGluU0SkR3FBLsgF7T9YXAn5S5VBBEkyY12QC3JB/0VQEiwFaUh3BBb0p3HJnjpbU4ap0s32LsgFuSAXpGzOZR0lNVb5GOT9RoOwGgdQih1Yin5BB6XjKFo0ZB4mYhrq0IhNQQVlIYKtxhumYYz+nAnBBfSxGZSOJ5AObxRFGcTDGZtBR7AX54yjUwnBZ4+o+b4H6QXcgiVGzEYIvkJwS8d9h6gHNoJWQ7DNCPqAcszFJFyDIAbpYKjfQbtRaMRkQTqI4DEELca+qX4HlWCCEVQD6URfiMq3cYSyjaAjEA95OmYsBDP8DloMQaYRFX9txLw1xrRjgN9BqfgIQUoCZyCqAinqOKps3Yc2QzyiaiGoR7VxdEbanDou41mCoHREjG2C7bbnsn44C8EIM0xtQzu2BLn8KMRdiGqGoBVVGBX4ekhlIhcLMB0DPMa5NbULckEuqLuT6xp8gSQphiILQRrTNZ9675+FTdU1V6XhXVTeRN8Lwg968bpBY3pGkBnigswQkwty15AL+qeDvnQjKGYjqAhNkCQ1ocitGF2QC3JB7rnMPZclqXcGmevnp89fyPmqS+EG1T6skyvXrsvNW7flZcMbYVu4QcT8fv2o/kl8W3HZsZCC9DRpSBxHSveHGMRpi+N1/LQdO1HeM04ZP8e3VddcCf+iRvxosU0/aSEFmbiG3I2xS8KeXN1zmVsxuiAX1LuCuK9kIKeT/bOQEdR/Ty3Ca7RibYL969GGV1ho80ExEychhhKkoj9KIYYKDPMtSGNWIArxcAqnIR6iKPQlSL+vuAVtEEM7ijFEleg2MbRhM/r4ecoK0AhRd5CdYNxM3IOoRuRbuaj5xeNxAxuQ2um3sRijY8fpditBk1GL7UjrZFyajnmASbY+ZcsRg6jHyEswbh4iEBXDMr8/ZbvwA2L4gQoMVychHuN2+hlUgJcQD+UaJh6eo8DvUzYYxQmO1B7dl4F9CW4LhzHY5tSRi3o0YyVG4y7uIwurdF8Ec4OYywowEFOQg3cQ9R5zMEXH5AcRVIJqrMU3iKEZ63ARpUEtP5ajAeLhLVYEukDTi/gQ2hPNbaGtGHUxdh+1mN0jlrC/1kNuTR2En2aqi4BnOyDfAAAAAElFTkSuQmCC);
      background-position: 0 0;
      background-repeat: no-repeat;
      padding-left: 30px;
    }
    &.uploadcare-widget-buttons-dialog,
    &.uploadcare-widget-buttons-url {
      background-position: 0 $frame;
    }
    &.uploadcare-widget-buttons-cancel, &.uploadcare-widget-buttons-remove {
      font-size: 0.9em;
      display: none;
    }
  }
}

.uploadcare-widget-status-text {
  float: left;
  overflow: hidden;
  line-height: $widget-height;
  height: $widget-height;
  margin-right: 1ex;
  white-space: nowrap;
  padding: 0 5px;
  a {
    color: #1a85ad;
    border-bottom-color: #1a85ad;
    text-decoration: none;
    border-bottom: 1px dotted;
  }
}

.uploadcare-widget {
  .uploadcare-widget-dragndrop-area {
    display: none;
    position: absolute;
    $padding: 8px;
    $height: $padding * 2 + $widget-height;
    top: -$padding;
    left: 0;
    width: 100%;
    height: $height;
    line-height: $height;
    text-align: center;
    background-color: $dragndrop-background-color;
    color: $dragndrop-text-color;
    border: 1px dashed $dragndrop-border-color;
    border-radius: $widget-height / 2 + $padding;

    &.uploadcare-dragging {
      display: block;
    }
  }
}


$dialog-max-tabs: 6;
$dialog-tab-width: x(3);
$dialog-tab-height: y(3);
$dialog-body-height: $dialog-tab-height * $dialog-max-tabs;

$dialog-width: x(26);
$dialog-height: y(3) + $dialog-body-height;

$dialog-corner-radius: 10px;
$dialog-link-color: #1a85ad;
$dialog-link-active-color: #252525;
$dialog-button-text-color: #fff;
$dialog-body-background-color: #f6f6f6;
$dialog-body-shadow-color: #e5e7e9;
$dialog-body-field-color: #fff;
$dialog-body-border-color: #c5cace;
$dialog-body-text-color: #000;
$dialog-body-text-color-lighter: #545454;
$dialog-body-font-size: 16px;
$dialog-body-font-size-smaller: 14px;

.uploadcare-dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index: 10000;
}

.uploadcare-dialog-close {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: $dialog-width / 2 + x(0.5);
  margin-top: $dialog-height / -2;
  button {
    $size: y(1.5);
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    width: $size;
    height: $size;
    line-height: $size;
    font-size: $size;
    font-weight: bold;
    color: #8a8a8a;
    cursor: pointer;
  }
}

.uploadcare-dialog-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  width: $dialog-width;
  height: $dialog-height;
  overflow: hidden;
  margin-left: $dialog-width / -2;
  margin-top: $dialog-height / -2;
  border-radius: $dialog-corner-radius;
  background: #fff;
  @include prefix(box-shadow, 0 5px 40px rgba(0,0,0,0.35));
  font-weight: normal;

  a {
    text-decoration: none;
    border-bottom: 1px dotted;
    &:link, &:visited {
      color: $dialog-link-color;
      border-bottom-color: $dialog-link-color;
    }
    &:hover, &:active {
      color: $dialog-link-active-color;
      border-bottom-color: $dialog-link-active-color;
    }
  }
}

.uploadcare-dialog-header {
  position: relative;
  padding: y(1) x(1);
  font-size: y(1);
  line-height: y(1);

  .uploadcare-dialog-title {
    font-weight: 300;
    color: #676767;
    em {
      font-style: italic;
      text-decoration: none;
    }
  }

  .uploadcare-dialog-powered-by {
    position: absolute;
    right: x(1);
    top: y(1);
    font-size: 0.5em;
    color: #939393;
  }
}

.uploadcare-dialog-body {
  ul.uploadcare-dialog-tabs {
    @include prefix(box-sizing, border-box);
    width: $dialog-tab-width;
    height: $dialog-body-height;
    float: left;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: $dialog-body-shadow-color;
    border-top: 1px solid $dialog-body-border-color;
    border-right: 1px solid $dialog-body-border-color;
    border-bottom-left-radius: $dialog-corner-radius;

    > li {
      @include prefix(box-sizing, border-box);
      width: $dialog-tab-width;
      height: $dialog-tab-height;
      border-bottom: 1px solid $dialog-body-border-color;
      cursor: pointer;

      &:nth-child(#{$dialog-max-tabs}) {
        border-bottom: none;
        border-bottom-left-radius: $dialog-corner-radius;
      }

      &.uploadcare-dialog-selected-tab {
        width: x(3) + 1;
        margin-right: -1px;
        background-color: $dialog-body-background-color;
        border-right: 1px solid $dialog-body-background-color;
      }

      $frame-x: x(-3);
      $frame-y: y(-3);
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAGMCAYAAACS1F9SAAAITklEQVR42u2daWxVRRiGS9m1lUUsLSAogsSFqlHBNC4E0QAJiAJhCSFxSxQMinGHCI36B2URVEQFBVyJYMoiiwUXSBFtov8gLuASQpCqEZdg1NRv9Ls6Ts7W3lbSmedJ3tCeO3Oa82TOnJkhZ25BAQAAAAAAAAAAAAAAAADkw7qqDd0layXHJPVNFHOu9ZIy32RVNaEkNxt9k/WzubBmOK+R9ZtvsuqbUVY9spCFLGQhC1nIQhaykIUsZCELWS1dzs5mXJJJy84W2ZKOV7yW9fmBL+sPHjocGfNZWv0jR+rq6+rqwpAVess6nn3WrgIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiGVuZWWZ5FHJPskxybeSrZIJkkIM/SvqGskPkvqYbJd0QlRl5TjJb5aYPyQHtGXZwjZIWiHqXyGbJb31s0K9Be0WNxZRf2etpF1EuclWmS0hihrviFoXJcpqYT9puW9DE3VVlhbl1NmvZX8NSdRJkm8sUa9LOphhQ0KdXtrpm/L7QpI10xL1ropaLvlFMiOifBt9CubqzA+lMzeDzo3WhQ+W3OcMD6Y5otZYnx2V9AzlqddW8pF18e0lp0lWWsdMC+sZIep3yeiQhgddJNWWgAFWuRXW8TmSYY6oiaGNo66QVFq/r7DKDrCOb5OUhCRqdNQ4StJHJ8m54+YWPFNvydyxjyWtVdSEEFYPjsaNo+Tn251O3XTyg6zfN2nL8luUynjMmetFTWGma2e+UlvVNqvObSGNpfZaqwe9E8qVqCj7qVdnHgQhycr1SQdSykUND0aFNver04v/Lm6FM0bUxILQ0KXgnISJiEqWNcESYRbubjBDAWtSvNERNakgVMzSr+QtZ3hgnnxfWKsHiLKEdXJakJsfJWMK4D8tbKz2Yd+bhTvJp5IF5nbEEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgvrH65q2SepEZS20Qx51og6eabrAVNKMnNIt9k7WpGWXt8k1XbnEEWshqeqo2b9+7/4qtjBw8drreDrIjs/eSzH11RyIrJ1wcP/YGsjIkThCxkIatZZUX1UfRZyEIWfRaykIUsZCELWcj6H2W934yyvFtWfrwZZS32TVY3c1H5tLCImHMtkZxSAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA0CJZuPjJEyUzJc9ISjKUL5E8K7lDckIoklpJRki2SGo1b0kGJ9S5RMvkypu6w825fBbVT1tSbUQ+kNwkKbTKF0pu1s+i6phzneGbpCLJnZI9MRdt5wlJJ0kX/Tmt/B49d5EPokY6t1yWPKBpSB3zN0a0dFlDJDsyXvAaSYVVt0KPZam73fwtH1pXqeS5hAutloyXtI6o21o/q06ob56SpT71W+aipzmd9W4dChRnqF+sZXc7D4VboiT7Iu1i7V8elZzaiPqnat3Nkot8H2d1lSyIu+0yttDxeo6uPosaLNka16FnqO92+OZcg3yTZFrDbQmDy8WSvgn1+2qZuMHsdC/6LbmIHpLnMw4u75V0tup21mNZBrMrJGUtXdbMhBYVlbclEyWT9Oes9czfuMOH1jVQ8mLGi35Tcr7kAv05S53V5m/41G+ZSfG4lNH8kzonHKYrE+bnpSmj9rH25Nu3zt70Q7OdWzM3uGwvuceZI3bUz9zys+z+zechRHfJuZJV2jou0SlR1INglT4kKrSs+f2cLAuGvshaJ7le0lZb2qUqIqnTH6Jl20imSNaGIqvKajV3ST7M0Il/qMOIXOtbH4qsMp3f1TYyjZpXtnRpF0peaoCkNd5NbxoxpBibsl5V3diJt6/SotarclOgkzAULa2PTpoTJ9cAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQLOblTP13XsLLTjuCf4dHBJyuLzSZPWp6Sd5PEDYzdFlLVMSr+jrdnQmyjMieoYq6zJFxnbnVUrYzmBeiqLb6Ynmts6uk2ZJzcsobreeFJmtqjIgZKvKNBFkrvd520xFl9tB6L0aEeZO1p2RoSuu6OhRZD6Z04r21XNI+gesl7XwXdXbKPg4znLJJrWuqz6Ja6T5XcRe/zXTwTp2HEsq/Yzb38VXW8JSWMjqijtkwoyahzj0+iuqYsh/WqritnXQLvKRNxvr4JuvWlFZVnlD3RGfXbjcLfRLVI+VWejjDOcalyL7IF1lJqwm7Mm6e31q3wnsnJst8kZW0mfSNLFL9V1ZFwsDSbF03RjJf80wjM9QnYVGbsg5NmfpkzVavvtdCF/nsTQ6X6fEH8hRlMsbH2/Fua2zU33z/RAM3fI3Ka15uvanfTWE2O7w/4dZsaCoKfEUubpRKG9QEopaE8HQ0a+2v5CnK3L79GGsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/PXOTrm+dVqT53s7NXqecl9FDdRNeWqbMLu9FCYXtTQPKea14CorW63PnvZRVj633kDnXIXWRmU1PsrK53YrjTjfP9tFIQtZyGpKWTsliyRzVUbuzfxhzrnMO9ZbQpY1S1Ls1OkrWZ1WNzRZcxLqFUVs0RmGLOv3btZovHNK3SstOR3izumzrMF67KkMddtb/VdpiLKu1mOPZKz/rpbvFKKsC/XY8gx1i6JG6yHJOkH7K3N79Uipe23ULRuMLD02OydB0iamXnfdv9SUGxmyrG7WCoJZn+rvTJYvt7brfNrdfDooWXr8LMlmZ2s7s2dptXXsuaivZAhOln52su7Q5m5nt0kyJeEWDU+WVaad5Eyz56jZ1TZtz3efZeUW/4qb6HzFPi/+LdOLM1/oUZTnuYqsLwZZ5qOscv7DouHC+K8wAAAAAAAAAAAAAACAxvIn5hprOSM6X14AAAAASUVORK5CYII=);
      background-repeat: no-repeat;
      &.uploadcare-dialog-tab-url {
        background-position: 0 $frame-y;
      }
      &.uploadcare-dialog-tab-facebook  {
        background-position: 0 ($frame-y * 2);
      }
      &.uploadcare-dialog-tab-dropbox  {
        background-position: 0 ($frame-y * 3);
      }
      &.uploadcare-dialog-tab-gdrive  {
        background-position: 0 ($frame-y * 4);
      }
      &.uploadcare-dialog-tab-instagram  {
        background-position: 0 ($frame-y * 5);
      }
    }
  }

  .uploadcare-dialog-tabs-panel {
    position: relative;
    @include prefix(box-sizing, border-box);
    margin-left: $dialog-tab-width;
    padding: y(1) x(1);
    width: $dialog-width - $dialog-tab-width;
    height: $dialog-body-height;
    line-height: y(1);
    background: $dialog-body-background-color;
    border-top: 1px solid $dialog-body-border-color;
    border-bottom-right-radius: $dialog-corner-radius;
    font-size: $dialog-body-font-size;
    color: $dialog-body-text-color;

    .uploadcare-dialog-title {
      margin-bottom: y(1);
      font-weight: bold;
    }

    ul.uploadcare-dialog-support {
      position: absolute;
      right: x(1);
      top: y(1);
      margin: 0;
      padding: 0;
      text-align: right;

      > li {
        float: left;
        width: y(2);
        height: y(2);
        margin-left: x(0.5);
        list-style: none;

        $frame: y(-2);
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAACwCAYAAAB0IIw5AAAGSUlEQVR42u2cW2gcVRjHU+jLpi+hNBsS2I1YBS0oiIgKRQXFvil4wQcFHxQEqyJhdRmV+ib11sumuTSXdnPZ5rbpurtJ9pJs9p5bWxtom902VSvFCoKK9iViG/2+OutZ9z5zdsY9+j38IZnO2fnlzJlzzp7fmdbt/9zGky0QA6QB0ghpgZggZjkm+VijfI4By/BcU21BA0LIUK0KY5bLGvQAroc0s4tzpxlSrwXwVkgTXkSjNOE1qgW8TW6LrRrHhNfiBW6AtOqcBrXA23WHZdlejIuzZvWv6WJttrVGsq0c8FaIqYaATchUFJh1XTWVpmLA9TUHy1JfCLi5hoGbc4ENNQvLYsgG3lFJoYNHuncG5sKvxZKLofjC0spcJLbv6LHBXToB78gAb6l01hUMhfcml1Y2IX9kEo4l2g939OzUAdiMrIqaA9TqKkLm5OeTnukn9GoWika1xOLyNQbK4p72P1Wu7Nike3c1Rj8ENlZaIBJPDuTCQq0vDTjG7itVbsoXfB7OO12FO2FE4JZKC5wYn3wQHjhfFuxpz0ygZO2On/Q8Auedx/OhbNTW1XsHB3BLndKh+NjgiXu8vuAzM4G5Fx1jzgdKndt7fGgXQAaz78h8NPEZz1Bdx3oIvsyGo5LLO7Mn8/snB4/cFo4nj+b2KvAc/OgLhl5W21NwAyPYXDj2PsBsAEwa26n8B7wDx24gZIF2fxbvjipg3tkZDCSvA8SvWTCrs/NRC8B/zSDzE4kvDOFApKZJtKiFxXYMYD8ggIpchz92r5qHzqgGFm79k6wW1QXKryvsn42qvg6NOl0PsVGPL9HEgru9u/9OJQOHQVG3NjRyL3RVEW5Ylk14aN+rdGhWNPnBPhhgp7gh83MdRsPnKpn8KJpeQk18AO3uKuRylXMVeg1Hmes3CjeBF+orknBfQoX6mi/cQopQS1VCLQYKtdwq1IK2UMpAKCkjjPYisVihujWWULfGaqlbcs3kmsk1k2sm10yumVzz/9M1d/XZ78IV+mAo8kY4luzE9eGacs0oY1ANhKLx/bBC6YLlqG9gDe1m1lLrtX/NNQ+PTtyPi3m4Cok1Jy/FbpRZG/6K2zWrCaxmhgHgp0JQHMAcrrlMGAQHMIdr1hJ4A5pKCkC/Y8AcrlkD4N8RCpqMFxSYdcLleYyVYcAcrlldcgC/BcAA7KP4cNI99XiupuUFZq6ZH3jTPzf/Kva1ZctwADPXzA980/mFV77lGgIz18wP7PLM7NEB2CwksEkQYOaatQbGfRPyvOIj3I3F+9AZtQSG2dmbAHeFY6Tjc83emcDTMPtyQk0tZ8nxG4WAfbOhVzIztNxgWUWwalwz7FGz4QCRD5APjHvZACpVYi5xWQGoYteMt/YtdsHywOil4fgvxcrAiOgvC8jjmuEC86UmNrAl4eHs8w/Yum7HZlPk/N9go9OzZSE5XDMCx4oBIxgC5pbB+URmC1gm+DvuZNHcNcM+nrYibfF73J1SrFx3/8DdAPgSNqlp/+wLuJlDF9eMu6dgmviu3DtcwZqCnYL9MG18lFwzuWZyzeSayTWTaybXTK6ZXDO5ZnLN5JrJNZNrJtdM7zXTe81iv9esf/hds/7hd82xxGLboY4eK/xccTp7j1u/XD1nTV9cL5jUxXWLVq4Z133xwyWlGXSMS+lL63kBWCmeXLJq5po/PdShChhMUh7suQspyTHqlD4+0G7lcM0aAduH/wEL9ks63Nlz69/gM60crlkb4D674+8m4PJMY63icQbM4Zo1AbYPj0hr6UsS/PcO7LhyYLNuwEMj49LC8in8mRvYpA/whLR86gwvsEm3hw683a027J72Z7dfVQ+dUceHDoM1jT2EUmDmmvUFZgPG8F99sASGysrhmvUAZglF4pKts9daZdfMgt0TQCuCxfNBKiJgwVxYS0tVds0sK2fOvt3dZ8darihwyy0DjjHL+bWUBZpBwUD/3IafTe8103vN5JrJNZNrJtdMrplcM7lmcs3kmsk1k2sm10yumVwzuWZyzeSayTVzu2apWlHtmgUAZq5ZIGDmmgUIc82C1DBzzYIAM9csEDBzzYLELFyTEPKhMwoEzFyzIGnQd2jmB2auWQDgUq5Zf2ByzeSayTWTaybXTK6ZXDO5ZnLN/wXX/CfOVTwxc2cNdgAAAABJRU5ErkJggg==);
        background-repeat: no-repeat;
        &.uploadcare-dialog-support-images {
          background-position: 0 0;
        }
        &.uploadcare-dialog-support-audio {
          background-position: 0 $frame;
        }
        &.uploadcare-dialog-support-video {
          background-position: 0 $frame*2;
        }
        &.uploadcare-dialog-support-documents {
          background-position: 0 $frame*3;
        }
      }
    }

    p {
      margin: 0 0 y(1) 0;
      padding: 0;
      font-size: $dialog-body-font-size-smaller;
      color: $dialog-body-text-color-lighter;
    }

    .uploadcare-dialog-section {
      margin-bottom: y(1);
      p {
        margin: 0;
      }
    }

    input {
      @include prefix(box-sizing, border-box);
      width: 100%;
      height: y(2);
      margin-bottom: y(1);
      padding: y(0.5) x(0.5);
      font-family: inherit;
      font-size: $dialog-body-font-size;
      border: 1px solid $dialog-body-border-color;
      background: $dialog-body-field-color;
      color: $dialog-body-text-color;
    }

    button, .uploadcare-dialog-button {
      @include prefix(box-sizing, border-box);
      margin-bottom: y(1);
      padding: y(0.5) x(1);
      line-height: y(1);
      background: $dialog-link-color;
      border: none;
      border-radius: 5px;
      font-family: inherit;
      font-size: $dialog-body-font-size-smaller;
      color: $dialog-button-text-color;
      cursor: default;

      &:hover {
        background: $dialog-link-active-color;
      }

      &[disabled] {
        background: $dialog-body-shadow-color;
        cursor: default;
      }
    }

    .uploadcare-dialog-button {
      display: inline-block;
    }

    .uploadcare-dialog-drop-file {
      background: $dialog-body-field-color;
      border: 1px dashed $dialog-body-border-color;
      border-radius: 3px;
      height: y(4.5);
      padding-top: y(3.5);
      text-align: center;
      color: $dialog-body-text-color-lighter;
    }
  }
}
