@import "images";
@import "mixins";
@import "dialog";
@import "crop-widget";

$widget-height: 25px;
$circle-background-color: #e1e5e7;
$button-text-color: #8f9295;
$circle-center-color: white;
$circle-center-width: 10%;
$circle-active-background: #d0bf26;
$dragndrop-background-color: #f0f0f0;
$dragndrop-border-color: #b3b5b6;
$dragndrop-text-color: #707478;

.uploadcare-widget {
  display: inline-block !important;
  position: relative;
  vertical-align: middle;
  padding: 0 5px;

  &[data-status=loaded], &[data-status=started] {
    .uploadcare-widget-buttons > li { display: none; }
  }
  &[data-status=started] .uploadcare-widget-buttons .uploadcare-widget-buttons-cancel,
  &[data-status=loaded] .uploadcare-widget-buttons .uploadcare-widget-buttons-remove {
    display: inline-block;
  }

  .uploadcare-widget-circle {
    width: $widget-height;
    height: $widget-height;
    top: -1px;
    float: left;
    margin-right: 1ex;
  }
}

.uploadcare-widget-circle {
  position: relative;
  font-size: 0;
  .uploadcare-widget-circle-back {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: $circle-background-color;
    &.uploadcare-widget-circle-active {
      background: $circle-active-background;
    }
  }
  .uploadcare-widget-circle-center {
    position: absolute;
    background: $circle-center-color;
    width: $circle-center-width;
    height: $circle-center-width;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    margin-top: -$circle-center-width / 2;
    margin-left: -$circle-center-width / 2;
  }
}

.uploadcare-widget-buttons {
  position: relative;
  top: -1px;
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    $height: 24px;
    height: $height;
    float: left;
    font-size: 11px;
    color: $button-text-color;
    line-height: $widget-height;
    min-width: 36px;
    padding: 0 6px;
    margin: 0 3px ($widget-height - 24) 0;
    list-style: none;
    @include prefix(box-sizing, border-box);
    border-radius: 2px;
    background: $circle-background-color;
    cursor: default;

    $frame: -$height;
    &.uploadcare-widget-buttons-dialog,
    &.uploadcare-widget-buttons-file,
    &.uploadcare-widget-buttons-url {
      @extend %widget-buttons-image;
      background-position: 0 0;
      background-repeat: no-repeat;
      padding-left: 30px;
    }
    &.uploadcare-widget-buttons-dialog,
    &.uploadcare-widget-buttons-url {
      background-position: 0 $frame;
    }
    &.uploadcare-widget-buttons-cancel, &.uploadcare-widget-buttons-remove {
      font-size: 0.9em;
      display: none;
    }
  }
}

.uploadcare-widget-status-text {
  float: left;
  overflow: hidden;
  line-height: $widget-height;
  height: $widget-height;
  margin-right: 1ex;
  white-space: nowrap;
  padding: 0 5px;
}
  .uploadcare-widget-file-name {
    cursor: pointer;
    color: #1a85ad;
    border-bottom-color: #1a85ad;
    text-decoration: none;
    border-bottom: 1px dotted;
  }

.uploadcare-widget {
  .uploadcare-widget-dragndrop-area {
    display: none;
    position: absolute;
    $padding: 8px;
    $height: $padding * 2 + $widget-height;
    top: -$padding;
    left: 0;
    width: 100%;
    height: $height;
    line-height: $height;
    text-align: center;
    background-color: $dragndrop-background-color;
    color: $dragndrop-text-color;
    border: 1px dashed $dragndrop-border-color;
    border-radius: $widget-height / 2 + $padding;

    &.uploadcare-dragging {
      display: block;
    }
  }
}
