@import "images";
@import "colors";
@import "mixins";
@import "dialog";
@import "crop-widget";

/* Widget is inline-block. The right way to set height of inline-block
 * is to set line-height. Therefore important that all elements being
 * zero height or depends on line-height. Default widget height is height
 * of the tallest element: 2em;
 */

.uploadcare-widget {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  line-height: 2;
  white-space: nowrap;
}

.uploadcare-widget-status-ready .uploadcare-widget-button-open,
.uploadcare-widget-status-started .uploadcare-widget-status,
.uploadcare-widget-status-started .uploadcare-widget-text,
.uploadcare-widget-status-started .uploadcare-widget-button-cancel,
.uploadcare-widget-status-loaded .uploadcare-widget-text,
.uploadcare-widget-status-loaded .uploadcare-widget-button-remove,
.uploadcare-widget-status-error .uploadcare-widget-text,
.uploadcare-widget-status-error .uploadcare-widget-button-open {
  display: inline-block;
}

.uploadcare-widget-status {
  display: none;
  width: 1.8em;
  height: 1.8em;
  margin: -1em 0;
  margin-right: 1ex;
  // this removes space on the bottom of canvas
  line-height: 0;
  vertical-align: middle;
}

.uploadcare-widget-circle--text {
  .uploadcare-widget-circle-back {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: table;
    white-space: normal;
  }
    .uploadcare-widget-circle-text {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 60%;
      line-height: 1;
    }
}


.uploadcare-widget-button {
  display: none;
  color: white;
  padding: .4em .6em;
  line-height: 1;
  margin: -1em 0;
  margin-right: .5ex;
  border-radius: .25em;
  background: #c3c3c3;
  cursor: default;
}
.uploadcare-widget-button:hover {
  background: #b3b3b3;
}
.uploadcare-widget-button-open {
  padding: .5em .8em;
  background: #18a5d0;
}
.uploadcare-widget-button-open:hover {
  background: #0094c0;
}

.uploadcare-widget-text {
  display: none;
  margin-right: 1ex;
}
  .uploadcare-widget-file-name {
    cursor: pointer;
    color: #1a85ad;
    border-bottom-color: #1a85ad;
    text-decoration: none;
    border-bottom: 1px dotted;
  }

.uploadcare-widget-dragndrop-area {
  display: none;
  position: absolute;

  // Verticlly centered
  top: 50%;
  margin-top: -1.3em;

  left: -1em;
  width: 100%;
  height: 2em;
  padding: .3em 1em;
  line-height: 2;
  min-width: 9em;
  text-align: center;
  background-color: $dragndrop-background-color;
  color: $dragndrop-text-color;
  border: 1px dashed $dragndrop-border-color;
  border-radius: 100px;

  .uploadcare-widget.uploadcare-dragging & {
    background-color: $dragndrop-hover-background-color;
    border-color: $dragndrop-hover-border-color;
    color: $dragndrop-hover-text-color;
  }
  .uploadcare-dragging & {
    display: block;
  }
  .uploadcare-dialog-opened & {
    display: none;
  }
}
