@import "images";
@import "colors";
@import "mixins";
@import "dialog";
@import "dialog-mobile";
@import "crop-widget";

/* Widget is inline-block. The right way to set height of inline-block
 * is to set line-height. Therefore important that all elements being
 * zero height or depends on line-height. Default widget height is height
 * of the tallest element: 2em;
 */

.uploadcare-widget {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  line-height: 2;

  :focus {
    outline: 2px dotted #0094c0;
  }
  :active,
  .uploadcare-mouse-focused:focus {
    outline: none;
  }
}

.uploadcare-widget-status-ready .uploadcare-widget-button-open,
.uploadcare-widget-status-started .uploadcare-widget-status,
.uploadcare-widget-status-started .uploadcare-widget-text,
.uploadcare-widget-status-started .uploadcare-widget-button-cancel,
.uploadcare-widget-status-loaded .uploadcare-widget-text,
.uploadcare-widget-status-error .uploadcare-widget-text,
.uploadcare-widget-status-error .uploadcare-widget-button-open {
  // We have to use important to avoid overriding display: none.
  display: inline-block !important;
}

.uploadcare-widget-option-clearable {
  &.uploadcare-widget-status-error .uploadcare-widget-button-open {
    display: none !important;
  }
  &.uploadcare-widget-status-loaded .uploadcare-widget-button-remove,
  &.uploadcare-widget-status-error .uploadcare-widget-button-remove {
    display: inline-block !important;
  }
}


.uploadcare-widget-status {
  display: none !important;
  width: 1.8em;
  height: 1.8em;
  margin: -1em 0;
  margin-right: 1ex;
  // this removes space on the bottom of canvas
  line-height: 0;
  vertical-align: middle;
}

.uploadcare-widget-circle--text {
  .uploadcare-widget-circle-back {
    width: 100%;
    height: 100%;
    display: table;
    white-space: normal;
  }
    .uploadcare-widget-circle-text {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 60%;
      line-height: 1;
    }
}
.uploadcare-widget-circle--canvas {
  color: #d0bf26;
  border-color: #e1e5e7;
  canvas {
    width: 100%;
    height: 100%;
  }
}


.uploadcare-widget-text {
  display: none !important;
  margin-right: 1ex;
  white-space: nowrap;
}
  .uploadcare-widget-file-name {
    display: inline;
  }
  .uploadcare-link,
  .uploadcare-link:link,
  .uploadcare-link:visited {
    cursor: pointer;
    color: #1a85ad;
    text-decoration: none;
    border-bottom: 1px dotted #1a85ad;
    border-color: -moz-initial;
    border-color: initial;
  }
  .uploadcare-link:hover {
    color: #176E8F;
  }


.uploadcare-widget-button {
  display: none !important;
  color: white;
  padding: .4em .6em;
  line-height: 1;
  margin: -1em 0;
  margin-right: .5ex;
  border-radius: .25em;
  background: #c3c3c3;
  cursor: default;
  white-space: nowrap;
}
.uploadcare-widget-button:hover {
  background: #b3b3b3;
}
.uploadcare-widget-button-open {
  padding: .5em .8em;
  background: #18a5d0;
}
.uploadcare-widget-button-open:hover {
  background: #0094c0;
}


.uploadcare-widget-dragndrop-area {
  box-sizing: content-box;

  display: none;
  position: absolute;
  white-space: nowrap;

  // Verticlly centered
  top: 50%;
  margin-top: -1.3em;

  left: -1em;
  padding: 0 1em;
  line-height: 2.6;
  min-width: 100%;
  text-align: center;
  background-color: $dragndrop-background-color;
  color: $dragndrop-text-color;
  border: 1px dashed $dragndrop-border-color;
  border-radius: 100px;

  .uploadcare-widget.uploadcare-dragging & {
    background-color: $dragndrop-hover-background-color;
    border-color: $dragndrop-hover-border-color;
    color: $dragndrop-hover-text-color;
  }
  .uploadcare-dragging & {
    display: block;
  }
  .uploadcare-dialog-opened & {
    display: none;
  }
}
