@mixin inline-blocks {
  letter-spacing: -.31em;
  word-spacing: -.43em;  
}

@mixin inline-block {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
}

$widget_height: 25px;

@function x($count) {
  @return $count * $widget_height;
}

@function y($count) {
  @return $count * $widget_height;
}

$circle_background_color: #e6e6e6;
$button_text_color: #8f9295;
$circle_center_color: white;
$circle_center_width: 15%;
$circle_active_background: gold;

.uploadcare-widget {
  @include inline-blocks;
  white-space: nowrap;

  position: relative;

  &.loaded, &.started {
    .uploadcare-widget-buttons > li { display: none; }
  }  

  &.started {
    .uploadcare-widget-buttons .uploadcare-widget-buttons-cancel {
      display: inline-block;
    }
  }

  &.loaded {
    .uploadcare-widget-buttons .uploadcare-widget-buttons-remove {
      display: inline-block;
    }
  }
}

.uploadcare-widget-circle {
  width: $widget_height;
  height: $widget_height;
  font-size: 0;  
  position: relative;
  margin-right: 1ex;
  @include inline-block;
  [role=uploadcare-widget-status] {
    width: 100%; height: 100%;
    border-radius: $widget_height;
    background: $circle_background_color;
    &.uploadcare-widget-circle-active {
      background: $circle_active_background;
    }
  }
  .uploadcare-widget-center {
    position: absolute;
    background: $circle_center_color;
    width: $circle_center_width;
    height: $circle_center_width;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    margin-top: -$circle_center_width / 2;
    margin-left: -$circle_center_width / 2;
  }
}

.uploadcare-widget-buttons {
  @include inline-block;
  margin: 0; padding: 0;
  > li {
    color: $button_text_color;
    @include inline-block;
    line-height: y(1);
    min-width: x(1) * 1.5;
    height: y(1);
    padding: 0 1ex;
    margin-left: 1ex;
    box-sizing: border-box;
    border-radius: 5px;
    background: $circle_background_color;
    cursor: pointer;

    &.uploadcare-widget-buttons-file,
    &.uploadcare-widget-buttons-url {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALQAAAAYCAYAAABTE9enAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo4MTM0RkE1QUM2RTkxMUUxQUVFREJFMzhDNUIxMzU5NSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo4MTM0RkE1QkM2RTkxMUUxQUVFREJFMzhDNUIxMzU5NSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjgxMzRGQTU4QzZFOTExRTFBRUVEQkUzOEM1QjEzNTk1IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjgxMzRGQTU5QzZFOTExRTFBRUVEQkUzOEM1QjEzNTk1Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+lprDigAABb9JREFUeNrsW2tsFFUUvlu3xUe7qOVVYyGpBiiW+iC1f/xhJKlE8S01GjRojGAVlUQTHyTGRAQU4wOfiY0GjWitj4T6AqpRNBUwhpTYYkw1uBFRqAKubeyC6/ftnN1eJjPs7O7Mvjon+XJn771z58zc7557zpnZQCwWU774UioS8Anti09oX3zxCZ2+PL32haN+37O0zVFbqnGcnJNqrEzO9WIcq3ELVTdt/BCKWRj/G5v2ZhT9aD+U7tjBYlh1Th4sHkIligXA2cA44HfgO+BD4EgOFt8tLICqNM+L8BZxj+2FoA8krg/Q7tFzugTFy8AUHPO+nze1L0XxFLAHx4vR/nFJEdrKKpsITvKuBRbJJHQCYeAEYD3wKrASWOM1pzMgD4UL8UkPCFRQ+mDuqkWnhVr1c6g/C+Vd9BaAZ4El0lYLfIT212XB/+kJoXGBDSjmO+zeBUUuc9Mym+qmApuEtBVaPY8nc1sD+CD3AxcC1MUrH6sqi3PHl7I+4MwCMTqTLZpvB0JC6Bss2m8EWjDGnZj7Ti8s9HwMHHB4IzEXH4rZR6Rl7gbOBFZLt73AB8BiiyEuBd4CrsvnjlNfX68aGmapQMB4hB0dnaqUBfPFG60DJlg0/we8BDwkvw/K3JWZ+vHcOo6FuY8VvQ+tB3Waheb29B4wQ7O6U4ANcnxIVr4urcArYtXzIjNnTk+SOdfS2nrtUb+Hh4dVX1+/Ghj4yUuXkXOzGnO4A+WbwKnSxPhmCdq3a93b0O818bHPkTq6Gtej30Yn1ysr0lVPP+9m4CvgSv35iTs0LGT+FogCI1qfNV5G8KmkvLw8aZnzYZ0HBwfVrl0/qHA4HNdlzpzzchULfYrifOBrmadmE5kT/bahaJI+7NvklMxFQWgb60yfjMxoMHVfDqwDLgYYbPwj/XRCNwKnqDEq+/btV729O1VPz1Y1NDRkBBwVFbm6/PFiaMan4F6Z9KmSc1TJENpGpgupV5oCRAaANwFfAu+LC5Lwt3Wpzcd2r2/55t+5kmnTpqp581ri1w6FQnFLPTIykgvDdA0K5p1nA48Avai7yKLfXBQ7pQ+Nz1bUXe30OsEiJTRX7w5TXbsF6ZM7PXCcGs1Hk+i9Y9VKR6PRuOtRXV2tampqVGVlpYpEIl6SeQWKBySTkRDGPpvR9gbK+zR3cKHpdLqXnej3GHbo5UVvoW3eDh60cBuOFdnMlYi6LuFK5vo+zD5zvnzo3bt/Ud3dn8dBXzoYDKra2tO9vix3zLBFPQnOtNzjwBMWZE6qDWzxzEK7mY7L0KdmMLhN0jkJcjLd86D81vX7DfhMjn8WYve58Yq4GGXixAmqsXF20v2geO1yMCDE82a8s0oZeWfdUjPlukLq9mrWWslcvUjrjjH+dpXQmZI4cZ7T3LWdlTZ9j8GI+S9lvDDRx02Qu0MZKTrKZpNb8olkQcak0M0gEkIf2su0nTaHJOQdmMe3lZE65Wq6TYzNF+ItXA58r4y0Ha3yrThvSzrXCbqgaOBYxGd7FovB7m3hYbStktUdM5GaUi/lj8AkrX5RPgLCQpECeYnDTxKYYz4DOAnYrgXvPL5KGWm7AeCCdAdPh9BdyuKVdyqySnuXW760Zqnpd7VofrEuTRL0zdDqqMfDwB7lSz7lCmCZMl6AMQjU03KTxGLfK8aKVnqjJ4TO5psMF3zmJKFNFpv55vVC1tPEX6b8q5GZ0fWjwP1q9BW5F8ItNdPvJyJjQJ/E/LVJCu8ZZZ1jHiex0N3o+46XFjqvYvOl3RHxlZnQ5Wei52qE5oM5LCuc/tqvXuijyTKxOCenue0fEIvktm6O9LEQ1/WxIPW70HGTBINtajTblvy2A30OZDJ20f5jxeajfUY7fEN4IvAH0G8XAGaa4bD7s0C2rpTHz6UgdLPRt1mCQJKa3z/3ZDOe/xcsXwrBONFT4Jd00WzH8gntS0mJT2hfSkr+F2AAR/cEDQilOeEAAAAASUVORK5CYII=);
    }
    &.uploadcare-widget-buttons-url {
      background-position: -1 * x(1) * 1.5 0;
    }
    &.uploadcare-widget-buttons-cancel, &.uploadcare-widget-buttons-remove {
      display: none;
    }
  }
}

.uploadcare-widget-status-text {
  @include inline-block;
  line-height: y(1);
  height: y(1);
  margin-right: 1ex;
}

.uploadcare-widget {
  .uploadcare-widget-dragndrop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  &.uploadcare-widget-state-dragover {
    .uploadcare-widget-dragndrop-area {
      width: 100%;
      height: 100%;
      background: rgba(255, 0, 0, 0.5);
    }
  }
}
