.poweredBy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 7.5px 0;

  font-size: 12.5px;
  line-height: 15px;

  color: #fff;

  text-align: center;
}

.poweredBy__link {
  display: inline-flex;

  color: inherit !important;
  text-decoration: none !important;
}

.poweredBy__logo {
  display: inline-flex;
  width: 20px;
  height: 15px;

  vertical-align: text-bottom;
}
