:root {
  --menu-item-size: var(--base-size);

  --menu-width: 100vw;

  @media (--desktop-only) {
    --menu-width: var(--base-size);
  }

  @media (--large) {
    --menu-width: 250px;
  }

  --menu-back-color: var(--back-main-color);
  --menu-color: var(--color-base-light);
}
