:root {
  --menu-width: 100vw;

  @media (--desktop-only) {
    --menu-width: 60px;
  }

  @media (--large) {
    --menu-width: 250px;
  }

  --menu-back-color: var(--back-main-color);
  --menu-color: var(--color-base-light);
}
