/*
  No styles:
  * menu__item_[tab name]
  * menu__toggle-icon
  * menu__toggle-icon_menu
 */
@import '_config.pcss';
@import 'menu.pcss';
@import 'menu__icon.pcss';
@import 'menu__item.pcss';
@import 'menu__item_current.pcss';
@import 'menu__item_hidden.pcss';
@import 'menu__items.pcss';
@import 'menu__toggle.pcss';
@import 'menu__toggle-icon_back.pcss';
@import 'menu_opened.pcss';
