@media (--mobile) {
  .menu:not(.menu_opened) {
    position: relative;

    height: 60px;

    .menu__item_current:not(.menu__item_file) .menu__icon {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) scale(.8);

      margin-left: 0;
    }
  }

  .menu.menu_opened {
    height: 100vh;

    .menu__toggle {
      display: none;
    }
  }
}
