.menu {
  flex-shrink: 0;

  display: flex;
  flex-direction: column;

  width: var(--menu-width);
  max-width: 100%;
  height: 100%;

  overflow: hidden; /* Hack for hide scrollbar */

  @media (--mobile) {
    height: var(--menu-item-size);
  }
}
