/* TODO How to show that scrollbar there is */

.menu {
  flex-shrink: 0;

  display: flex;
  flex-direction: column;

  width: 100vw;
  max-height: 100vh;

  overflow: hidden; /* Hack for hide scrollbar */

  background-color: #454545;

  font-size: 17.5px;
  line-height: 20px;
}
