@import '_config.pcss';

.menu__container {
	width: 100%;
	height: 100%;

	overflow-y: auto;
	overflow-x: hidden;

	font-family: var(--font-family);
	font-size: 15px;

	@media (--desktop) {
		& {
			width: calc(100% + 40px); /* Hack for hide scrollbar */
		}
	}
}
