<div class="uploadcare-crop-widget">
  <div class="uploadcare-crop-widget__image-wrap" role="uploadcare-crop-widget-image-wrap">
    <div class="uploadcare-crop-widget__error">
      <div class="uploadcare-crop-widget__error__title"><%- t('crop.error.title') %></div>
      <div class="uploadcare-crop-widget__error__text"><%- t('crop.error.text') %></div>
    </div>
  </div>
</div>
