<div>
    Unknown file type

    <pre>
      url: <%= url %>
      name: <%= name %>
    </pre>

    <button role="uploadcare-dialog-preview-back">back</button>
    <button role="uploadcare-dialog-preview-ok">ok</button>
    <button role="uploadcare-dialog-preview-close">cancel</button>
</div>