<div class="uploadcare--dialog"><!--
--><div class="uploadcare--dialog__container">
    <div class="uploadcare--dialog__close">✖</div>
    <div class="uploadcare--dialog__placeholder"></div>
    <div class="uploadcare--powered-by uploadcare--dialog__footer">
        <%- t('dialog.footer.text') %>
        <a class="uploadcare--powered-by__link" href="https://uploadcare.com/?utm_campaign=widget&utm_source=copyright&utm_medium=desktop&utm_content=<%- uploadcare.version %>"
           target="_blank"><%- t('dialog.footer.link') %></a>
    </div>
  </div>
</div>
