<div>
    <img width="100" height="100" src="<%= url %>" role="uploadcare-dialog-preview-image"><br>
    <button role="uploadcare-dialog-preview-back">back</button>
    <button role="uploadcare-dialog-preview-ok">ok</button>
    <button role="uploadcare-dialog-preview-close">cancel</button>
</div>