<div class="uploadcare--dialog__content">
  <div class="uploadcare--menu__wrapper"><div class="uploadcare--menu uploadcare-dialog-tabs"></div></div>

  <div class="uploadcare-panel-footer uploadcare-panel-footer__summary">
    <div class="uploadcare-dialog-button uploadcare-dialog-source-base-show-files"
         tabindex="0" role="button">
      <%- t('dialog.showFiles') %>
      <div class="uploadcare-panel-footer-counter"></div>
    </div>
    <div class="uploadcare-dialog-button-success uploadcare-dialog-source-base-done"
         tabindex="0" role="button"><%- t('dialog.done') %></div>
    <div class="uploadcare-panel-footer-text"></div>
  </div>
</div>

