<div class="uploadcare-dialog">
    <div class="uploadcare-dialog-inner-wrap1">
    <div class="uploadcare-dialog-inner-wrap2">
        <div class="uploadcare-dialog-close">
            <div role="uploadcare-dialog-close">&times;</div>
        </div>
        <div class="uploadcare-dialog-panel-wrap">
            <div class="uploadcare-dialog-panel">
                <div class="uploadcare-dialog-body">
                    <div class="uploadcare-dialog-tabs" role="uploadcare-dialog-tabs"></div>
                </div>
            </div>
            <div class="uploadcare-dialog-footer">
                <%- t('dialog.footer.text') %>
                <a href="https://uploadcare.com/" target="_blank"><%- t('dialog.footer.link') %></a>
            </div>
        </div>
    </div>
    </div>
</div>
