<div class="uploadcare-dialog"><!--
--><div class="uploadcare-dialog-inner-wrap">
    <div class="uploadcare-dialog-close">×</div>
    <div class="uploadcare-dialog-placeholder"></div>
  </div>
</div>
