<div class="uploadcare--dialog__panel">
  <div class="uploadcare--menu uploadcare--dialog__menu">
    <div class="uploadcare--menu__items"></div>
  </div>

  <div class="uploadcare--dialog__content">

    <div class="uploadcare--footer uploadcare--dialog__footer">
      <div class="uploadcare--button uploadcare--button_outline-secondary uploadcare--dialog__show-files"
           tabindex="0" role="button">
        <%- t('dialog.showFiles') %> <div class="uploadcare--dialog__file-counter"></div>
      </div>

      <div class="uploadcare--footer__additions">
        <div class="uploadcare--dialog__message"></div>
      </div>

      <div class="uploadcare--button uploadcare--button_primary uploadcare--dialog__done"
           tabindex="0" role="button"><%- t('dialog.done') %></div>
    </div>
  </div>
</div>
