<div class="uploadcare--dialog__panel">
  <div class="uploadcare--menu uploadcare--dialog__menu">
    <button title="<%- t('dialog.openMenu') %>"
            class="uploadcare--button uploadcare--button_icon uploadcare--menu__toggle">
      <svg role="presentation" width="32" height="32" class="uploadcare--icon">
        <use xlink:href="#uploadcare--icon-menu"></use>
      </svg>
    </button>
    <div class="uploadcare--menu__items"></div>
  </div>

  <div class="uploadcare--dialog__content">

    <div class="uploadcare--footer uploadcare--dialog__footer">
      <button class="uploadcare--button uploadcare--button_outline-secondary uploadcare--dialog__show-files">
        <%- t('dialog.showFiles') %> <div class="uploadcare--dialog__file-counter"></div>
      </button>

      <div class="uploadcare--footer__additions">
        <div class="uploadcare--dialog__message"></div>
      </div>

      <button class="uploadcare--button uploadcare--button_primary uploadcare--dialog__done">
          <%- t('dialog.done') %>
      </button>
    </div>
  </div>
</div>
