<div class="uploadcare-dialog">
    <div class="uploadcare-dialog-close">
        <button role="uploadcare-dialog-close">&times;</button>
    </div>
    <div class="uploadcare-dialog-panel">
        <div class="uploadcare-dialog-header">
            <div class="uploadcare-dialog-title"><%- t('dialog.title') %></div>
            <div class="uploadcare-dialog-powered-by">
                <%- t('dialog.poweredby') %>
                <a href="https://uploadcare.com/">Uploadcare</a>
            </div>
        </div>
        <div class="uploadcare-dialog-body" role="uploadcare-dialog-body"></div>
    </div>
</div>
