<div class="uploadcare--dialog">
  <div class="uploadcare--dialog__container">
    <button title="<%- t('dialog.close') %>"
            class="uploadcare--button uploadcare--button_icon uploadcare--dialog__close">
      <svg role="presentation" width="32" height="32" class="uploadcare--icon">
        <use xlink:href="#uploadcare--icon-close"></use>
      </svg>
    </button>
    <div class="uploadcare--dialog__placeholder"></div>
  </div>
  <div class="uploadcare--powered-by uploadcare--dialog__powered-by">
    <%- t('dialog.footer.text') %>
    <a class="uploadcare--link uploadcare--powered-by__link" href="https://uploadcare.com/?utm_campaign=widget&utm_source=copyright&utm_medium=desktop&utm_content=<%- uploadcare.version %>"
       target="_blank">
      <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg" class="uploadcare--powered-by__logo"><title>Uploadcare Logo</title><path d="M19.76 39.617c10.914 0 19.761-8.868 19.761-19.808S30.674 0 19.761 0C8.847 0 0 8.869 0 19.809c0 10.94 8.847 19.808 19.76 19.808zm0-18.097a1.71 1.71 0 0 0 1.708-1.711 1.71 1.71 0 0 0-1.707-1.712 1.71 1.71 0 0 0-1.708 1.712 1.71 1.71 0 0 0 1.708 1.711z" fill="#FFD800" fill-rule="evenodd"/></svg>
      <%- t('dialog.footer.link') %>
    </a>
  </div>
</div>
