<div class="uploadcare-dialog">
  <div class="uploadcare-dialog-inner-wrap1">
  <div class="uploadcare-dialog-inner-wrap2">
    <div class="uploadcare-dialog-close">&times;</div>
    <div class="uploadcare-dialog-placeholder"></div>
  </div>
  </div>
</div>
