<div class="uploadcare--dialog"><!--
--><div class="uploadcare--dialog__container">
    <div class="uploadcare--icon uploadcare--icon_close uploadcare--dialog__close">×</div>
    <div class="uploadcare--dialog__placeholder"></div>
  </div>
</div>
