<div class="uploadcare-resizable-image">
    <div class="uploadcare-resizable-image__image"></div>
    <div class="uploadcare-resizable-image__handles">
        <div class="uploadcare-resizable-image__handle__n"></div>
        <div class="uploadcare-resizable-image__handle__ne"></div>
        <div class="uploadcare-resizable-image__handle__e"></div>
        <div class="uploadcare-resizable-image__handle__se"></div>
        <div class="uploadcare-resizable-image__handle__s"></div>
        <div class="uploadcare-resizable-image__handle__sw"></div>
        <div class="uploadcare-resizable-image__handle__w"></div>
        <div class="uploadcare-resizable-image__handle__nw"></div>
    </div>
</div>
