<div 
  class="uploadcare-dialog-source-base-wrap" 
  role="uploadcare-dialog-source-base-wrap"
></div>

<div class="uploadcare-dialog-inner-footer uploadcare-dialog-source-base-footer">
  <div 
    class="uploadcare-dialog-button" 
    role="uploadcare-dialog-source-base-show-files">%show files%</div>
  <div
    class="uploadcare-dialog-button-success" 
    role="uploadcare-dialog-source-base-done">%done%</div>
  <div 
    class="uploadcare-dialog-inner-footer-text"
    role="uploadcare-dialog-source-base-footer-text"
  >
    <%- t('dialog.tabs.preview.multiple.title') %>
    <span role="uploadcare-dialog-source-base-files-count"></span>
  </div>
</div>
