<div 
  class="uploadcare-dialog-source-base-wrap" 
  role="uploadcare-dialog-source-base-wrap"
></div>

<div class="uploadcare-dialog-inner-footer uploadcare-dialog-source-base-footer">
  <div class="uploadcare-dialog-button" tabindex="0"
       role="uploadcare-dialog-source-base-show-files">
    <%- t('dialog.showFiles') %>
    <div class="uploadcare-dialog-source-base-counter"></div>
  </div>
  <div
    class="uploadcare-dialog-button-success" tabindex="0"
    role="uploadcare-dialog-source-base-done"><%- t('dialog.done') %></div>
  <div 
    class="uploadcare-dialog-inner-footer-text"
    role="uploadcare-dialog-source-base-footer-text"
  ></div>
</div>
