<div class="uploadcare-dialog-source-base-wrap"></div>

<div class="uploadcare-panel-footer uploadcare-dialog-source-base-footer">
  <div class="uploadcare-dialog-button uploadcare-dialog-source-base-show-files"
       tabindex="0" role="button">
    <%- t('dialog.showFiles') %>
    <div class="uploadcare-dialog-source-base-counter"></div>
  </div>
  <div class="uploadcare-dialog-button-success uploadcare-dialog-source-base-done"
       tabindex="0" role="button"><%- t('dialog.done') %></div>
  <div class="uploadcare-panel-footer-text"></div>
</div>
