<div class="uploadcare-dialog-error-tab-wrap uloadcare-dialog-error-tab-<%- error %>">
  <div class="uploadcare-dialog-error-tab-wrap2">

    <div class="uploadcare-dialog-error-tab-illustration"></div>

    <div class="uploadcare-dialog-title"><%-
      t('dialog.tabs.preview.error.'+error+'.title') || t('dialog.tabs.preview.error.default.title')
    %></div>

    <div class="uploadcare-dialog-normal-text"><%- 
      t('dialog.tabs.preview.error.'+error+'.text') || t('dialog.tabs.preview.error.default.text') 
    %></div>

    <div class="uploadcare-dialog-button-success" 
      role="uploadcare-dialog-preview-back"><%- 
        t('dialog.tabs.preview.error.'+error+'.back') || t('dialog.tabs.preview.error.default.back') 
    %></div>

  </div>
</div>
