<h1>Regular file</h1>

File name: <%- file.fileName || 'unknown' %>
<br/>

<button role="uploadcare-dialog-preview-back"><%- t('dialog.tabs.preview.back') %></button>
<button role="uploadcare-dialog-preview-done"><%- t('dialog.tabs.preview.done') %></button>