<div class="uploadcare--panel__header">
  <div class="uploadcare--panel__title uploadcare--preview__title"></div>
</div>

<div class="uploadcare--panel__content">
  <div class="uploadcare--files"></div>
</div>

<div class="uploadcare--panel__footer">
  <div class="uploadcare--button uploadcare--button_outline-secondary uploadcare--preview__back uploadcare-dialog-button"
       tabindex="0" role="button"
  ><%- t('dialog.tabs.preview.multiple.clear') %></div>

  <div class="uploadcare--panel__footer-additions uploadcare--preview__error-container"></div>

  <div class="uploadcare--button uploadcare--button_primary uploadcare--preview__done uploadcare-dialog-button-success"
       tabindex="0" role="button"
  ><%- t('dialog.tabs.preview.multiple.done') %></div>
</div>
