<div role="uploadcare-dmp-file-list"></div>

<div class="uploadcare-dialog-preview-footer">
  <div 
    class="uploadcare-dialog-button" 
    role="uploadcare-dialog-preview-back">%clear%</div>
  <div 
    class="uploadcare-dialog-button-success" 
    role="uploadcare-dialog-preview-done"><%- t('dialog.tabs.preview.done') %></div>
</div>