<div class="uploadcare-dialog-padding">

  <div class="uploadcare-dialog-title"><%- t('dialog.tabs.preview.unknown.title') %></div>

  <div class="uploadcare-dialog-label uploadcare-dialog-preview-label"></div>

  <div class="uploadcare-dialog-button-success uploadcare-dialog-preview-done"
       tabindex="0" role="button"
          ><%- t('dialog.tabs.preview.unknown.done') %></div>
</div>
