<div role="uploadcare-dpm-file-item" class="uploadcare-dpm-file-item">
  <div class="uploadcare-dpm-file-preview-wrap" role="uploadcare-dpm-file-preview-wrap">
    <div class="uploadcare-dpm-file-preview"></div>
  </div>
  <div role="uploadcare-dpm-file-name" class="uploadcare-dpm-file-name">
    <%- t('dialog.tabs.preview.unknownName') %>
  </div>
  <div class="uploadcare-dpm-file-progressbar-wrap">
    <div class="uploadcare-dpm-file-progressbar">
      <div
        role="uploadcare-dpm-file-progressbar-value"
        class="uploadcare-dpm-file-progressbar-value"
      ></div>
    </div>
  </div>
  <div role="uploadcare-dpm-file-size" class="uploadcare-dpm-file-size"></div>
  <div role="uploadcare-dpm-file-error" class="uploadcare-dpm-file-error"></div>
  <div class="uploadcare-dpm-file-remove-wrap">
    <div role="uploadcare-dpm-file-remove" class="uploadcare-dpm-file-remove"></div>
  </div>
</div>
