<div class="uploadcare--file uploadcare--files__item uploadcare--file_uploading">
  <div class="uploadcare--file__content">
    <div class="uploadcare--file__preview">
      <div class="uploadcare-file-icon"></div>
    </div>

    <div class="uploadcare--file__description">
      <div class="uploadcare--text uploadcare--file__name">
        <%- t('dialog.tabs.preview.unknownName') %>
      </div>
      <div class="uploadcare--text uploadcare--text_small uploadcare--text_muted uploadcare--file__size"></div>
    </div>

    <div class="uploadcare-file-item__progressbar">
      <div class="uploadcare-progressbar">
        <div class="uploadcare-progressbar__value"></div>
      </div>
    </div>

    <div class="uploadcare--text uploadcare--file__error"></div>
  </div>

  <div class="uploadcare--file__remove"></div>
</div>
