<div class="uploadcare-file-item">
  <div class="uploadcare-dpm-file-preview-wrap">
    <div class="uploadcare-dpm-file-preview"></div>
  </div>
  <div class="uploadcare-file-item__name">
    <%- t('dialog.tabs.preview.unknownName') %>
  </div>
  <div class="uploadcare-dpm-file-progressbar-wrap">
    <div class="uploadcare-dpm-file-progressbar">
      <div class="uploadcare-progressbar__value"></div>
    </div>
  </div>
  <div class="uploadcare-file-item__size"></div>
  <div class="uploadcare-dpm-file-error"></div>
  <div class="uploadcare-dpm-file-remove-wrap">
    <div class="uploadcare-dpm-file-remove"></div>
  </div>
</div>
