<div class="uploadcare-dialog-message-center">
    <div class="uploadcare-dialog-title">Welcome to Uploadcare</div>
    <div class="uploadcare-dialog-large-text">
        <div>Your <a href="https://uploadcare.com/accounts/settings/">public key</a> is not set.</div>
        <div>Add this to the &lt;head&gt; tag to start uploading files:</div>
        <div class="uploadcare-pre">&lt;script&gt;
UPLOADCARE_PUBLIC_KEY = 'your_public_key';
&lt;/script&gt;</div>
    </div>
</div>
