<div role="uploadcare-dpm-file-item" class="uploadcare-dpm-file-item">
  <img role="uploadcare-dpm-file-preview" class="uploadcare-dpm-file-preview">
  <div role="uploadcare-dpm-file-name" class="uploadcare-dpm-file-name">
    <%- t('dialog.tabs.preview.unknownName') %>
  </div>
  <div role="uploadcare-dpm-file-size" class="uploadcare-dpm-file-size">
    –
  </div>
  <div class="uploadcare-dpm-file-progressbar">
    <div 
      role="uploadcare-dpm-file-progressbar-value"
      class="uploadcare-dpm-file-progressbar-value"
    ></div>
  </div>
  <div role="uploadcare-dpm-file-remove" class="uploadcare-dpm-file-remove"></div>
</div>
