<div class="uploadcare-dialog-message-center">
    <div class="uploadcare-dialog-title">Welcome to Uploadcare</div>
    <div class="uploadcare-dialog-large-text">
        <p>Your <a href="https://uploadcare.com/accounts/settings/">public key</a> is not set.</p>
        <p>Add this to the &lt;head&gt; tag to start uploading files:</p>
        <pre><code>&lt;script&gt;
UPLOADCARE_PUBLIC_KEY = 'your_public_key';
&lt;/script&gt;</code></pre>
    </div>
</div>
