<div class="uploadcare-dialog-padding uploadcare--preview">
  <div class="uploadcare-dialog-title uploadcare--preview__title">
    <%- t('dialog.tabs.preview.video.title') %>
  </div>

  <div class="uploadcare-crop-sizes uploadcare--preview__crop-sizes">
    <div class="uploadcare-crop-size" data-caption="free"><div></div></div>
  </div>

  <div class="uploadcare--preview__video-container uploadcare-dialog-preview-video-wrap">
    <video controls class="uploadcare--preview__video"></video>
  </div>
</div>

<div class="uploadcare-panel-footer">
  <div class="uploadcare--button uploadcare--preview__back uploadcare-dialog-button"
       tabindex="0" role="button"
          ><%- t('dialog.tabs.preview.video.change') %></div>
  <div class="uploadcare--button uploadcare--preview__done uploadcare-dialog-button-success"
       tabindex="0" role="button"
          ><%- t('dialog.tabs.preview.done') %></div>
</div>
