<div class="uploadcare-dialog-title">Upload this file?</div>

<div class="uploadcare-dialog-label">
  <%- file.fileName || 'unknown' %><% if (file.fileSize != null) { %>,
  <%- file.fileSize %> KB<% } %>
</div>

<div class="uploadcare-dialog-section uploadcare-dialog-normal-text">
  You are about to upload a file below.<br/>
  Please confirm that you want to upload it.
</div>

<div 
  class="uploadcare-dialog-button-success" 
  role="uploadcare-dialog-preview-done"><%- t('dialog.tabs.preview.done') %></div>
<div 
  class="uploadcare-dialog-button" 
  role="uploadcare-dialog-preview-back"><%- t('dialog.tabs.preview.back') %></div>