<div class="uploadcare--panel__header">
  <div class="uploadcare--text uploadcare--text_large uploadcare--panel__title uploadcare--preview__title">
    <%- t('dialog.tabs.preview.unknown.title') %>
  </div>
</div>

<div class="uploadcare--panel__content">
  <div class="uploadcare--text uploadcare--preview__label uploadcare-dialog-label"></div>
</div>

<div class="uploadcare--footer uploadcare--panel__footer">
  <!-- TODO Change Cancel to Remove -->
  <button class="uploadcare--button uploadcare--button_outline-secondary uploadcare--preview__back uploadcare-dialog-button">
      <%- t('dialog.tabs.preview.change') %>
  </button>

  <button class="uploadcare--button uploadcare--button_primary uploadcare--preview__done uploadcare-dialog-button-success">
      <%- t('dialog.tabs.preview.unknown.done') %>
  </button>
</div>
