<div class="uploadcare-dialog-camera-holder"><!--
  --><video class="uploadcare-dialog-camera-video"></video><!--
  --><div class="uploadcare-dialog-camera-please-allow">

    <div class="uploadcare-dialog-error-tab-illustration"></div>

    <div class="uploadcare-dialog-title">
      <%- t('dialog.tabs.camera.pleaseAllow.title') %>
    </div>

    <div class="uploadcare-dialog-normal-text">
      <%- t('dialog.tabs.camera.pleaseAllow.text') %>
    </div>

    <div class="uploadcare-dialog-camera-retry uploadcare-dialog-button">
      <%- t('dialog.tabs.camera.retry') %>
    </div>

  </div><!--
--></div>
<div class="uploadcare-dialog-camera-controls">
  <div class="uploadcare-dialog-camera-capture uploadcare-dialog-button-success">
    <%- t('dialog.tabs.camera.capture') %>
  </div>
</div>
