<div class="uploadcare--panel__header">
  <div class="uploadcare--text uploadcare--text_large uploadcare--panel__title uploadcare--preview__title">
    <%- t('dialog.tabs.preview.video.title') %>
  </div>
</div>

<div class="uploadcare--panel__content">
  <div class="uploadcare--preview__video-container uploadcare-dialog-preview-video-wrap">
    <video controls class="uploadcare--preview__video"></video>
  </div>
</div>

<div class="uploadcare--footer uploadcare--panel__footer">
  <button class="uploadcare--button uploadcare--preview__back uploadcare-dialog-button">
      <%- t('dialog.tabs.preview.video.change') %>
  </button>
  <button class="uploadcare--button uploadcare--button_primary uploadcare--preview__done uploadcare-dialog-button-success">
      <%- t('dialog.tabs.preview.done') %>
  </button>
</div>
