<div class="uploadcare--tab__header">
  <div class="uploadcare--text uploadcare--text_large uploadcare--tab__title uploadcare--preview__title">
    <%- t('dialog.tabs.preview.video.title') %>
  </div>
</div>

<div class="uploadcare--tab__content">
  <div class="uploadcare--preview__video-container uploadcare-dialog-preview-video-wrap">
    <video controls class="uploadcare--preview__video"></video>
  </div>
</div>

<div class="uploadcare--footer uploadcare--tab__footer">
  <button class="uploadcare--button uploadcare--preview__back">
      <%- t('dialog.tabs.preview.video.change') %>
  </button>
  <button class="uploadcare--button uploadcare--button_primary uploadcare--preview__done">
      <%- t('dialog.tabs.preview.done') %>
  </button>
</div>
