<div class="uploadcare--file uploadcare--files__item uploadcare--file_uploading">
  <div tabindex="0" class="uploadcare--file__content">
    <div class="uploadcare--file__preview">
      <div class="uploadcare-file-icon"></div>
    </div>

    <div class="uploadcare--file__description">
      <div class="uploadcare--file__name">
        <%- t('dialog.tabs.preview.unknownName') %>
      </div>
      <div class="uploadcare--file__size"></div>
      <div class="uploadcare--file__error"></div>
    </div>

    <div class="uploadcare--file__progressbar">
      <div class="uploadcare--progressbar">
        <div class="uploadcare--progressbar__value"></div>
      </div>
    </div>
  </div>

  <button class="uploadcare--button uploadcare--button_icon uploadcare--button_muted uploadcare--file__remove">
    <svg role="presentation" width="32" height="32" class="uploadcare--icon">
      <use xlink:href="#uploadcare--icon-remove"></use>
    </svg>
  </button>
</div>
