<code role="uploadcare-dialog-preview-info"></code>

<button role="uploadcare-dialog-preview-back"><%- t('dialog.tabs.preview.back') %></button>
<button role="uploadcare-dialog-preview-done"><%- t('dialog.tabs.preview.done') %></button>