<div class="uploadcare-dialog-padding">
  <div class="uploadcare-dialog-title uploadcare-if-no-mobile uploadcare-dpm-title"></div>
  <div class="uploadcare-dialog-title uploadcare-if-mobile uploadcare-dpm-mobile-title"></div>

  <div class="uploadcare-dpm-file-list"></div>
</div>

<div class="uploadcare-panel-footer">
  <div class="uploadcare-dialog-button uploadcare-dialog-preview-back"
       tabindex="0" role="button"
          ><%- t('dialog.tabs.preview.multiple.clear') %></div>
  <div class="uploadcare-dialog-button-success uploadcare-dialog-preview-done"
       tabindex="0" role="button"
          ><%- t('dialog.tabs.preview.multiple.done') %></div>
  <div class="uploadcare-panel-footer-text uploadcare-dpm-footer-text"></div>
</div>
