<div class="uploadcare-dialog-title" role="uploadcare-dpm-title"></div>

<div role="uploadcare-dpm-file-list" class="uploadcare-dpm-file-list"></div>

<div class="uploadcare-dialog-inner-footer">
  <div 
    class="uploadcare-dialog-button" 
    role="uploadcare-dialog-preview-back"><%- t('dialog.tabs.preview.multiple.clear') %></div>
  <div 
    class="uploadcare-dialog-button-success" 
    role="uploadcare-dialog-preview-done"><%- t('dialog.tabs.preview.multiple.done') %></div>
  <div class="uploadcare-dialog-inner-footer-text" role="uploadcare-dpm-footer-text"></div>
</div>
