<div class="uploadcare-dialog-title">Uploading failed</div>

<div class="uploadcare-dialog-label">
  <%- file.fileName || 'unknown' %><% if (file.fileSize != null) { %>,
  <%- file.fileSize %> KB<% } %>
</div>

<div class="uploadcare-dialog-section uploadcare-dialog-normal-text">
  Sorry, but in process of uploading something went wrong.<br/>
  Please try again.
</div>

<div
  class="uploadcare-dialog-button-success" 
  role="uploadcare-dialog-preview-back">Retry</div>