<div class="uploadcare--tab__content">
  <div class="uploadcare--text uploadcare--text_size_large uploadcare--tab__title"><%- t('dialog.tabs.camera.title') %></div>

  <button type="button" class="uploadcare--button uploadcare--button_size_big uploadcare--button_primary uploadcare--camera-capture__photo">
    Take photo
  </button>
  <button type="button" class="uploadcare--button uploadcare--button_size_big uploadcare--button_primary uploadcare--camera-capture__video">
    Take video
  </button>
</div>
