<div class="uploadcare-widget-file-name uploadcare-link"
     tabindex="0" role="link"><%- utils.fitText(name, 20) %></div><!--
--><div class="uploadcare-widget-file-size">,
    <%- utils.readableFileSize(size) %>
</div>
