<div class="uploadcare-widget">
  <div class="uploadcare-widget-dragndrop-area" role="uploadcare-drop-area">
    <%- t('draghere') %>
  </div>
  <div role="uploadcare-widget-status" class="uploadcare-widget-status"></div>
  <div role="uploadcare-widget-text" class="uploadcare-widget-text"></div>
</div>
