<div class="uploadcare-widget">
    <div role="uploadcare-widget-status"></div>
    <div role="uploadcare-widget-status-text" class="uploadcare-widget-status-text"></div>
    <ul role="uploadcare-widget-buttons" class="uploadcare-widget-buttons"></ul>
    <div class="uploadcare-widget-dragndrop-area" role="uploadcare-drop-area"><%- t('draghere') %></div>
</div>
