<div class="uploadcare--widget">
  <div class="uploadcare--widget__dragndrop-area"><%- ext.t('draghere') %></div>
  <div class="uploadcare--widget__progress"></div>
  <div class="uploadcare--widget__text"></div>
</div>
