<div class="uploadcare-widget">
  <div role="uploadcare-widget-status"></div>
  <div role="uploadcare-widget-status-text" class="uploadcare-widget-status-text"></div>
  <div role="uploadcare-widget-buttons" class="uploadcare-widget-buttons"></div>
  <div class="uploadcare-widget-dragndrop-area" role="uploadcare-drop-area"><%- t('draghere') %></div>
</div>
