@import 'tab.pcss';
@import 'tab__content.pcss';
@import 'tab__header.pcss';
@import 'tab__iframe.pcss';
@import 'tab__title.pcss';
@import 'tab_current.pcss';
@import 'tab_name_preview.pcss';
@import 'tab_remote.pcss';
