<style>
  .widget-container-table {
    border: solid 1px black;
    display: table;
    width: 500px;
    height: 300px;
  }
  #widget-container {
    width: 500px;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
  }
  .long-input {
    width: 800px;
  }
</style>

<h2>Widget with crop</h2>
<pre><code>&lt;input class="long-input" role="uploadcare-uploader" data-crop="<input
  id="widget-with-crop-option"
  placeholder="4:3, 100x200 upscale, etc"
>"&gt;</code></pre>

Try: 
<code><ul>
  <li>disabled</li>
  <li>4:3</li>
  <li>100x200</li>
  <li>100x200 upscale</li>
  <li>100x100 minimum</li>
  <li>or empty string</li>
</ul></code>

Result:
<div id="widget-with-crop-wrap">
  <input class="long-input" role="uploadcare-uploader" placeholder="here will be result CDN url" data-crop>
</div>

<h2>Crop widget itself</h2>
<pre><code>
widget = <button id="new">new</button> CropWidget({
  container: '#widget-container',
  scale: <input type="checkbox" id="scale" checked>,
  upscale: <input type="checkbox" id="upscale">,
  notLess: <input type="checkbox" id="notLess">,
  preferedSize: [<input id="prefered-size" value="200, 300">],
  widgetSize: <input id="widget-size" value="">
});

widget.<button id="cropped-image-url">croppedImageUrl</button>(<input id="source-url" value="http://ucarecdn.com/85b5644f-e692-4855-9db0-8c5a83096e25/-/preview/500x300/" size="100">,
                      [<input id="image-width" value="1280" size="5">, <input id="image-height" value="681" size="5">])
  .done( ... )
  .fail( ... )

widget.<button id="force-done">forceDone()</button>;
widget.<button id="destroy">destroy()</button>;
<code></pre>

<div class="widget-container-table">
  <div id="widget-container"></div>
</div>

<pre id="log"></pre>

<script>
  UPLOADCARE_LIVE = false;

  jQuery(function($){
    var CropWidget = uploadcare.crop.CropWidget;
    var widget;

    function log(str) {
      $('#log').html($('#log').html() + "\n" + str)
    }

    function destroy() {
      if (widget) {
        log('DESTROY')
        widget.destroy()
        widget = null
      }
    }

    function create() {
      destroy()
      log('NEW')
      var preferedSize = false;
      if ($('#prefered-size').val()) {
        preferedSize = $.map($('#prefered-size').val().split(','), function(x) {
          return +$.trim(x);
        });
      }
      widget = new CropWidget({
        container: '#widget-container',
        scale: $('#scale').is(':checked'),
        upscale: $('#upscale').is(':checked'),
        notLess: $('#notLess').is(':checked'),
        preferedSize: preferedSize,
        widgetSize: $('#widget-size').val() || null
      });

      $('#force-done').off().click(function(){
        widget.forceDone();
      });

      widget.onStateChange.add(function(state){
        log('STATE: ' + state)
        $('#force-done').prop('disabled', state != 'loaded');
      });
    }

    function setUrl() {
      var url = $('#source-url').val()
      log('URL: ' + url)
      widget.croppedImageUrl(url, [parseInt($('#image-width').val()),
                                   parseInt($('#image-height').val())])
        .done(function(url){
          log('DONE: ' + url);
        })
        .fail(function(error){
          log('FAIL: ' + error);
        })
    }

    $('#new').click(create);
    $('#cropped-image-url').click(setUrl);
    $('#destroy').click(destroy);

    // ---

    $('#widget-with-crop-option').change(function(){
      var newInput = $('<input class="long-input" role="uploadcare-uploader" placeholder="here will be result CDN url" data-crop>');
      newInput.attr('data-crop', $('#widget-with-crop-option').val());
      uploadcare.initialize($('#widget-with-crop-wrap').empty().append(newInput)[0]);
    });

  });
</script>
