<style>
  #widget-container {
    border: solid 1px black;
    width: 500px;
    height: 300px;
  }
  #source-url {
    width: 400px;
  }
</style>

<label>Source url <input id="source-url" value="http://ucarecdn.com/85b5644f-e692-4855-9db0-8c5a83096e25/"></label>
<br>
<label>Prefered size <input id="prefered-size" value="200x300"></label> (may be empty)
<br>
<label>Widget size <input id="widget-size" value=""></label> (may be empty)
<br>
<label><input type="checkbox" id="scale" checked> scale</label>
<br>
<label><input type="checkbox" id="upscale"> upscale</label>
<br>
<label><input type="checkbox" id="controls" checked> controls</label>
<br>

<button id="show-widget">Show widget</button>
<button id="force-done">Force done</button>
<br>
<br>

<div id="widget-container"></div>

<pre id="log"></pre>

<script>
  uploadcare.whenReady(function(){
    var $ = uploadcare.jQuery;
    var CropWidget = uploadcare.crop.CropWidget;

    function log(str) {
      $('#log').html($('#log').html() + "\n" + str)
    }

    $('#widget-container').on('uploadcare.crop.statechange', function(__, state){
      $('#force-done').prop('disabled', state != 'loaded');
    });

    $('#show-widget').click(function(){

      $('#widget-container').empty();

      var widget = new CropWidget({
        container: '#widget-container',
        url: $('#source-url').val(),
        scale: $('#scale').is(':checked'),
        upscale: $('#upscale').is(':checked'),
        controls: $('#controls').is(':checked'),
        preferedSize: $('#prefered-size').val() || null,
        widgetSize: $('#widget-size').val() || null
      });

      widget.croppedImageUrl()
        .done(function(url){
          log('DONE: ' + url);
          widget.destroy()
        })
        .fail(function(error){
          log('FAIL: ' + error);
          widget.destroy()
        });

      $('#force-done').off().click(function(){
        widget.forceDone();
      });
    });

  });
</script>