<% content_for :head do %>
<script>
UPLOADCARE_MANUAL_START = true;

jQuery(function($) {
  var countdown = 3;
  var counter = $('#countdown').html(countdown);
  var tick = function() {
    countdown--;
    if (countdown > 0) {
      counter.html(countdown);
      setTimeout(tick, 1000);
    } else {
      counter.remove();
      uploadcare.start({localeTranslations: {ready: 'BANG!'}});
    }
  };
  setTimeout(tick, 1000);
});
</script>
<% end %>
<div id="countdown" style="font-size: 60px;"></div>
<div class="hidden">
  <input type="hidden" role="uploadcare-uploader" />
  <input type="hidden" role="uploadcare-uploader" value="cdd5795a-ae83-49ea-9b2e-e9c6999f3421"/>
</div>
