<% content_for :head do %>
  <style>
    input[type="text"] {
      background-color: red;
    }
    html * {
      box-sizing: border-box;
    }
    dt {
      font-family: monospace;
      margin-bottom: .5em;
    }

    dd {
      margin: 0 0 1.5em 0;
    }

    .uploadcare-dialog .uploadcare-dialog-panel {
      max-width: 1000px;
    }
    #placeholderholder {
      width: 800px;
      margin: 20px;
    }
    #placeholder {
      height: 616px;
      background: url(/assets/uploadcare/images/loading-spinner.gif) no-repeat 50% 50%;
      background-size: 25px 25px;
    }
    #placeholderholder .uploadcare-dialog-tab,
    #placeholderholder .uploadcare-dialog-tabs,
    #placeholderholder .uploadcare-dialog-panel {
      background: transparent;
      border: 0;
    }
    #placeholderholder .uploadcare-dialog-tabs {
      float: none;
      width: auto;
      height: auto;
      overflow: hidden;
    }
    #placeholderholder .uploadcare-dialog-tab_current {
      margin: 0;
    }
    #placeholderholder .uploadcare-dialog-tab {
      width: 56px;
      float: left;
    }
    #placeholderholder .uploadcare-dialog-tabs-panel,
    #placeholderholder .uploadcare-dialog-source-base-wrap {
      padding: 0;
      margin: 0;
      height: 572px;
    }
  </style>
  <script>
    function GroupTab(container, button, dialogApi, settings) {
      var group = settings.favoriteGroup;
      if ( ! group) {
        throw new Error('No group found in options.')
      }

      dialogApi.onSwitched.add(function(name, toThis) {
        if (toThis) {
          container.empty();
          uploadcare.loadFileGroup(group).done(function(fileGroup) {
            $.each(fileGroup.files(), function(i, file) {
              file.done(function(fileInfo) {
                var item = $('<a>').attr('href', fileInfo.cdnUrl)
                          .text(fileInfo.name);
                item.on('click', function(e) {
                  e.preventDefault();
                  dialogApi.addFiles([file]);
                });
                container.append($('<p>').append(item));
              });
            });
          });
        }
      });
    }
    uploadcare.registerTab('favorite', GroupTab)

    function replace() {
      uploadcare.openPanel('#placeholder', null, {
        tabs: 'file url facebook gdrive instagram evernote box skydrive favorite',
        favoriteGroup: '8552e3eb-02b2-4614-9678-dafb1c43a2f5~6',
        multiple: true
      })
      .done(function(file) {
        file.done(function(fileInfo) {
          window.location = fileInfo.cdnUrl;
        })
        .fail(replace);
      })
      .fail(replace);
    }
    $(replace);
  </script>
<% end %>
<br><br>
<input type="text" role="uploadcare-uploader" data-clearable data-crop="">

<div id="placeholderholder">
  <div id="placeholder"></div>
</div>
