<form role="uploadcare-upload-form">
    <div>
        <input type="hidden" role="uploadcare-uploader" />
        <input type="hidden" role="uploadcare-uploader" />
    </div>
    <input type="text" />
    <button type="submit">Clickity</button>
</form>

<form style="margin-top: 60px;">
    <legend>Submitting not prevented here:</legend>
    <div>
        <input type="hidden" role="uploadcare-uploader" />
    </div>
    <button type="submit">Clickity</button>
</form>
