<p>
We’ve developed a beautiful widget for the web.
<input
    type="hidden"
    data-images-only
    data-path-value
    data-autostore
    data-crop
    role="uploadcare-uploader" />
It can do everything from drag-and-drop to selecting photos from various social networking sites like Facebook.
<input
    type="hidden"
    data-tabs="facebook file url"
    data-path-value
    data-autostore
    role="uploadcare-uploader" />
</p>

<p>
Graceful pub key:
<input type="hidden" role="uploadcare-uploader" data-public-key="">
</p>

<p>
Draggable:<br>
<img src="https://secure.gravatar.com/avatar/afec5e3f528823759c4b1eb2d26bc0a2" alt="" />
</p>
<p><div>Preview:</div><span id="last-preview"></span></p>
<p><div>CDN:</div><span id="last-cdn"></span></p>
<ul id="events"></ul>
<script>
jQuery(function($) {
  var log = function(text) {
    var time = (new Date()).toLocaleTimeString();
    $('<li>').appendTo('#events').text(time + ' ' + text);
  };
  var widgets = uploadcare.initialize();
  for (var i = 0; i < widgets.length; i++) {
    widgets[i].onChange.add(function(file) {
      $('#last-preivew, #last-cdn').empty();
      if (file) {
        file.preview('#last-preview');
        file.done(function(info) {
          if (info.isImage) {
            var ri = uploadcare.resizableImage(info.cdnUrl);
            ri.done(function(el) {
              $('#last-cdn').html(el);
            });
          }
          log('change: ' + info.uuid);
        });
      } else {
        log('change: (empty)');
      }
    });
  }
});
</script>
