<p>
We’ve developed a beautiful widget for the web.
<input
    type="hidden"
    data-multiple
    data-images-only
    data-path-value
    data-crop
    role="uploadcare-uploader" />
It can do everything from drag-and-drop to selecting photos from various social networking sites like Facebook.
<input
    type="hidden"
    data-tabs="facebook file url"
    data-path-value
    role="uploadcare-uploader" />
</p>

<p>
Draggable:<br>
<img src="https://secure.gravatar.com/avatar/afec5e3f528823759c4b1eb2d26bc0a2" alt="" />
</p>
<div id="last-result"></div>
<ul id="events"></ul>
<script>
jQuery(function($) {
  var log = function(text) {
    var time = (new Date()).toLocaleTimeString();
    $('<li>').appendTo('#events').text(time + ' ' + text);
  };
  var widgets = uploadcare.initialize();
  for (var i = 0; i < widgets.length; i++) {
    widgets[i].onChange.add(function(file) {
      if (file) {
        file.preview('#last-result');
        file.done(function(info) {
          log('change: ' + info.uuid);
        });
      } else {
        $('#last-result').empty();
        log('change: (empty)');
      }
    });
  }
});
</script>
