<p>
We’ve developed a beautiful widget for the web.
<input type="hidden" data-multiple data-images-only role="uploadcare-uploader" />
It can do everything from drag-and-drop to selecting photos from various social networking sites like Facebook.
<input type="hidden" role="uploadcare-uploader" data-tabs="facebook file url" />
</p>
<p>
Draggable:<br>
<img src="https://secure.gravatar.com/avatar/afec5e3f528823759c4b1eb2d26bc0a2" alt="" />
</p>
<ul id="events"></ul>
<script>
window.onload = function() {
  uploadcare.whenReady(function() {
    var $ = uploadcare.jQuery;
    var log = function(text) {
      var time = (new Date()).toLocaleTimeString();
      $('<li>').appendTo('#events').text(time + ' ' + text);
    };
    var widgets = uploadcare.initialize();
    for (var i = 0; i < widgets.length; i++) {
      widgets[i].on('change', function(value) {
        log('change: "' + value + '"');
      });
    }
  });
};
</script>
