<style>
p {
  width: 400px;
  padding: 5px;
  border: 1px solid #ccc;
}
p.wide {
  line-height: 3em;
}
.uploadcare-widget {
  border: 1px dashed #ccc;
}
</style>
<form>
    <p>
        A monad is a special kind of a functor.
        A functor F takes each type T and maps it to a new type FT.
        A burrito is like a functor:
        <input type="hidden" role="uploadcare-uploader" />
        it takes a type, like meat or beans, and turns it into a new type,
        like beef burrito or bean burrito.
    </p>
    <input type="hidden" role="uploadcare-uploader" />
    <input type="hidden" role="uploadcare-uploader" />
</form>
