<p>
  With enabled preview step:
  <input type="hidden" role="uploadcare-uploader" data-preview-step="true" />
</p>

<p>
  With enabled preview step and shrink:
  <input type="hidden" role="uploadcare-uploader" data-preview-step="true"
         data-image-shrink="1024x1024"/>
</p>
