<ul>
  <li><a href="/welcome/index">index</a></li>
  <li><a href="/welcome/locale">locale</a></li>
  <li><a href="/welcome/form">form</a></li>
  <li><a href="/welcome/preview_step">preview</a></li>
  <li><a href="/welcome/crop">crop</a></li>
  <li><a href="/welcome/with_value">with value</a></li>
</ul>
