<% content_for :head do %>
  <style>
    body {
      font-family: verdana;
    }
    dt {
      font-family: monospace;
      margin-bottom: .5em;
    }
    dd {
      margin: 0 0 1.5em 0;
    }

    .uploadcare-widget-status-loaded .uploadcare-widget-status {
      display: inline-block;
    }
    .lh-10, .lh-10 .uploadcare-widget {
      line-height: 1.0;
    }
    .lh-14, .lh-14 .uploadcare-widget {
      line-height: 1.3;
    }
    .lh-20 {
      line-height: 1.3;
    }
    .lh-20 .uploadcare-widget {
      line-height: 2.0;
    }
  </style>
<% end %>

<dl>
  <dt>.uploadcare-dialog-button</dt>
  <dd>
    <button class="uploadcare-dialog-button">click me</button>
  </dd>

  <dt>
    .uploadcare-dialog-button[disabled], <br>
    .uploadcare-dialog-button.uploadcare-disabled-el
  </dt>
  <dd>
    <button class="uploadcare-dialog-button" disabled>click me</button>
  </dd>

  <dt>.uploadcare-dialog-button-success</dt>
  <dd>
    <button class="uploadcare-dialog-button-success">click me</button>
  </dd>

  <dt>
    .uploadcare-dialog-button-success[disabled], <br>
    .uploadcare-dialog-button-success.uploadcare-disabled-el
  </dt>
  <dd>
    <button class="uploadcare-dialog-button-success" disabled>click me</button>
  </dd>
</dl>

<table border="0">
    <tr>
    <td style="font-size: 12px" class="lh-10">
      prev line<br>
      <input type="hidden" role="uploadcare-uploader" data-clearable><br>
      next line
    </td>
    <td style="font-size: 12px" class="lh-14">
      prev line<br>
      <input type="hidden" role="uploadcare-uploader" data-clearable><br>
      next line
    </td>
    <td style="font-size: 12px" class="lh-20">
      prev line<br>
      <input type="hidden" role="uploadcare-uploader" data-clearable><br>
      next line
    </td>
  </tr>
  <tr>
    <td style="font-size: 16px" class="lh-10">
      prev line<br>
      <input type="hidden" role="uploadcare-uploader" data-clearable><br>
      next line
    </td>
    <td style="font-size: 16px" class="lh-14">
      prev line<br>
      <input type="hidden" role="uploadcare-uploader" data-clearable><br>
      next line
    </td>
    <td style="font-size: 16px" class="lh-20">
      prev line<br>
      <input type="hidden" role="uploadcare-uploader" data-clearable><br>
      next line
    </td>
  </tr>
  <tr>
    <td style="font-size: 24px" class="lh-10">
      prev line<br>
      <input type="hidden" role="uploadcare-uploader" data-clearable><br>
      next line
    </td>
    <td style="font-size: 24px" class="lh-14">
      prev line<br>
      <input type="hidden" role="uploadcare-uploader" data-clearable><br>
      next line
    </td>
    <td style="font-size: 24px" class="lh-20">
      prev line<br>
      <input type="hidden" role="uploadcare-uploader" data-clearable><br>
      next line
    </td>
  </tr>
</table>

<p>
  Draggable:<br>
  <img src="https://secure.gravatar.com/avatar/afec5e3f528823759c4b1eb2d26bc0a2" alt="" />
</p>
<script>
  $(function() {
    var all = $('table input').map(function() {
      return uploadcare.Widget(this);
    }).get();
    $.each(all, function() {
      var widget = this;
      widget.onChange(function(file) {
        $.each(all, function() {
          if (this !== widget) {
            this.value(file);
          }
        });
      });
    })
  });
</script>
