<% content_for :head do %>
  <style>
    dt {
      font-family: monospace;
      margin-bottom: .5em;
    }

    dd {
      margin: 0 0 1.5em 0;
    }

    .uploadcare-dialog .uploadcare-dialog-panel {
      width: auto;
      min-width: 600px;
      max-width: 1000px;
    }
    #placeholder {
      width: 800px;
      height: 616px;
      background: url(/assets/uploadcare/images/loading-spinner.gif) no-repeat 50% 50%;
      background-size: 25px 25px;
    }
    #placeholderholder {
      width: 800px;
      margin: 50px;
    }
    #placeholderholder .uploadcare-dialog-panel {
      box-shadow: 0 20px 50px rgba(0,0,0,.5);
    }
  </style>
  <script>
    function replace() {
      uploadcare.openPanel('#placeholder').done(function(file) {
        file.done(function(fileInfo) {
          window.location = fileInfo.cdnUrl;
        }).fail(replace);
      }).fail(replace);
    }
    $(replace);
  </script>
<% end %>

<dl>
  <dt>.uploadcare-dialog-button</dt>
  <dd>
    <button class="uploadcare-dialog-button">click me</button>
  </dd>

  <dt>
    .uploadcare-dialog-button[disabled], <br>
    .uploadcare-dialog-button.uploadcare-disabled-el
  </dt>
  <dd>
    <button class="uploadcare-dialog-button" disabled>click me</button>
  </dd>

  <dt>.uploadcare-dialog-button-success</dt>
  <dd>
    <button class="uploadcare-dialog-button-success">click me</button>
  </dd>

  <dt>
    .uploadcare-dialog-button-success[disabled], <br>
    .uploadcare-dialog-button-success.uploadcare-disabled-el
  </dt>
  <dd>
    <button class="uploadcare-dialog-button-success" disabled>click me</button>
  </dd>
</dl>

<input type="hidden" role="uploadcare-uploader" data-crop="">

<div id="placeholderholder">
  <div id="placeholder"></div>
</div>
