<% content_for :head do %>
  <style>
    dt {
      font-family: monospace;
      margin-bottom: .5em;
    }

    dd {
      margin: 0 0 1.5em 0;
    }

    .uploadcare-dialog .uploadcare-dialog-panel {
      width: auto;
      min-width: 600px;
      max-width: 1000px;
    }
  </style>
<% end %>

<dl>
  <dt>.uploadcare-dialog-button</dt>
  <dd>
    <button class="uploadcare-dialog-button">click me</button>
  </dd>

  <dt>
    .uploadcare-dialog-button[disabled], <br>
    .uploadcare-dialog-button.uploadcare-disabled-el
  </dt>
  <dd>
    <button class="uploadcare-dialog-button" disabled>click me</button>
  </dd>

  <dt>.uploadcare-dialog-button-success</dt>
  <dd>
    <button class="uploadcare-dialog-button-success">click me</button>
  </dd>

  <dt>
    .uploadcare-dialog-button-success[disabled], <br>
    .uploadcare-dialog-button-success.uploadcare-disabled-el
  </dt>
  <dd>
    <button class="uploadcare-dialog-button-success" disabled>click me</button>
  </dd>
</dl>

<input type="hidden" role="uploadcare-uploader" data-crop="">
