<p>
  images only, 500kb max<br>
  <input role="uploadcare-uploader" data-preview-step id="test1" value="">
</p>

<p>
  1mb max<br>
  <input role="uploadcare-uploader" data-multiple id="test2" value="">
</p>

<p>
  images only, horizontal images<br>
  <input role="uploadcare-uploader" data-crop id="test3" value="">
</p>

<script>
  UPLOADCARE_LOCALE_TRANSLATIONS = {
    errors: {
      vertical: "Horizontal images only"
    },
    dialog: {tabs: {preview: {error: {
      vertical: {
        title: 'No vertical images is allowed.',
        text: 'We are sory but image should be horizontal.',
        back: 'Back'
      }
    } } } }
  }

  $(function() {
    function imagesOnly(info) {
      if ( ! info.isImage) {
        throw new Error('image');
      }
      console.log('image loaded', info);
    }

    function horizontalImage(info) {
      if (info.isImage) {
        if (info.originalImageInfo.height > info.originalImageInfo.width) {
          throw new Error('vertical');
        }
      }
    }

    function maxSize(size) {
      return function (info) {
        if (info.size > size) {
          throw new Error('size');
        }
        console.log('small loaded', info);
      }
    }

    uploadcare.Widget('#test1').validators.push(imagesOnly);
    uploadcare.Widget('#test1').validators.push(maxSize(512 * 1024));

    uploadcare.MultipleWidget('#test2').validators.push(maxSize(1024 * 1024));

    uploadcare.Widget('#test3').validators.push(imagesOnly);
    uploadcare.Widget('#test3').validators.push(horizontalImage);
  });
</script>
