<p>With CDN URL value:<br>
  <input type="hidden" data-public-key="4e403b891fa45b0b5f5b" role="uploadcare-uploader" value="http://staging0.ucarecdn.com/f1577f70-7559-4f87-97a7-86801d8f1753/-/crop/200x300/center/-/scale_crop/100x100/center/" data-crop/></p>

<p>With custom domain CDN URL value:<br>
  <input type="hidden" data-public-key="4e403b891fa45b0b5f5b" role="uploadcare-uploader" value="http://my-static.com/f1577f70-7559-4f87-97a7-86801d8f1753/-/scale_crop/100x100/center/" /></p>

<p>With UUID value:<br>
  <input type="hidden" data-public-key="4e403b891fa45b0b5f5b" role="uploadcare-uploader" value="f1577f70-7559-4f87-97a7-86801d8f1753" /></p>

<p>With custom URL value (incorrect): <br>
  <input type="hidden" data-public-key="4e403b891fa45b0b5f5b" role="uploadcare-uploader" value="https://staging0.ucarecdn.com/assets/images/olympia.0939bbb3e820.jpg" /></p>

<p>With invalid value:<br>
  <input type="hidden" data-public-key="4e403b891fa45b0b5f5b" role="uploadcare-uploader" value="error" /></p>

<p>With invalid UUID value:<br>
  <input type="hidden" data-public-key="4e403b891fa45b0b5f5b" role="uploadcare-uploader" value="error/f1577f70-7559-4f87-97a7-86801d8f1753" /></p>
