<p>With CDN URL value: <input type="hidden" role="uploadcare-uploader" value="http://staging0.ucarecdn.com/ad40a682-37f3-45c2-846f-7d8f4d801059/-/scale_crop/100x100/center/" /></p>
<p>With custom URL value: <input type="hidden" role="uploadcare-uploader" value="https://staging0.ucarecdn.com/assets/images/olympia.0939bbb3e820.jpg" /></p>
<p>With UUID value: <input type="hidden" role="uploadcare-uploader" value="ad40a682-37f3-45c2-846f-7d8f4d801059" /></p>
<p>With invalid value: <input type="hidden" role="uploadcare-uploader" value="error" /></p>
<p>With invalid UUID value: <input type="hidden" role="uploadcare-uploader" value="error/ad40a682-37f3-45c2-846f-7d8f4d801059" /></p>
