<p>With CDN URL value: <input type="hidden" role="uploadcare-uploader" value="http://staging0.ucarecdn.com/d3680b56-bd40-4d41-84ac-f50c707c0944/-/scale_crop/100x100/center/" /></p>
<p>With custom URL value: <input type="hidden" role="uploadcare-uploader" value="https://staging0.ucarecdn.com/assets/images/olympia.0939bbb3e820.jpg" /></p>
<p>With UUID value: <input type="hidden" role="uploadcare-uploader" value="d3680b56-bd40-4d41-84ac-f50c707c0944" /></p>
<p>With invalid value: <input type="hidden" role="uploadcare-uploader" value="error" /></p>
<p>With invalid UUID value: <input type="hidden" role="uploadcare-uploader" value="error/d3680b56-6666-6666-84ac-f50c707c0944" /></p>
