@import "../_icons";
@import "_colors";
@import "panel/index";

.uploadcare-dialog-tabs {
  height: 63px;

  background-image: $menu-icon;
  background-repeat: no-repeat;
  background-position: 27px 20px;
}

.uploadcare-dialog-tab {
  display: none;

  width: 100%;
  height: 100%;

  &_current {
    display: block;
  }
}

.uploadcare-dialog-opened-tabs {
  .uploadcare-dialog-tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $opened-tabs-background-color;
    z-index: 1000;
    overflow: auto;
    padding-top: 63px;
  }

  .uploadcare-dialog-tab {
    display: block;
    position: relative;

    background-repeat: no-repeat;
    background-position: 25px 50%;
    background-size: 25px 25px;

    height: 60px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 13px;
      left: 17px;
      width: 35px;
      height: 35px;
      @include tab-icon;
      opacity: 0.71;
    }

    @each $tab in $tabs {
      &-#{$tab}::before {
        background-position: get-tab-icon-position("light", $tab);
      }
    }

    &::after {
      content: attr(title);
      margin-left: 96px;
      font-size: 17px;
      color: $opened-tabs-color;
      padding-top: 21px;
      display: block;
    }

    &_hidden {
      display: none;
    }

    &_current {
      background-color: $opened-tabs-current-background-color;

      @each $tab in $tabs {
        &.uploadcare-dialog-tab-#{$tab}::before {
          background-position: get-tab-icon-position("dark", $tab);
        }
      }

      &::after {
        color: $opened-tabs-current-color;
      }
    }
  }
}