@import "../_icons";
@import "_colors";
@import "panel/index";

.uploadcare-dialog-tabs {
  height: 63px;

  background-image: $menu-icon;
  background-repeat: no-repeat;
  background-position: 27px 20px;

  &-panel {
    text-align: center;
    display: none;

    &_current {
      display: block;
    }
  }
}

.uploadcare-dialog-tab {
  display: none;

  width: 100%;
  height: 100%;

  &_current {
    display: block;
  }
}

.uploadcare-dialog-opened-tabs {
  .uploadcare-dialog-tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $opened-tabs-background-color;
    z-index: 1000;
    overflow: auto;
    padding-top: 63px;
  }

  .uploadcare-dialog-tab {
    display: block;

    background-repeat: no-repeat;
    background-position: 25px 50%;
    background-size: 25px 25px;

    height: 60px;

    &_hidden {
      display: none;
    }

    &-file {
      background-image: $file-icon;
    }
    &-camera {
      background-image: $camera-icon;
    }
    &-url {
      background-image: $url-icon;
    }
    &-facebook {
      background-image: $facebook-icon;
    }
    &-gdrive {
      background-image: $gdrive-icon;
    }
    &-dropbox {
      background-image: $dropbox-icon;
    }
    &-instagram {
      background-image: $instagram-icon;
    }
    &-evernote {
      background-image: $evernote-icon;
    }
    &-flickr {
      background-image: $flickr-icon;
    }
    &-skydrive {
      background-image: $skydrive-icon;
    }
    &-huddle {
      background-image: $huddle-icon;
    }
    &-vk {
      background-image: $vk-icon;
    }
    &-box {
      background-image: $box-icon;
    }

    &::after {
      content: attr(title);
      margin-left: 96px;
      font-size: 17px;
      color: $opened-tabs-color;
      padding-top: 21px;
      display: block;
    }
  }
}