@import "../_settings";
@import "panel/index";
$tab-icon-top: ($dialog-header-height - $tab-icon-size) / 2;

.uploadcare-dialog-tabs {
  height: $dialog-header-height;

  background-image: $menu-icon;
  background-repeat: no-repeat;
  background-position: $dialog-gutter-x 24.5px;
}

.uploadcare-dialog-tab {
  position: relative;

  display: none;

  width: 100%;
  height: 100%;

  &::before {
    position: absolute;
    top: $tab-icon-top;
    left: 50%;

    display: block;

    width: $tab-icon-size;
    height: $tab-icon-size;
    margin-left: ($tab-icon-size / 2) * -1;

    content: "";

    opacity: 0.4;

    @include tab-icon;
  }

  &_current {
    display: block;
  }
}

.uploadcare-dialog-opened-tabs {
  .uploadcare-dialog-tabs {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    overflow: auto;

    width: 100%;
    height: 100%;
    padding-top: $dialog-header-height;

    background: $tabs-opened-background-color;
  }

  .uploadcare-dialog-tab {
    display: block;

    height: $dialog-header-height;

    &::before {
      top: $tab-icon-top;
      left: $dialog-gutter-x * 0.7;

      margin-left: 0;

      opacity: 0.71;
    }

    &::after {
      font-size: $dialog-font-base-size;

      display: block;

      margin-left: $dialog-gutter-x * 3;
      padding-top: ($dialog-header-height - $dialog-font-base-size) / 2;

      content: attr(title);

      color: $tabs-opened-color;
    }

    &_hidden {
      display: none;
    }

    &_current {
      background-color: $tabs-opened-current-background-color;

      &::after {
        color: $tabs-opened-current-color;
      }
    }
  }
}

.uploadcare-dialog-opened-tabs {
  @each $tab in $tabs {
    .uploadcare-dialog-tab-#{$tab}::before {
      background-position: get-tab-icon-position("light", $tab);
    }
  }
}

@each $tab in $tabs {
  .uploadcare-dialog-tab_current.uploadcare-dialog-tab-#{$tab}::before {
    background-position: get-tab-icon-position("dark", $tab);
  }
}

.uploadcare-dialog-tab_current.uploadcare-dialog-tab-file::before {
  background-position: $tab-icon-size * -1;

  .uploadcare-dialog-opened-tabs & {
    background-position: get-tab-icon-position("dark", "file");
  }
}

.uploadcare-dialog-icon {
  $icon-size: $tab-icon-size * 0.7;

  position: absolute;
  top: ($dialog-header-height - $icon-size) / 2;
  left: 50%;

  width: $icon-size;
  height: $icon-size;
  margin-left: $icon-size / 2;

  .uploadcare-dialog-opened-tabs & {
    left: $dialog-gutter-x;

    margin-left: 0;
  }
}

.uploadcare-widget-circle--canvas {
  canvas {
    width: 100%;
    height: 100%;
  }
}
