:root {
  --menu-item-size: var(--base-size);
  --menu-width: 100vw;

  --menu-back-color: var(--back-main-color);
  --menu-color: var(--color-base-light);
  --menu-disable-color: var(--color-base-light);
}

@media (--desktop) {
  :root {
    --menu-width: var(--base-size);
  }
}
