.input {
  display: block;

  box-sizing: border-box;

  margin: 10px 0;
  padding: 10px 15px;

  width: 100%;

  border: 1px solid rgba(0, 0, 0, .15);

  font-family: var(--font-family);
  font-weight: 300;
  font-size: 17.5px;
  line-height: 20px;

  background: #fff;
  color: #454545;

  &:focus {
    outline: #3787ec auto 5px;
    outline-offset: -2px;
  }

  &::placeholder {
    color: #9b9b9b;
  }
}
