.input {
  display: block;

  box-sizing: border-box;

  margin: 10px 0;
  padding: 10px 15px;

  width: 100%;

  font-size: 17.5px;
  line-height: 25px;

  background: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  box-shadow: none;
  color: #454545;

  &:focus {
    outline: color(#157cfc a(50%)) 2px solid;
    outline-offset: 1px;
  }

  &::placeholder {
    color: #9b9b9b;
  }
}
