.link {
  &,
  &:link,
  &:visited {
    cursor: pointer;
    color: #3787ec;
    text-decoration: none;
    border-bottom: 1px dotted #3787ec;
    border-color: initial;
  }

  &:hover, &:focus {
    color: #34a3ff;
  }

  &:active {
    color: #3274e7;
  }
}
