.link {
  &,
  &:link,
  &:visited {
    cursor: pointer;

    color: #157cfc;

    text-decoration: underline;
  }

  &:hover, &:focus {
    color: #2a90ff;

    text-decoration: none;
  }

  &:focus {
    outline: color(#157cfc a(50%)) 2px solid;
    outline-offset: 1px;
  }

  &:active {
    color: #176dea;
  }
}
