@import '_config.pcss';

.panel {
	display: none;

	background-color: #fff;
	color: var(--gray-69);

	font-family: var(--font-family);
	font-size: 15px;
	line-height: 1;
}

.panel_current {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1 0 auto;
}

.panel__action-button {

}
