/* TODO Add svg logo of Uploadcare */

.powered-by {
  font-size: 12.5px;
  line-height: 15px;

  color: #fff;

  text-align: center;
}

.powered-by__link {
  color: #fff !important;
  text-decoration: none !important;

  &:hover, &:focus {
    color: #ececec !important;
  }
}

.powered-by__logo {
  width: auto;
  height: 15px;

  vertical-align: text-bottom;
}
