.powered-by {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 12.5px;
  line-height: 15px;

  color: #fff;

  text-align: center;
}

.powered-by__link {
  display: inline-flex;

  color: #fff !important;
  text-decoration: none !important;

  &:hover, &:focus {
    color: #ececec !important;
  }
}

.powered-by__logo {
  display: inline-flex;
  width: 20px;
  height: 15px;

  vertical-align: text-bottom;
}
