@import '_config.pcss';

/* TODO Add svg logo of Uploadcare */

.powered-by {
  font-size: 12.5px;
  line-height: 15px;

  color: #fff;

  text-align: center;
}

.powered-by__link {
  color: #fff;

  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }

  &:active {
    color: red; /* TODO Change to real active link color */
  }
}
