.preview {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;

	width: 100%;
}

.preview__image-container {
	display: flex;
	justify-content: center;
	flex: 1;

	width: 100%;
}

.preview__image {
	width: auto;
	height: auto;
	max-height: 100%;
}
