.widget__button_type_open {
  background: var(--widget-button-primary-color);
  color: #fff;

  &:hover,
  &:focus {
    background: var(--widget-button-primary-color-hover);
  }

  &:active {
    background: var(--widget-button-primary-color-active);
  }

  &:disabled {
    background: var(--widget-button-color);
  }
}
