.file__remove {
  flex-shrink: 0;

  width: 40px;
  height: 40px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  background-image: svg-load('icons-remove.svg', fill=#454545);
}
