.file_status_uploading {
  &,
  .file__content {
    color: var(--color-base) !important;
  }

  .file__name {
    max-width: calc(var(--file-name-width) - 80px);
  }

  .file__preview {
    background: var(--color-bright);
    color: var(--color-bright) !important;
  }
}
