.file__content {
  flex: 1;

  display: flex;

  &:hover,
  &:focus {
    &,
    .file__preview {
      color: var(--color-primary);
    }
  }

  &:active {
    &,
    .file__preview {
      color: var(--color-primary-dark);
    }
  }

  &:focus {
    outline: var(--focus-outline);
    outline-offset: 2px;
  }
}
