.file__preview {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  float: left;

  box-sizing: border-box;

  margin-right: 10px;
  padding: 2px;
  width: var(--base-size);
  height: var(--base-size);

  overflow: hidden;

  border: 1px solid;
  border-radius: 6px;

  background: transparent;
  color: var(--back-main-color);

  transition: border .3s;
}
