.file__remove {
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;

  color: #d7d7d7;

  transition: color .3s;

  cursor: default;

  &:hover, &:focus {
    color: #157cfc;
  }

  &:focus {
    outline: color(#157cfc a(50%)) 2px solid;
    outline-offset: -2px;
  }

  &:active {
    color: #0969ee;
  }
}
