.file__preview {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  width: 50px;
  height: 50px;

  overflow: hidden;

  border-radius: 50%;

  background: #fff;
  border: 1px solid #5b5b5b;

  .file:hover &,
  .file:focus & {
    border-color: #3787ec;
  }

  .file_error & {
    border-color: rgba(255, 0, 0, .6);
  }

  .file_error:hover &,
  .file_error:focus & {
    border-color: red;
  }

  img {
    max-height: 100%;
  }
}
