.file__name {
	overflow: hidden;

	max-width: 200px; /* TODO Hack for limit block if content has long string without spaces */

	font-size: 16px;
	line-height: 20px;

	white-space: nowrap;
	text-overflow: ellipsis;
}
