.file {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  box-sizing: border-box;

  padding: 10px 5px;

  cursor: default;

  &:hover, &:focus {
    background: color(var(--color-primary-light) a(6%));
  }
}
