/*
  No styles:
  * file__error
  * file__remove
 */
@import '_config.pcss';
@import 'file.pcss';
@import 'file__description.pcss';
@import 'file__icon.pcss';
@import 'file__name.pcss';
@import 'file__preview.pcss';
@import 'file__progressbar.pcss';
@import 'file__size.pcss';
@import 'file_status_error.pcss';
@import 'file_status_uploaded.pcss';
@import 'file_status_uploading.pcss';
