.draganddrop {
  .dragging & {
    margin: 20px;

    background: var(--draganddrop-back-color);
    color: var(--draganddrop-color);
    border: 2px dashed;

    border-radius: 20px;
  }

  &.dragging {
    color: var(--color-primary) !important;
  }
}

.draganddrop:not(.draganddrop_supported) .draganddrop__supported,
.draganddrop_supported .draganddrop__not-supported {
  display: none;
}
