.footer {
  flex-shrink: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  width: 100%;

  margin-top: 10px;
  padding: 5px 20px 15px;

  @media (--mobile) and (orientation: portrait) {
    display: block;
  }

  &:empty {
    display: none;
  }
}

.footer__additions {
  flex-grow: 1;
  order: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  padding: 0 0 15px;

  text-align: center;

  @media (--mobile) and (orientation: landscape) {
    padding: 0 20px;
  }

  @media (max-width: 500px) and (orientation: landscape) {
    display: none;
  }

  @media (--desktop) {
    padding: 0 20px;
  }

  &:empty {
    visibility: hidden;

    padding: 0;
  }
}

.footer__button {
  margin-top: 5px;
  margin-bottom: 5px;

  &:nth-of-type(1) {
    order: 0;
  }

  &:nth-of-type(2) {
    order: 2;
  }

  @media (--mobile) {
    max-width: calc(50% - 20px);
  }

  @media (--mobile) and (orientation: portrait) {
    &:nth-of-type(1) {
      float: left;
    }

    &:nth-of-type(2) {
      float: right;
    }
  }
}
