.camera_ready {
  .camera__button_type_cancel-record,
  .camera__button_type_retry,
  .camera__button_type_stop-record,
  .camera__text-not-found,
  .camera__text-please-allow {
    display: none;
  }
}
