.camera_ready {
	.camera__not-found-text, .camera__please-allow-text {
		display: none;
	}

	.camera__retry-button {
		display: none;
	}

	.camera__stop-record-button, .camera__cancel-record-button {
		display: none;
	}
}
