.camera_denied {
  .camera__button-cancel-record,
  .camera__button-capture,
  .camera__button-mirror,
  .camera__button-start-record,
  .camera__button-stop-record,
  .camera__controls,
  .camera__text-not-found,
  .camera__text-please-allow,
  .camera__video-container {
    display: none;
  }
}
