.camera_recording {
  .camera__button-capture,
  .camera__button-mirror,
  .camera__button-retry,
  .camera__button-start-record,
  .camera__text-not-found,
  .camera__text-please-allow {
    display: none;
  }
}
