.camera_denied {
  .camera__button_type_cancel-record,
  .camera__button_type_capture,
  .camera__button_type_mirror,
  .camera__button_type_start-record,
  .camera__button_type_stop-record,
  .camera__controls,
  .camera__not-found,
  .camera__please-allow,
  .camera__video-container {
    display: none;
  }
}
