@import '_config.pcss';

.camera__controls {
  .camera_denied &, .camera_not-founded &, .camera_requested & {
    display: none;
  }

  .camera__start-record-button, .camera__capture-button {
    margin-left: 10px;
    margin-right: 10px;
  }
}
