.camera_recording {
	.camera__not-found-text, .camera__please-allow-text {
		display: none;
	}

	.camera__retry-button {
		display: none;
	}

	.camera__mirror-button {
		display: none;
	}

	.camera__capture-button, .camera__start-record-button {
		display: none;
	}
}
