.camera__video-container {
	box-sizing: border-box;

	flex: 1;

	display: none;

	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
}

.camera_ready, .camera_recording {
	.camera__video-container {
		display: flex;
	}
}
