.camera_denied {
  .camera__video-container {
    display: none;
  }

  .camera__controls {
    display: none;
  }

  .camera__not-found-text, .camera__please-allow-text {
    display: none;
  }

  .camera__mirror-button {
    display: none;
  }

  .camera__capture-button,
  .camera__start-record-button,
  .camera__stop-record-button,
  .camera__cancel-record-button {
    display: none;
  }
}
