.camera_not-founded {
	.camera__video-container {
		display: none;
	}

	.camera__controls {
		display: none;
	}

	.camera__please-allow-text {
		display: none;
	}

	.camera__retry-button {
		display: none;
	}

	.camera__mirror-button {
		display: none;
	}

	.camera__capture-button,
	.camera__start-record-button,
	.camera__stop-record-button,
	.camera__cancel-record-button {
		display: none;
	}
}
