.camera__controls {
	display: flex;

	box-sizing: border-box;

	/* TODO How to reduce this selector? */
	.camera__mirror-button,
	.camera__capture-button,
	.camera__start-record-button,
	.camera__cancel-record-button,
	.camera__stop-record-button {
		margin: 0 20px 20px;
	}
}
