.file_status_error {
  &,
  .file__description,
  .file__preview {
    color: var(--error-color) !important;
  }

  .file__name {
    color: rgba(var(--error-color), 0.5) !important;
  }

  .file__size,
  .file__progressbar {
    display: none;
  }
}
