@each $type in file, camera, url, facebook, gdrive, gphotos, dropbox, instagram, evernote, flickr, skydrive, box, vk, huddle {
  .file-sources__item_$(type) {
    &:before {
      background-image: svg-load('icons-menu-$(type).svg', fill=#454545);
    }
  }
}
