@import '_config.pcss';

.dialog__container {
  position: relative;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  background: #fff;

  @media (--desktop) {
    & {
      width: calc(100% - 60px);
      max-width: 900px;
      height: calc(100vh - 60px);
      min-height: 500px;
      max-height: 660px;

      overflow: visible;

      background: transparent;
    }
  }
}
