@import '_config.pcss';

.dialog__menu_opened {
  @media (--mobile) {
    & {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2147483640;
    }
  }

  @media (--desktop) {
    & {
      width: 250px;

      margin-right: -180px;

      .menu__item {
        width: 250px;
      }
    }
  }
}
