.dialog__footer {
  padding-top: 15px;

  background: #ececec;

  .dialog:not(.dialog_multiple) &,
  .panel_preview.panel_current ~ & {
    display: none;
  }

  .panel_remote.panel_current ~ & {
    margin-top: 0;
  }
}
