.dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 49;

  box-sizing: border-box;

  width: 60px;
  height: 60px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px;
  background-image: svg-load('icons-close.svg', fill=#d7d7d7);

  cursor: pointer;

  .dragging & {
    display: none;
  }
}
