@import '_config.pcss';

.dialog__content {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;

	background-color: #fff;

	@media (--desktop) {
		& {
			flex-direction: row;
		}
	}
}
