@import '_config.pcss';

.dialog__footer {
	display: none;

	@media (--desktop) {
		& {
			box-sizing: border-box;

			display: block;

			position: absolute;
			top: calc(100% + 7.5px);
			left: 0;

			width: 100%;

			padding-left: 70px;
		}
	}
}
