.dialog_menu-hidden {
  @media (--mobile) {
    .panel__header {
      padding: 6px var(--base-size) 0;
      min-height: var(--base-size);
    }
  }

  @media (--desktop) {
    .panel__header {
      display: flex;
      align-items: center;

      height: var(--base-size);
    }
  }
}
