@import '_config.pcss';

.dialog__menu_opened {
  @media (--mobile) {
    & {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2147483640;
    }
  }

  @media (--desktop) {
    & {
      width: 200px;

      margin-right: -130px;
    }
  }
}
