.dialog__container {
  display: flex;

  position: relative;

  overflow: hidden;

  background: #fff;

  @media (--mobile) {
    & {
      flex: 1 0 100%;
    }
  }

  @media (--desktop) {
    & {
      width: calc(100% - 60px);
      max-width: 900px;
      height: calc(100% - 60px);
      min-height: 500px;
      max-height: 660px;
    }
  }

  @media (--large) {
    max-width: 1090px;
  }
}
