@import 'dialog.pcss';
@import 'dialog__container.pcss';
@import 'dialog__icon.pcss';
@import 'dialog__close.pcss';
@import 'dialog__content.pcss';
@import 'dialog__menu.pcss';
@import 'dialog__footer.pcss';
