@import 'dialog.pcss';
@import 'dialog__close.pcss';
@import 'dialog__container.pcss';
@import 'dialog__main.pcss';
@import 'dialog__panel.pcss';
@import 'dialog__powered-by.pcss';
@import 'dialog_active.pcss';
@import 'dialog_menu-hidden.pcss';
