@import 'dialog.pcss';
@import 'dialog__container.pcss';
@import 'dialog__panel.pcss';
@import 'dialog__main.pcss';
@import 'dialog__icon.pcss';
@import 'dialog__close.pcss';
@import 'dialog__content.pcss';
@import 'dialog__footer.pcss';
@import 'dialog__menu.pcss';
@import 'dialog__menu_opened.pcss';
@import 'dialog__menu_hidden.pcss';
@import 'dialog__powered-by.pcss';
@import 'dialog__file-counter.pcss';
@import 'dialog_active.pcss';
@import 'dialog_inactive.pcss';
