<div class="uploadcare-dialog-title">My computer</div>
<ul class="uploadcare-dialog-support">
    <li class="uploadcare-dialog-support-images" title="Images"></li>
    <li class="uploadcare-dialog-support-audio" title="Audio"></li>
    <li class="uploadcare-dialog-support-video" title="Video"></li>
    <li class="uploadcare-dialog-support-documents" title="Documents"></li>
</ul>
<div class="uploadcare-dialog-section">
    <p>Grab any file off your computer.</p>
    <p>Browse for it in a dialog or drag and drop.</p>
</div>
<button type="button" role="uploadcare-dialog-browse-file">Browse files</button>
<div class="uploadcare-dialog-drop-file" role="uploadcare-dialog-drop-file">Drop the file here</div>
