<div class="uploadcare-dialog-title">Files from the Web</div>
<ul class="uploadcare-dialog-support">
    <li class="uploadcare-dialog-support-images" title="Images"></li>
    <li class="uploadcare-dialog-support-audio" title="Audio"></li>
    <li class="uploadcare-dialog-support-video" title="Video"></li>
    <li class="uploadcare-dialog-support-documents" title="Documents"></li>
</ul>
<div class="uploadcare-dialog-section">
    <p>Grab any file off the web.</p>
    <p>Just provide the link.</p>
</div>
<form role="uploadcare-dialog-url-form">
    <input type="text" role="uploadcare-dialog-url-input" placeholder="Paste your link here...">
    <button type="submit" role="uploadcare-dialog-url-submit">Upload</button>
</form>
