<div class="uploadcare-dialog-title">Images from Instagram</div>
<ul class="uploadcare-dialog-support">
    <li class="uploadcare-dialog-support-images" title="Images"></li>
</ul>
<div class="uploadcare-dialog-section">
    <p>Grab any file off the web.</p>
    <p>Just provide the link.</p>
</div>
