.file-source_all {
  order: 1;

  background: #fff;
  color: #157cfc;
  border: 1px solid currentColor;

  &:hover, &:focus {
    background: #2a90ff;
    border-color: #2a90ff;
    color: #fff;
  }

  &:active {
    background: #176dea;
    border-color: #176dea;
    color: #fff;
  }
}
