@import 'panel.pcss';
@import 'panel__title.pcss';
@import 'panel__title_lead.pcss';
@import 'panel__text.pcss';
@import 'panel__or-text.pcss';
@import 'panel__iframe.pcss';
@import 'panel__header.pcss';
@import 'panel__content.pcss';
@import 'panel__footer.pcss';
@import 'panel_current.pcss';
@import 'panel_draganddrop.pcss';
