@import '_config.pcss';

.panel {
  display: none;

  background-color: #fff;
  color: var(--gray-69);

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 100;
  line-height: 1;

  text-align: center;
}
