@import '_config.pcss';

.panel__footer-additions {
	@media (--mobile) {
		& {
			flex: 0 1 100%;
			order: -1;

			display: flex;
			flex-direction: column;
			justify-content: center;

			box-sizing: border-box;
		}
	}
}
