@import '_config.pcss';

.panel__text {
	margin: 10px auto;

	font-size: 16px;
	line-height: 20px;

	@media (--desktop) {
		& {
			max-width: 70%;

			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}
