@import '_config.pcss';

.panel__footer {
	box-sizing: border-box;

	flex: 0 0 auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	min-height: 100px;

	padding: 10px 20px;

	@media (--mobile) {
		& {
			min-height: 60px;
		}
	}
}
