@import '_config.pcss';

.panel__footer-additions {
  flex: 0 1 100%;

  display: flex;
  justify-content: center;

  box-sizing: border-box;

  padding: 20px 0;

  @media (--mobile) {
    & {
      order: -1;
    }
  }

  @media (--desktop) {
    & {
      padding: 0 20px;
    }
  }

  &:empty {
    display: none;
  }
}
