.panel__header {
  flex: 0 0 auto;

  padding: 0 20px;

  overflow: hidden;

  @media (--desktop) {
    display: flex;
    align-items: center;

    padding-right: var(--base-size);
    height: var(--base-size);
  }
}
