@import '_config.pcss';

.panel__or-text {
	margin-top: 10px;
	margin-bottom: 10px;

	font-size: 13px;
	font-weight: 300;
	line-height: 15px;

	text-align: center;

	color: var(--gray-155);

	@media (--desktop) {
		& {
			font-size: 15px;
		}
	}
}
