.panel__content {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow-y: auto;

  padding: 0 20px;

  .panel_preview & {
    overflow-y: visible;
  }
}
