.panel__footer-additions {
  flex: 0 1 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  padding: 0 0 20px;

  @media (--mobile) and (orientation: portrait) {
    & {
      order: -1;
    }
  }

  @media (--mobile) and (orientation: landscape) {
    & {
      padding: 0 20px;
    }
  }

  @media (--desktop) {
    & {
      padding: 0 20px;
    }
  }

  &:empty {
    display: none;
  }
}
