@import '_config.pcss';

.panel__title {
  margin: 10px auto;
  padding: 0;

  font-size: 22px;
  line-height: 30px;

  text-align: center;

  color: var(--gray-69);

  @media (--desktop) {
    & {
      margin-top: 15px;
      margin-bottom: 15px;

      font-size: 30px;
      line-height: 40px;
    }
  }
}
