@import '_config.pcss';

.panel__footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	width: 100%;

	margin: 15px 0;

	@media (--desktop) {
		& {
			margin: 20px 0;
		}
	}
}
