name: checks

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install dependencies
        working-directory: ./
        run: npm ci
      - name: Run build
        run: npm run build
      - name: Run test
        run: npm run test

